
<h2 align="center">Perfil de usuario</h2>

<h4>Opciones</h4><br>



    <form class="form-horizontal">

        <div class="form-group">

            <label class="col-xs-2 control-label" for="inputSuccess">Correo eletrónico</label>

            <div class="col-xs-10">

                <input type="email" id="inputSuccess" class="form-control" placeholder="{{correo_electronico}}">

            </div>

        </div>

        <div class="form-group">

            <label class="col-xs-2 control-label" for="inputWarning">Contraseña</label>

            <div class="col-xs-10">

                <input type="password" id="inputWarning" class="form-control" placeholder="">

            </div>

        </div>

        <div class="form-group">

            <label class="col-xs-2 control-label" for="inputWarning">Repetición Contraseña</label>

            <div class="col-xs-10">

                <input type="password" id="inputWarning" class="form-control" placeholder="">

            </div>

        </div>

        <div class="form-group">

            <label class="col-xs-2 control-label" for="nombres">Nombres</label>

            <div class="col-xs-10">

                <input type="text" id="nombres" class="form-control" placeholder="">

            </div>

        </div>

        <div class="form-group">

            <label class="col-xs-2 control-label" for="apellidos">Apellidos</label>

            <div class="col-xs-10">

                <input type="text" id="apellidos" class="form-control" placeholder="">

            </div>

        </div>

        <div class="form-group">

            <label class="col-xs-2 control-label" for="direccion">Dirección</label>

            <div class="col-xs-10">

                <input type="text" id="direccion" class="form-control" placeholder="">

            </div>

        </div>

        <div class="form-group">
            <div class="col-xs-6"></div>
            <div class="col-xs-6">

                <button ng-click="preGuardarCambios()" title="guardar cambios" class="btn btn-primary"><i class="fa fa-floppy-o"></i></button>
                  <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>

            </div>

        </div>


    </form>

