
<style type="text/css">

.td_table_numeros:hover {
  background-color: #b5d7f5;
   cursor: pointer !important;
   color: black;

}

.tr_table_numeros{
  background-color: #f9f9f9;
}

.icon_button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}

.btn-sinmargen {
    padding: 0px !important;
    margin: 0px !important;
}

</style>

<div class="container">
    <div style="height: 10px"></div>
    <h2 align="center"><b>Catalogación de {{nombre_recurso}}</b></h2>
    <div class="row">
        <div class="col-xs-12" align="center" style="padding: 15px">
            <div align="center" class="btn-group" role="group"  ariafta-label="...">
                 <a type="button" href="#/catalogacion/publicacionesSeriadas" class="btn btn-primary" >Principal</a>
                <a  type="button" href="#/catalogacion/numeros" class="btn btn-cat-opc" ><b>Números</b></a>
                <a ng-class = "deshabilitarOpcion()" type="button" href="#/catalogacion/autores" class="btn btn-primary" >Autores</a>
                <a ng-class = "deshabilitarOpcion()"  type="button" href="#/catalogacion/titulos" class="btn  btn-primary"  >Títulos</a>
                <a ng-class = "deshabilitarOpcionEjemplar()" type="button" href="#/catalogacion/ejemplares" class="btn btn-primary " >Ejemplares</a>
                <a ng-class = "deshabilitarOpcion()" type="button" href="#/catalogacion/descriptores" class="btn  btn-primary" >Descriptores</a>
                <a ng-class = "deshabilitarOpcion()" type="button" href="#/catalogacion/soporte" class="btn btn-primary" >Soporte</a>
                <a ng-class = "deshabilitarOpcion()" type="button" href="#/catalogacion/conferencias" class="btn btn-primary" >Conferencia</a>
            </div>
        </div>
    </div>

    <form class = "recuadro" ng-submit="submitNumeros()">
        <div class="row ">
            <div class="col-xs-12 col-md-5"></div>
            <div class="col-xs-12 col-sm-6 col-md-3"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 mtb-2px" align="right">
               
                <button  ng-disabled = "numero_seleccionado == ''" type = "submit"  class="btn btn-default mr-5px" ng-click="msjConfirmacion= '¿Está seguro que desea modificar este numero?'" title = "Guardar">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                </button>
               
                <button  type="button" class="btn btn-default mr-5px" ng-click="msjConfirmacion= '¿Está seguro que desea limpiar toda la información cargada en pantalla?';  " data-toggle="modal" data-target="#confirmacionNumeros"  title = "Eliminar" >
                    <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                </button>
                <button type="button" ng-disabled = "numero_seleccionado == ''" class="btn btn-default" ng-click="msjConfirmacion= '¿Está seguro que desea eliminar este número?'; msjInformacion= 'Se limpió la pantalla exitosamente'" data-toggle="modal" data-target="#confirmacionNumeros" title = "Limpiar" >
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>
        </div>
       
        <div class="row">
        	<div class=" col-md-12 form-horizontal">
                <h4><b>Detalles del número asociado a la publicación seriada</b></h4>
                <div class = "recuadro ">
                    <div class="form-group">
                        <label for="url" class="control-label col-xs-12 col-sm-2">Pág./Colación:</label>
                        <div class="col-xs-10 col-sm-3" style="padding-right: 0px !important" >
                            <input  ng-disabled = "numero_seleccionado == ''" id = "url" type="text" class="form-control" placeholder="Pág./Colación" ng-model="colacion" autocomplete="off" >
                        </div>
                 
                        <label for="colacion" class="control-label col-xs-12 col-sm-2">Numeración:</label>
                        <div class="col-xs-10 col-sm-3" style="padding-right: 0px !important" >
                            <input ng-disabled = "numero_seleccionado == ''" id="colacion" type="text" class="form-control" placeholder="Numeración" ng-model="numeracion" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="datosad" class="control-label col-xs-12 col-sm-2">Datos adicionales:</label>
                        <div class="col-xs-10 col-sm-3" style="padding-right: 0px !important" >
                            <input ng-disabled = "numero_seleccionado == ''" id = "datosad" type="text" class="form-control" placeholder="Datos adicionales" ng-model="datos_adicionales" autocomplete="off" >
                        </div>
                         <div class="control-label col-xs-12 col-sm-5" >            
                        <input ng-disabled = "numero_seleccionado == ''" id="numeracion" type="checkbox" ng-model="existenciaEjemplar" ng-true-value="'I'" ng-false-value="'E'"> No se tienen ejemplares de este número
                    </div>
                   
                    <br>
                    <div style = "clear:both "></div>
                 </div>
            </div>
    	    <div class=" col-md-12 form-horizontal">
    	        <h4><b>Administracion de números asociados a la publicación seriada</b></h4>
    	 		<div class = "recuadro "> 
    		         	<button title = "Agregar volumen" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_volumen">
                        <i class="fa fa-plus"></i> Agregar volumen 
    	    			</button>
               	
    		    	<br><br>
    		    	<p ng-hide = "volumenes_numeros.length == 0" >Por favor seleccione un número de la publicación seriada:</p>
    			    <table  ng-hide = "volumenes_numeros.length == 0" style = "width: 100% !important;    height: 100% !important; text-align: center;"  class="table table-bordered  " data-pattern="priority-columns">
    			       <tr class="tr_header_table">
    			          
                          <th  class="header_table">
                             <h2>Editar <br> Vol.-Año</h2>
                          </th>
    			          <th  class="header_table">
    			             <h2>Año</h2>
    			          </th>
                          <th class="header_table">
                             <h2>Vol.</h2>
                          </th>
    			          <th COLSPAN=20000 class="header_table">
    			             <h2>Números </h2>
    			          </th>
    			       </tr>
    			     
               
    			       <tr ng-repeat = "volumen_numeros in volumenes_numeros">
    			          <td style = "cursor: pointer !important" class = "tr_table_numeros td_table_numeros">  <button type = "button" title = "Agregar número"ng-click = "tablaBotonEditarVolumen(volumen_numeros[0].fecha_iso, volumen_numeros[0].fecha_iso_salida, volumen_numeros[0].volumen )" class="icon_button"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                          </button></span></td>
    			          <td class = "tr_table_numeros">{{volumen_numeros[0].fecha_iso_salida}}  </td>
                          <td  class = "tr_table_numeros"> {{volumen_numeros[0].volumen}} </td>
                          <td  ng-class = "agregarClaseNumero(numero)" ng-click = "seleccionarRecurso(numero, $index)" class = "td_table_numeros" ng-repeat = "numero in volumen_numeros "> {{numero.numero}}</td>
                          <td style = "cursor: pointer !important" class = "tr_table_numeros td_table_numeros2">  <button type = "button" title = "Agregar número" ng-click = "tablaBotonAgregar(volumen_numeros[0].fecha_iso, volumen_numeros[0].fecha_iso_salida, volumen_numeros[0].volumen )" class="btn-sinmargen btn-sm icon_button"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button></span></td>

    			       </tr>

    			      
    			    </table>
    			</div>
    	    </div>
    	</div>
    </form>
   
    
</div>
 <!-- Modal Confirmacion submitt-->
        <div id="confirmacionSub" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmación</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{msjConfirmacion}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" ng-click="guardarVolumenes()" class="btn btn-primary">Aceptar</button>
                        
                    </div>
                </div>
            </div>
        </div>

<!-- Modal Confirmacion agregar volumen-->
<div style = "z-index: 30000" id="confirmacionAgregarVolumen" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <p>{{msjConfirmacion}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click= "agregarVolumen()">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Confirmacion editar volumen-->
<div style = "z-index: 30000" id="confirmacionEditarVolumen" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <p>{{msjConfirmacion}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click= "modificarVolumen()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Confirmacion agregar numero-->
<div style = "z-index: 30000" id="confirmacionAgregarNumero" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <p>{{msjConfirmacion}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click= "agregarNumero()">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Confirmacion-->
<div id="confirmacion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <p>{{msjConfirmacion}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click= "limpiarVolumenes()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Informacion-->
<div style = "z-index: 30000" id="informacion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Información</h4>
            </div>
            <div class="modal-body">
                <p>{{msjInformacion}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
    <!-- Modal Loader-->
 <!-- Modal Loader-->
    <div id="loader" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible; z-index:20000">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header"><h3 style="margin:0;">Cargando...</h3></div>
                <div class="modal-body">

                    <div class="progress progress-striped active" style="margin-bottom:0;">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="modal_volumen" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false"  role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form ng-submit = "submitAgregarVolumen()" >
                <div class="modal-header"><h3 style="margin:0;"  >Agregar volumen</h3></div>
                <div class="modal-body">
                     <div class="form-group">
                        <label  style="padding-top: 5px;" for="ano" class="control-label col-xs-12 col-sm-5">*Año:</label>
                            <div class="col-xs-10 col-sm-7" style="padding-right: 0px !important" >
                                <input  ng-trim="false" maxlength="4" ng-change="ano_nuevo_agregar = validarInput(ano_nuevo_agregar)"  required id = "ano" type="text" class="form-control" placeholder="Año" ng-model="ano_nuevo_agregar" autocomplete="off" >
                            </div>
                        </div> 
                        <br>
                        <div  style = "margin-top: 5px"class="form-group">
                            <label style="padding-top: 5px;" for="vol" class="control-label col-xs-12 col-sm-5">*Volumen:</label>
                            <div class="col-xs-10 col-sm-7" style="padding-right: 0px !important" >
                                <input ng-change="volumen_nuevo_agregar = validarInput(volumen_nuevo_agregar)" required id = "vol" type="text" class="form-control" placeholder="Volumen" ng-model="volumen_nuevo_agregar" autocomplete="off" >
                            </div>
                        </div>
                        
                
                        <br>
                        <div style = "margin-top: 10px" class="form-group">
                            <label style = "padding: 0px !important"   for="nroini" class="control-label col-xs-12 col-sm-5">*Nro. Inicial:</label>
                            <div class="col-xs-10 col-sm-7" style="padding-right: 0px !important" >
                                <input ng-trim="false" maxlength="4" ng-change="numero_inicial = validarInput(numero_inicial)" required id = "nroini" type="text" class="form-control" placeholder="Nro. Inicial" ng-model="numero_inicial" autocomplete="off" >
                            </div>
                        </div> 
                        <br>
                         <div style = "margin-top: 15px" class="form-group">
                            <label   for="nrofin" class="control-label col-xs-12 col-sm-5">Nro. Final:</label>
                            <div class="col-xs-10 col-sm-7" style="padding-right: 0px !important" >
                                <input  ng-trim="false" maxlength="4" ng-change="numero_final = validarInput(numero_final)" id = "nrofin" type="text" class="form-control" placeholder="Nro. Final" ng-model="numero_final" autocomplete="off" >
                            </div>
                        </div>
                        <br> 
                </div>
                 <br>
                <div style="clear: both"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type = "submit" class="btn btn-primary" >Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="modal_numero" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false"  role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form ng-submit = "submitAgregarNumero()" >
                <div class="modal-header"><h3 style="margin:0;"  >Agregar numero</h3></div>
                <div class="modal-body">
                     <b> Año: </b>{{ano_numero_agregar}},  <b>Volumen:</b> {{volumen_numero_agregar}}
                    <div style = "margin-top: 10px" class="form-group">
                        <label  style = "padding: 0px !important"   for="nroini" class="control-label col-xs-12 col-sm-5">*Nro. Inicial:</label>
                        <div class="col-xs-10 col-sm-7" style="padding-right: 0px !important" >
                            <input ng-trim="false" maxlength="4" ng-change="numero_inicial = validarInput(numero_inicial)" required id = "nroini" type="text" class="form-control" placeholder="Nro. Inicial" ng-model="numero_inicial" autocomplete="off" >
                        </div>
                    </div> 
                    <br>
                     <div style = "margin-top: 15px" class="form-group">
                        <label   for="nrofin" class="control-label col-xs-12 col-sm-5">Nro. Final:</label>
                        <div class="col-xs-10 col-sm-7" style="padding-right: 0px !important" >
                            <input  ng-trim="false" maxlength="4" ng-change="numero_final = validarInput(numero_final)" id = "nrofin" type="text" class="form-control" placeholder="Nro. Final" ng-model="numero_final" autocomplete="off" >
                        </div>
                    </div> 
                </div>
                 <br>
                <div style="clear: both"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type = "submit" class="btn btn-primary" >Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>


    <!-- Modal Confirmacion-->
    <div style = "z-index:10000" id="confirmacionNumeros" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjConfirmacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" ng-if = "msjConfirmacion== '¿Está seguro que desea eliminar este número?'" ng-click="eliminarNumero()" class="btn btn-primary">Aceptar</button>
                    <button type="button" ng-if = "msjConfirmacion== '¿Está seguro que desea limpiar toda la información cargada en pantalla?'" ng-click="limpiarNumeros()" class="btn btn-primary">Aceptar</button>
                    <button type="button" ng-if = "msjConfirmacion== '¿Está seguro que desea modificar este numero?'" ng-click="guardarNumero()" class="btn btn-primary">Aceptar</button>
                   
                </div>
            </div>
        </div>
    </div>


<div id="modal_editar_volumen" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false"  role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form ng-submit = "submitEditarVolumen()" >
                <div class="modal-header"><h3 style="margin:0;"  >Editar volumen - año</h3></div>
                <div class="modal-body">
                       
                    <div class="form-group">
                        <label  style="padding-top: 5px;" for="ano" class="control-label col-xs-12 col-sm-5">*Año:</label>
                        <div class="col-xs-10 col-sm-7" style="padding-right: 0px !important" >
                            <input  ng-trim="false" maxlength="4" ng-change="ano_nuevo_agregar = validarInput(ano_nuevo_agregar)"  required id = "ano" type="text" class="form-control" placeholder="Año" ng-model="ano_nuevo_agregar" autocomplete="off" >
                        </div>
                    </div> 
                    <br>
                     <div  style = "margin-top: 5px" class="form-group">
                        <label style="padding-top: 5px;" for="vol" class="control-label col-xs-12 col-sm-5">*Volumen:</label>
                        <div class="col-xs-10 col-sm-7" style="padding-right: 0px !important" >
                            <input ng-change="volumen_nuevo_agregar = validarInput(volumen_nuevo_agregar)" required id = "vol" type="text" class="form-control" placeholder="Volumen" ng-model="volumen_nuevo_agregar" autocomplete="off" >
                        </div>
                    </div>
    
                </div>
                 <br>
                <div style="clear: both"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type = "submit" class="btn btn-primary" >Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>


