<div>
   <div class="container">
      <div style="height: 10px"></div>
      <h2 align="center"><b>Catalogación de {{nombre_recurso}}</b></h2>
      <div class="row">
         <div class="col-xs-12" align="center" style="padding: 15px">
            <div align="center" class="btn-group" role="group"  aria-label="...">
               <a type="button" href="#/catalogacion/{{redirect}}" data-target="#{{redirect}}" class="btn btn-primary" >Principal</a>
               <a ng-if = "tipo_recurso == 'serie'" type="button" href="#/catalogacion/numeros" class="btn btn-primary" >Números</a>
               <a type="button" href="#/catalogacion/autores" class="btn btn-primary" >Autores</a>
               
               <a type="button" href="#/catalogacion/titulos" class="btn  btn-primary"  >Títulos</a>
               <a type="button" href="#/catalogacion/ejemplares" class="btn btn-primary " >Ejemplares</a>
               <a type="button" href="#/catalogacion/descriptores" class="btn  btn-primary" >Descriptores</a>
               <a type="button" href="#/catalogacion/soporte" class="btn btn-cat-opc" ><b>Soporte</b></a>
               <a type="button" href="#/catalogacion/conferencias" class="btn btn-primary" >Conferencia</a>
               <a ng-if = "tipo_recurso != 'serie'" type="button" href="#/catalogacion/volumenes" class="btn  btn-primary" >Volúmenes</a>
            </div>
         </div>
      </div>
      <form class= " recuadro" ng-submit="submitFormluarioSoporte()">
         <div class="row ">
            <div class="col-xs-12 col-md-5"></div>
            <div class="col-xs-12 col-sm-6 col-md-3"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 mtb-2px" align="right">
               <button type="submit" class="btn btn-default mr-5px" ng-disabled="!esAgregarSoporte" ng-click="msjConfirmacion= '¿Está seguro que desea agregar este soporte?'">
               <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
               </button>
               <button type="submit" class="btn btn-default mr-5px" ng-disabled="esAgregarSoporte" ng-click="msjConfirmacion= '¿Está seguro que desea modificar este soporte?'">
               <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
               </button>
               <button type="button" class="btn btn-default mr-5px" title="Limpiar" ng-click="msjConfirmacion= '¿Está seguro que desea limpiar toda la información cargada en pantalla?'; msjInformacion= 'Se limpió la pantalla exitosamente'" data-toggle="modal" data-target="#confirmacion">
               <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
               </button>
               <button type="button" class="btn btn-default" title="Eliminar" ng-click="msjConfirmacion= '¿Está seguro que desea eliminar este descriptor?'; msjInformacion= 'Recurso eliminado exitosamente'" data-toggle="modal" data-target="#confirmacionEliminar" ng-disabled="sopSisSel == -1" >
               <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
               </button>
            </div>
         </div>
         <div style="height: 20px"></div>
         <div class="row">
            <div class=" col-md-12 form-horizontal">
               <h4><b>Soporte</b></h4>
               <div class = "recuadro ">
                  <div class="form-group">
                     <label for="nuevo-soporte" class="control-label  col-sm-3 col-xs-12 " style="padding-right: 0px !important">*Nombre del soporte:</label>
                     <div class="col-xs-11 col-sm-4">
                      <input id="nuevo-soporte" type="text" class="form-control" placeholder="Nombre del soporte" ng-model="nombreSoporte" ng-required = 'esAgregarSoporte'  ng-init="paste=false" typeahead="  state for state in loadingStates($viewValue) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="" autocomplete="off" ng-trim = "false" ng-change= "trimRequired('nombreSoporte')" ng-blur = "blurRequired('nombreSoporte')" ng-focus = "auxTrim = nombreSoporte" >
                    </div>
                    <div class="col-xs-1 col-sm-1" style=" padding-top: 7px !important;padding-left: 0px !important;padding-right: 0px !important;">
                          <i ng-show="loadingSoporte" class="glyphicon glyphicon-refresh fa-spin" sty></i>
                    </div>
                  </div>
               </div>
               <h4><b>Soportes existentes</b></h4>
               <div class = "recuadro col-xs-12 ">
                  <table class=" table table-responsive table-striped table-bordered" style="height: 190px !important;">
                     <thead>
                        <tr>
                           <th class="col-xs-12">Soporte</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="sop in sopSistemaMostrar " ng-class = "{'seleccionFila':$index == sopSisSel}" ng-click = "seleccionarSopSis(sop, $index)" ng-dblclick = "agregarSopDocumento()">
                           <td >{{ sop.soporte_salida }}</td>
                        </tr>
                     </tbody>
                  </table>
                  <div style="text-align:center;">
                     <pagination id="mypage"  ng-if ="numPagesSop > 1" total-items="totalItemsSop" ng-model="currentPageSop" ng-change="pageChangedSop(currentPageSop)" max-size="12" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="15" num-pages="numPages"></pagination>                                
                  </div>
                  <pre style="text-align:center;"> Página: {{currentPageSop}} / {{numPagesSop}}</pre>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12">
               <div class="col-xs-12 mtb-2px" align="center">
                  <button ng-disabled = "!esDelRecurso" type="button" class="btn btn-primary mr-5px" ng-click = "eliminarSoporteDelDocumento()" ng-class = "claseFlecha2"  >
                  <b>Eliminar del documento</b>
                  </button>
                  <button ng-disabled = "!esDelSistema" type="button" class="btn btn-primary mr-5px"  ng-click = "agregarSoporteAlDocumento()" ng-class = "claseFlecha">
                  <b>Agregar al documento</b>
                  </button>
               </div>
            </div>
         </div>
         <div class="row">
            <div class=" col-md-12 form-horizontal">
               <h4><b>Soportes del documento</b></h4>
               <div class = "recuadro col-xs-12 ">
                  <table class=" table table-responsive table-striped table-bordered" style="height: 250px !important;">
                     <thead>
                        <tr>
                           <th class="col-xs-12">Soporte</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr ng-repeat="sop in soportesMostrar " ng-class = "{'seleccionFila':$index == sopSel}" ng-click = "seleccionarSoporte(sop, $index)" ng-dblclick = "agregarDescDocumento()">
                            <td >{{ sop.soporte_salida }}                                                             </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>

<!-- Modal Confirmacion-->
 <div id="confirmacion" class="modal fade" role="dialog">
     <div class="modal-dialog modal-sm">
         <!-- Modal content-->
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Confirmación</h4>
             </div>
             <div class="modal-body">
                 <p>{{msjConfirmacion}}</p>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                 <button type="button" class="btn btn-primary" ng-click= "limpiar_todo();">Aceptar</button>
             </div>
         </div>
     </div>
 </div>
 <!-- Modal Informacion-->
 <div id="informacion" class="modal fade" role="dialog">
     <div class="modal-dialog modal-sm">
         <!-- Modal content-->
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Información</h4>
             </div>
             <div class="modal-body">
                 <p>{{msjInformacion}}</p>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
             </div>
         </div>
     </div>
 </div>

 <div id="loader" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
     <div class="modal-dialog modal-sm">
         <div class="modal-content">
             <div class="modal-header"><h3 style="margin:0;">Cargando...</h3></div>
             <div class="modal-body">

                 <div class="progress progress-striped active" style="margin-bottom:0;">
                     <div class="progress-bar" style="width: 100%"></div>
                 </div>
             </div>
         </div>
     </div>
 </div>

 <!-- Modal Confirmacion submit-->
<div id="confirmacionSub" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <p>{{msjConfirmacion}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="agregar_soporte()" class="btn btn-primary" ng-hide = "!esAgregarSoporte">Aceptar</button>
                <button type="button" ng-click="guardar_soporte()" class="btn btn-primary" ng-hide = "esAgregarSoporte">Aceptar</button>
            </div>
        </div>
    </div>
</div>

 <!-- Modal Confirmacion eliminar-->
<div id="confirmacionEliminar" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <p>{{msjConfirmacion}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="eliminar_soporte()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>