 <style type="text/css">

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;    
}

</style>

<div class="container">
    <div style="height: 10px"></div>
    <h2 align="center"><b>Catalogación de {{nombre_recurso}}</b></h2>
    <div class="row">
        <div class="col-xs-12" align="center" style="padding: 15px">
            <div align="center" class="btn-group" role="group"  aria-label="...">
                <a type="button" href="#/catalogacion/{{redirect}}" data-target="#{{redirect}}" class="btn btn-primary" >Principal</a>
                <a ng-if = "tipo_recurso == 'serie'" type="button" href="#/catalogacion/numeros" class="btn btn-primary" >Números</a>
                <a type="button" href="#/catalogacion/autores" class="btn btn-primary" >Autores</a>
               
                <a type="button" href="#/catalogacion/titulos" class="btn  btn-primary" >Títulos</a>
                <a type="button" href="#/catalogacion/ejemplares" class="btn btn-cat-opc " ><b>Ejemplares</b></a>
                <a type="button" href="#/catalogacion/descriptores" class="btn  btn-primary" >Descriptores</a>
                <a type="button" href="#/catalogacion/soporte" class="btn btn-primary" >Soporte</a>
                <a type="button" href="#/catalogacion/conferencias" class="btn btn-primary" >Conferencia</a>
                <a ng-if = "tipo_recurso != 'serie'" type="button" href="#/catalogacion/volumenes" class="btn  btn-primary" >Volúmenes</a>
            </div>
        </div>
    </div>
     <form ng-submit="submitEjemplares()" class= " recuadro">
         <div class="row ">
                <div class="col-xs-12 col-md-5"></div>
                <div class="col-xs-12 col-sm-6 col-md-3"></div>
                <div class="col-xs-12 col-sm-6 col-md-4 mtb-2px" align="right">
                    <button  ng-disabled = "claseAzul != ''" type ="submit"  class="btn btn-default mr-5px" ng-click="msjConfirmacion= '¿Está seguro que desea agregar este ejemplar?'" title = "Agregar">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                     <button  ng-disabled = "claseAzul == ''" type = "submit"  class="btn btn-default mr-5px" ng-click="msjConfirmacion= '¿Está seguro que desea modificar este ejemplar?'" title = "Guardar">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    </button>
                   
                    <button  type="button" class="btn btn-default mr-5px" ng-click="msjConfirmacion= '¿Está seguro que desea limpiar toda la información cargada en pantalla?'; msjInformacion= 'Se limpió la pantalla exitosamente'"  " data-toggle="modal" data-target="#confirmacionEjemplar"  title = "Limpiar" >
                        <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                    </button>
                    <button type="button" ng-disabled = "claseAzul == '' || ejemplares.length == 1" class="btn btn-default" ng-click="msjConfirmacion= '¿Está seguro que desea eliminar el ejemplar?'"" data-toggle="modal" data-target="#confirmacionEjemplar" title = "Eliminar" >
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
        </div>

        <div style="height: 20px"></div>

        <div class="row">  
             <div class=" col-md-6 form-horizontal"> 
                <b>Por favor, seleccione un número de la tabla Ejemplares</b>
                <br>
                 <br>                    
                <div class=" " >                     
                    <div class="form-group">
                        <label for="numero-ejemplares" class="control-label col-xs-12 col-sm-2">Número:</label>
                        <div class="col-xs-12 col-sm-10" >
                            <table style = "height:153px !important" class=" table table-responsive table-striped table-bordered tableScroll">
                                <thead>
                                    <tr>
                                        <th class="col-xs-6 thScroll">Ejemplares</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr ng-repeat="ejemplar in ejemplares" ng-class="agregarClaseFilaEjemplar(ejemplar)" ng-click = "encenderEjemplar(ejemplar, $index)"  >
                                        <td>{{ejemplar.ejemplar}}</td>
                                    </tr>
                                
                                </tbody>
                            </table> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="etiqueta-ejemplares" class="control-label col-xs-12 col-sm-2">Etiqueta:</label>
                        <div class="col-xs-8" style="padding-right:0px !important;">
                            <input disabled ng-model = "etiqueta" type="text" class="form-control" placeholder="Etiqueta">
                        </div>
                        <div class="col-xs-2" style="text-align:right;">
                           <button  type="button" class="btn btn-default ml-0px" title = "Imprimir" ng-click="mostrar_codigo_barra(etiqueta)" ng-disabled = "claseAzul == ''">
                            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                        </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-xs-12 col-sm-2">Estado:</label>
                        <div class="col-xs-12 col-sm-10">
                            <select id = "estado" class="form-control" ng-model="estadoActual" >
                                                <option value="" selected="selected">Seleccionar</option>
                                                <option 
                                                    ng-repeat="estado in estados"
                                                    value="{{estado.tipo_estado}}">{{estado.descripcion}}
                                                </option>
                                            </select>
                        </div>
                    </div>
                     <div style="margin-left: 10px !important" class="col-xs-12 ">            
                            <input ng-disabled = "archivoCargado" id="numeracion" type="checkbox" ng-click = "checkRecursoElectronico()" ng-checked="esElectronico == 1"> <b>Documento electrónico</b>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="cota" class="control-label col-xs-12 col-sm-2" >DOI:</label>
                                <div class="col-xs-10 col-sm-9"  style="padding-right: 0px !important">
                                    <input  ng-disabled = 'esElectronico == 0'  ng-model="doi" id="cota" type="text" class="form-control" placeholder=""    autocomplete="off" >
                                </div>
                            </div>
                            <!-- ng-hide = "esElectronico == 0 || recursoAgregado " ng-disabled = 'recursoAgregado'  -->
                            <!-- ng-hide = "esElectronico == 0 || recursoAgregado " ng-disabled = 'recursoAgregado'  -->
                            <ng-form name="upload"  class="form-inline">
                                <span ng-hide = "esElectronico == 0 || claseAzul == '' || archivoCargado"  style="margin-left: 20px !important" class="btn btn-default btn-file">
                                    Seleccionar archivo <input type="file" name="file" id="file" name='file' accept="" onchange="angular.element(this).scope().fileName(this)" uploader-model="file">
                                </span>
                                
                                <input class="form-control" ng-model = "nombreArchivo" readonly style="margin-left: 20px !important; width: 58% !important" ng-show = "esElectronico == 1  && nombreArchivo.length > 0 " >
                                <br>


                                <button style="margin-left: 20px !important; margin-top: 5px !important" ng-show = "esElectronico == 1 && !archivoCargado && nombreArchivo.length > 0 " ng-click = "uploadFile()" type="button" class="btn btn-primary" ng-show="nombreArchivo.length > 0 ">
                                    Cargar archivo
                                </button>
                                
                                <button style="margin-left: 5px !important; margin-top: 5px !important" ng-show = "esElectronico == 1 && !archivoCargado && nombreArchivo.length > 0 " ng-click = "limpiarArchivo()" type="button" class="btn btn-primary" >
                                    Limpiar
                                </button>
                               
                                <button style="margin-left: 20px !important; margin-top: 5px !important" ng-show = "esElectronico == 1 && nombreArchivo.length > 0 && archivoCargado " type ="button"  class="btn btn-primary"  ng-click="msjConfirmacion= '¿Está seguro que desea eliminar el archivo?'" data-toggle="modal" data-target="#confirmacionCargarArchivo" ng-show="nombreArchivo.length > 0">Eliminar archivo
                                </button>    

                                <button style="margin-top: 5px !important" ng-show = "esElectronico == 1 && nombreArchivo.length > 0 && archivoCargado " type ="button"  class="btn btn-primary"  ng-click="descargarRecurso()" data-toggle="modal" > Descargar archivo
                                </button>      
                            </ng-form>
                    
                </div>         
            </div>
            <div class=" col-md-6 form-horizontal">
                <div class = "">     
                    <div class="form-group">         
                        <label  class="control-label col-xs-12 col-sm-2 col-md-3 ">Préstamo:</label>
                        <div class="col-xs-12 col-md-9 col-sm-10">
                            <select id = "prestamo-ejemplares" ng-model = "prestamo" class="form-control">
                                <option value = "" selected>Seleccionar</option>
                                <option value = "E">Externo</option>
                                <option value = "I">Interno</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-xs-12 col-sm-2 col-md-3">Encuadernación:</label>
                        <div class="col-xs-12 col-sm-10 col-md-9">
                            <select id = "encuadernacion-ejemplares" class="form-control" ng-model = "encuadernacion">
                                <option value = "">Seleccionar</option>
                                <option value = "Tapa Blanda">Tapa blanda</option>
                                <option value = "Tapa Dura">Tapa dura</option>=
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="propietario-ejemplares" class="control-label col-xs-12 col-sm-2 col-md-3">Propietario:</label>
                        <div class="col-xs-12 col-sm-10 col-md-9">
                            <input ng-model = "propietario" id=" propietario-ejemplares" type="text" class="form-control" placeholder="Propietario">
                        </div>
                    </div>   
                    <div class="form-group" >
                        <label  class="control-label col-xs-12 col-sm-2 col-md-3">Forma de adquisición:</label>
                        <div class="col-xs-12 col-sm-10 col-md-9">
                            <select id = "encuadernacion-ejemplares" class="form-control" ng-model = "adquisicion">
                                <option value = "">Seleccionar</option>
                                <option value = "Canje">Canje</option>
                                <option value = "Compra">Compra</option>
                                <option value = "Convenio">Convenio</option>
                                <option value = "Donación" >Donación</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="proveedor" class="control-label col-xs-12 col-sm-2 col-md-3">Proveedor:</label>
                        <div class="col-xs-12 col-sm-10 col-md-9">
                            <input ng-model = "proveedor" id="provedor-ejemplares" type="text" class="form-control" placeholder="Proveedor" id = "proveedor">
                        </div>
                    </div>
                    <div class="form-group" ng-show="mostrarFecha">
                        <label for="fecha-catalogacion" class="control-label col-xs-12 col-sm-2 col-md-3">Fecha de catalogación:</label>
                        <div class="col-xs-12 col-sm-10 col-md-9">
                            <input disabled ng-model = "nro_inventario" type="text" class="form-control" placeholder="" id = "fecha-catalogacion">
                        </div>
                    </div>      
                    <div class="form-group">  
                        <div class="col-xs-12 col-sm-11 col-sm-offset-1">
                            <div class="col-xs-11 col-sm-offset-4 col-md-offset-1  ">            
                                <input id="numeracion" type="checkbox" ng-click = "reservacion = 1" ng-checked="verificarReservacion()"> Para reservación
                            </div>
                        </div>
                    </div>     
                </div>
            </div>

        </div>
    </form>

    <!-- Modal Loader-->
    <div id="loader" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header"><h3 style="margin:0;">Cargando...</h3></div>
                <div class="modal-body">

                    <div class="progress progress-striped active" style="margin-bottom:0;">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style = "z-index:10000" id="confirmacionEjemplar" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjConfirmacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" ng-if = "msjConfirmacion== '¿Está seguro que desea eliminar el ejemplar?'" ng-click="eliminarEjemplar()" class="btn btn-primary">Aceptar</button>
                    <button type="button" ng-if = "msjConfirmacion== '¿Está seguro que desea limpiar toda la información cargada en pantalla?'" ng-click="limpiarEjemplar()" class="btn btn-primary">Aceptar</button>
                    <button type="button" ng-if = "msjConfirmacion== '¿Está seguro que desea agregar este ejemplar?'" ng-click="agregarEjemplar()" class="btn btn-primary">Aceptar</button>
                    <button type="button" ng-if = "msjConfirmacion== '¿Está seguro que desea modificar este ejemplar?'" ng-click="guardarEjemplar()" class="btn btn-primary">Aceptar</button>
                   
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Informacion-->
    <div id="informacion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Información</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjInformacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirmacion eliminar archivo-->
    <div id="confirmacionCargarArchivo" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjConfirmacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" ng-click="eliminarArchivo()" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal imprimir codigo de barra-->
    <div id="imprimir_etiqueta" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Imprimir etiqueta de ejemplar</h4>
                </div>
                <div id="body-barcode" class="modal-body">
                <div class="container_cota" style="text-align:center;">
                        <p><b>{{cota}}</b></p>
                </div style="text-align:center;">
                    <io-barcode code="{{ cod_ejemplar }}" type="{{ tipo_codigo_barra }}" options="diseno_codigo_barra"></io-barcode>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-print print-element-id="body-barcode">Imprimir</button>
                </div>
            </div>
        </div>
    </div>
</div>





