<div class="modal fade" id="dialog1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{modalHeader}}</h4>
      </div>
      <div class="modal-body">
        <p>{{modalContent}} <i ng-if="modalAjaxLoader" class="fa fa-refresh fa-spin"></i></p>
        <div ng-if="modalTable">
          <table class="table table-bordered">
            <tr>
              <th>Cota</th>
              <th>Título</th>
            </tr>
            <tr ng-repeat="(key, value) in pref_selected">
              <td ng-if="pref_model[key]">{{pref_selected[key].cota}}</td>
              <td ng-if="pref_model[key]">{{pref_selected[key].titulo}}</td>
            </tr> 
          </table>
        </div>
        <div ng-if="modalTableOne">
          <table class="table table-bordered">
            <tr>
              <th>Cota</th>
              <th>Título</th>
            </tr>
            <tr>
              <td>{{prefOneSelected.cota}}</td>
              <td>{{prefOneSelected.titulo}}</td>
            </tr> 
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-if="modalShowB1" ng-click='onAction()'  >{{modalB1}}</button>
        <button type="button" class="btn btn-default" ng-if="modalShowB2" data-dismiss="modal">{{modalB2}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->