 
	<h3>Préstamos / Consulta</h3>
	<p>En esta sección se pueden realizar consultas de datos de préstamo y otras operaciones.</p>

	<div class="row">
		<div class="col-md-3">
			
			<form class="simple_search">
				<input name="ci_field" class="form-control" type="text" ng-model="requestData.ci" placeholder="CI: ejemplo: 99888777" required only-digits>
				<button ng-disabled="bool_disable" title="Buscar" class="btn btn-primary" type="submit" ng-click="buscar_ci()"><i class="fa fa-search"></i></button>
			  <i ng-if="bool_disable" class="fa fa-refresh fa-spin"></i>
			</form>
		</div>

		<div ng-if="user_found" class="col-md-9">
			Datos del usuario:
			<h4>Nombre: {{answer.name}} {{answer.lastname}} &nbsp;&nbsp;&nbsp;&nbsp; Estado: <span ng-style="user_state_style(answer.status)">{{answer.status}}</span></h4>
			<h5>Tipo: {{answer.type}} &nbsp;&nbsp;&nbsp;&nbsp;Dependencia: {{answer.dependencia}}</h5>
		</div>
		<br><br>
		<div class="col-md-12 alert alert-danger" ng-show="errorMessage">
			{{errorMessage}}
		</div>
	</div>

	<div ng-include src="'app/views/adminPrestamos/modalDialog1.tpl.html'"></div>
	<div ng-include src="'app/views/adminPrestamos/modalDialog2.tpl.html'"></div>
	<div ng-include src="'app/views/prestamos/prestamosConsultaModal.tpl.html'"></div>
		
	

	
	<div ng-if="user_found&&pref_answer" class="panel panel-default">
	<div class="panel-heading pointer-hand"  data-toggle="collapse" data-target="#preferencias-usuario" ng-click="cambiar_icono_despliegue('pref')"><span class="table-panel-header" >Preferencias del usuario</span>
		<span class="right-info" >
			<i ng-show="!despliegue_pref" class="fa fa-chevron-down" title="Clic para expandir"></i>
			<i ng-show="despliegue_pref"  class="fa fa-chevron-up" title="Clic para contraer"></i>
		</span>
	</div>

	
	<div  id="preferencias-usuario" class="collapse in" style="clear:both">
		<span>&nbsp;Acciones: </span>
		<div role="group" class="btn-group vertical-space" id="acciones-preferencias">
			<button ng-if="es_administrador" ng-disabled="pref_count<=0" class="btn btn-primary" title="Guardar préstamo" type="button" data-toggle="modal" data-target="#dialog1" ng-click="preSavePrestamo()"><i class="fa fa-floppy-o" ></i></button>
			<button ng-disabled="pref_count<=0" ng-click="pre_remove_many_pref()" class="btn btn-danger" data-toggle="modal" data-target="#dialog1" title="Eliminar preferencias seleccionadas" type="button"><i class="fa fa-trash-o"></i></button>
		</div>
	  <table class="table table-bordered table-hover">
	    <tr class="tr_header_table header_field">
	      <th><input type="checkbox" 
          ng-click="select_all_pref()"
          ng-model = "all_pref" title="Seleccionar Todos"></th>
	      <th><h2>Cota</h2></th>
	      <th><h2>Título</h2></th>
	      <th><h2>Cantidad disponible</h2></th>
	      <th><h2>Acciones</h2></th>
	    </tr>
	    <tr ng-repeat="pref in preferencias">
	      <td>
	      	<input ng-disabled="pref.cantidad_disponibles<=1" ng-model="pref_model[pref.recurso_id]" ng-click="updateSelection(pref)"  type="checkbox">
	      </td>
	      <td>{{pref.cota}}</td>
	      <td>{{pref.titulo}}</td>
	      <td>{{pref.cantidad_disponibles}}/{{pref.cantidad}}</td>
	      <td>
	      	<div class="actions_row_2_extern">
	      	<div role="group" class="btn-group actions_row_btn_group">
	      		<button title="Detalles" type="button" ng-click="desplegar_recurso(pref.recurso_id, 0)" class="btn btn-primary fa fa-file" data-toggle="modal" data-target="#pcmodal"></button>
	      		<button title="Eliminar" type="button" ng-click="pre_remove_one_pref(pref)" class="btn btn-danger fa fa-trash-o" data-toggle="modal" data-target="#dialog1" ></button>
	      	</div>
	      	</div>
	      </td>
	    </tr> 
	  </table>

	  <pagination id="preferencias-paginator"  total-items="totalItems_pref" ng-model="currentPage_pref" ng-change="pageChanged_pref(currentPage_pref)" max-size="maxSize_pref" class="pagination-sm" num-pages="np_p" ></pagination>

	  <pre>Página preferencias: {{currentPage_pref}} / {{np_p}}</pre>
	</div>
	</div>
	


	<div ng-include src="'app/views/prestamos/prestamosConsultaPrestamos.tpl.html'"></div>

	<div ng-if="coincideUsuario()||es_administrador" ng-include src="'app/views/prestamos/prestamosConsultaDevoluciones.tpl.html'"></div>

	<div ng-if="coincideUsuario()||es_administrador" ng-include src="'app/views/prestamos/prestamosConsultaSuspensiones.tpl.html'"></div>

	<div ng-if="user_enabled" id="buscador-recursos" align="center" >
		<br>
	    <form ng-submit="consultar_buscador_simple(search_selected)" class="simple_search_center content_simple_search">
	    	<h4>Búsqueda de recursos</h4>
	     	<input type="text" ng-model="search_selected" ng-change="barcode(search_selected)"   typeahead-on-select='consultar_buscador_simple(search_selected)' typeahead="state for state in loadingStates($viewValue)  | filter:$viewValue " typeahead-wait-ms="300" typeahead-focus-first="false" typeahead-loading="loading" class="form-control" required>
	     	<button ng-disabled="bool_disable" title="Buscar" class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>	  
    		<i ng-show="loading" class="fa fa-refresh fa-spin"></i>
    		<i ng-if="bool_disable" class="fa fa-refresh fa-spin"></i>
    	</form>

	</div>
	<br>

	<div id="prestamos" ng-if="final_answer" class="table-responsive">
	<div ng-if="user_found&&pref_answer" class="panel panel-default">
	<div class="panel-heading" ><span>Recursos encontrados</span></div>
	
	  <span>&nbsp;Acciones: </span>
		<div role="group" class="btn-group vertical-space" id="acciones-preferencias">
			<button class="btn btn-primary" title="Agregar seleccionados a preferencias" type="button"><i class="fa fa-plus-square" ></i></button>
		</div>
	  <table class="table table-bordered table-hover" data-pattern="priority-columns">
	        
	    <tr class="tr_header_table header_field">
	      <th>
	      	<input type="checkbox" title="Seleccionar Todos">
	      </th>
	      <th><h2>Cota</h2></th>
	      <th><h2>Título</h2></th>
	      <th><h2>Disponibles</h2></th>
	      <th><h2>Acciones</h2></th>
	    </tr>


	    <tr ng-repeat="registro in recursos_data" >
	      
	      <td>
	      	<input type="checkbox">
	      </td>
	      <td>{{registro.cota}}</td>
	      <td>{{registro.titulo}}</td>
	      <td>{{registro.cantidad_disponibles}}/{{registro.cantidad}}</td>
	      <td>
	      	<div class="actions_row_2_extern">
	      	<div role="group" class="btn-group actions_row_btn_group">
	      		<button title="Detalles" type="button" ng-click="desplegar_recurso(registro.recurso_id, 0)" class="btn btn-primary fa fa-file" data-toggle="modal" data-target="#pcmodal"></button>
	      		<button ng-if="coincideUsuario()||es_administrador" title="Agregar a preferencias" class="btn btn-primary fa fa-plus-square" ng-click="preferencial(registro)" type="button" data-toggle="modal" data-target="#dialog1"></button>
	      	</div>
	      	</div>
	      </td>
	      
	    </tr> 

	  </table>

	  <pagination id="prestamos-paginator"  total-items="totalItems_r" ng-model="currentPage_r" ng-change="pageChanged_r(currentPage_r)" max-size="maxSize_r" class="pagination-sm" num-pages="numPages_r" ></pagination>

	  <pre>Página recursos: {{currentPage_r}} / {{numPages_r}}</pre>
	</div>
	</div>
	<!--sel --> <!--
	ans
	{{ final_answer }}
	ans/ -->

