<div ng-controller="HeadersController">

<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BAG-UCV</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
      	<li ng-class="{ active: isActive('/')}"><a href="#/">Inicio</a></li>
        <li ng-class="{ active: isActive(['/indices', '/buscador'])}" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">OPAC <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#/indices">Índices</a></li>
            <li class="divider"></li>
            <li><a href="#/buscador_simple">Buscadores</a></li>
          </ul>
        </li>

        <li ng-if="adminLogged" ng-class="{ active: isActive(['/prestamos', '/reportes', '/politicas'])}" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Préstamos <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-if="adminLogged"><a href="#/mis_prestamos">Mis Préstamos</a></li>
            <li ng-if="adminLogged" class="divider"></li>
            <li ng-if="adminLogged"><a href="#/prestamos">Ver Préstamos</a></li>
            <li ng-if="adminLogged" class="divider"></li>
            <li><a href="#/prestamos_consulta_ci">Consulte sus Datos</a></li>
            <li ng-if="adminLogged"class="divider"></li>
            <li ng-if="adminLogged"><a href="#/reportes">Reportes</a></li>
            <li ng-if="adminLogged" class="divider"></li>
            <li ng-if="adminLogged"><a href="#/politicas">Politicas</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{userWelcome}}&nbsp;&nbsp;</a></li>
        <li><a ng-init="AuthCheck()" href="#/{{AuthURL}}">{{AuthTitle}}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</div>