

<div ng-controller="HeadersController" ng-init="header_init()">
      <!-- HEADER START -->
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BAG - Biblioteca Alonso Gamero - UCV</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">


            <div ng-if="!userLogged" ng-include src="'app/views/login/login.tpl.html'"></div>

            <ul ng-if="userLogged" class="nav navbar-nav navbar-right">
              <li>

              <!--Para que muestre menu al darle clic en El nombre de la persona la propiedad data-toggle debe quedar data-toggle="dropdown" -->
                <a id="dLabel" href="#" data-toggle="" aria-haspopup="true" role="button" aria-expanded="false">
                  {{userWelcome}}&nbsp;&nbsp;
                </a>

                <ul style="background-color:white;" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><a href="#/perfil">Mi Perfil</a></li>
                  <li ng-if="es_administrador"><a href="#/panel_control">Panel de control</a></li>
                </ul>

              </li>

              <li><a href="#/logout">Cerrar Sesión</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>


      <div class="header-bottom">
        <div class="container header-container">
          <div class="row">

            <div class="col-md-3">
              <a title="BAG - Biblioteca Alonso Gamero" href="#/"><img class="logo-header-bag"  src="images/bag.png"></a>
            </div>
            <div class="col-md-6">

            <div ng-show="mensaje_login" class="alert alert-danger" style="position:absolute; margin-left:255px;">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>   Autenticación Fallida!&nbsp;&nbsp;&nbsp;  </strong> 
            </div>


              <form class="simple_search_header">
                <input name="ci_field" class="form-control" type="text"  placeholder="Buscar por: Cota | Título | Autor | Materia | Editorial..."  required autofocus>
                <button title="Buscar" class="btn btn-primary fa fa-search"></button>
              </form>

            </div>


            <div class="col-md-3">




              <div class="col-md-6">
              <a title="Facultad de Ciencias" href="http://www.ciens.ucv.ve"><img class="logo-header-ciens" src="images/logociens.jpg"></a>
              </div>
              <div class="col-md-6">


              <a title="Universidad Central de Venezuela" href="http://www.ucv.ve"><img class="logo-header" src="images/logo_ucv_tr.png"></a>
              </div>
            </div>
            
          </div>
        </div>
   <!--   <nav class="navbar navbar-blue ">
          <div class="container">
            <div id='cssmenu'>
              <ul  class="navbar-custom nav navbar-nav navbar-left">
                <li ng-class="{ active: isActive('/')}"><a href="#/">Inicio</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Biblioteca<span class="caret"></span></a>
                  <ul class="dropdown-menu custom-blue" role="menu">
                    <li><a href="#">Historia</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Requisitos y Horario</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Normas</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Tipos de Préstamo</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Departamentos</a></li>
                  </ul>
                </li>
                <li ng-class="{ active: isActive(['/indices', '/buscador'])}" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Catálogo <span class="caret"></span></a>
                  <ul class="dropdown-menu  custom-blue" role="menu">
                    <li><a href="#/bag/colecciones/indices">Índices</a></li>
                    <li class="divider"></li>
                    <li><a href="#/buscador_simple">Buscadores</a></li>
                    <li ng-if="es_administrador"><a href="#">Reportes</a></li>
                  </ul>
                </li>

                <li ng-class="{ active: isActive(['/prestamos_consulta_ci', '/mis_prestamos', '/prestamos', '/registrar_prestamos'])}" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Préstamos <span class="caret"></span></a>
                  <ul class="dropdown-menu-custom dropdown-menu  custom-blue" role="menu">
                    <li ><a href="#/registrar_prestamos">Consultas</a></li>
                    <li ng-if="es_administrador"><a href="#/mis_prestamos">Mis Préstamos</a></li>
                    <li ng-if="es_administrador"><a href="#/prestamos">Ver Préstamos</a></li>
                  </ul>
                </li>

                <li ng-if="es_administrador" ng-class="{ active: isActive(['/reportes'])}" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Reportes <span class="caret"></span></a>
                  <ul class="dropdown-menu-custom dropdown-menu  custom-blue" role="menu">
                    <li><a href="#/reportes">Reporte general</a></li>
                    <li ng-if="userLogged" class="divider"></li>
                    <li ng-if="userLogged"><a href="#/reportes">Reporte de préstamos</a></li>
                    <li ng-if="es_administrador" class="divider"></li>
                    <li ng-if="es_administrador"><a href="#/prestamos">Reporte de catalogación</a></li>
                    <li ng-if="es_administrador" class="divider"></li>
                    <li ng-if="es_administrador"><a href="#/prestamos">Reporte de consulta</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
  -->


<!--    Este es el Menú con la parte del responsive   -->

        <nav id="myNavbar" class="navbar navbar-default" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul id="cssmenu_bootstrap" class="nav navbar-nav">
                    <li><a href="#/" class="blue_background" ng-class="{ isactive: isActive(['/'])}">Inicio</a></li>
                    <li class="dropdown ul_blue_background">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle blue_background">Biblioteca <b class="caret"></b></a>
                        <ul class="dropdown-menu ul_blue_background" >
                          <li class="blue_background"><a href="#" class="blue_background">Historia</a></li>
                          <li class="divider"></li>
                          <li class="blue_background"><a href="#" class="blue_background">Requisitos y Horario</a></li>
                          <li class="divider"></li>
                          <li class="blue_background"><a href="#" class="blue_background">Normas</a></li>
                          <li class="divider"></li>
                          <li class="blue_background"><a href="#" class="blue_background">Tipos de Préstamo</a></li>
                          <li class="divider"></li>
                          <li class="blue_background"><a href="#" class="blue_background">Departamentos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown ul_blue_background">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle blue_background" ng-class="{ isactive: isActive(['/bag/colecciones/indices', '/buscador_simple'])}">Catálogo<b class="caret"></b></a>
                        <ul class="dropdown-menu ul_blue_background" >
       
                           <li  class="blue_background"><a href="#/bag/colecciones/indices" class="blue_background" ng-class="{ isactive_sub: isActive(['/bag/colecciones/indices'])}">Índices</a></li>
    
                          <li class="divider"></li>

                          <li  class="blue_background"><a href="#/buscador_simple" class="blue_background" ng-class="{ isactive_sub: isActive(['/buscador_simple'])}">Buscadores</a></li>
                        </ul>
                    </li>    


                <li class="dropdown" >
                  <a href="#" class="dropdown-toggle blue_background" ng-class="{ isactive: isActive(['/registrar_prestamos', '/mis_prestamos', '/prestamos'])}" data-toggle="dropdown" role="button" aria-expanded="false">Préstamos <span class="caret"></span></a>
                  <ul class="dropdown-menu-custom dropdown-menu  custom-blue" role="menu">
                    <li  class="blue_background"><a href="#/registrar_prestamos" class="blue_background" ng-class="{ isactive_sub: isActive(['/registrar_prestamos'])}">Consultas</a></li>
                    <li ng-if="userLogged" class="divider"></li>
                    <li ng-if="userLogged" class="blue_background"><a href="#/mis_prestamos" class="blue_background" ng-class="{ isactive_sub: isActive(['/mis_prestamos'])}">Mis Préstamos</a></li>
                    <li ng-if="es_administrador" class="divider"></li>
                    <li ng-if="es_administrador" class="blue_background"><a href="#/prestamos" class="blue_background" ng-class="{ isactive_sub: isActive(['/prestamos'])}">Ver Préstamos</a></li>
                  </ul>
                </li>


                <li ng-if="es_administrador"   class="dropdown">
                  <a href="#" class="dropdown-toggle blue_background" ng-class="{ isactive: isActive(['/catalogacion/libros', '/catalogacion/numeros', '/catalogacion/autores','/catalogacion/titulos','/catalogacion/ejemplares','/catalogacion/descriptores','/catalogacion/soporte','/catalogacion/conferencias', '/catalogacion/publicacionesSeriadas', '/catalogacion/trabajosAcademicos','/catalogacion/importar' ,'/catalogacion/exportar',  '/catalogacion/volumenes', '/catalogacion/otrosRecursos'])}" data-toggle="dropdown" role="button" aria-expanded="false">Catalogación<span class="caret"></span></a>
                  <ul class="dropdown-menu-custom dropdown-menu  custom-blue" role="menu">
                    <li><a href="#/catalogacion/libros"  class=" blue_background" ng-class="{ isactive_sub: (isActive(['/libros','/catalogacion/libros','/catalogacion/autores','/catalogacion/numeros','/catalogacion/titulos','/catalogacion/ejemplares','/catalogacion/descriptores','/catalogacion/soporte','/catalogacion/conferencias', '/catalogacion/volumenes']))&& tipo_recurso == 'monografia'}">Monografías</a></li>
                    <li class="divider"></li>
                    <li><a href="#/catalogacion/trabajosAcademicos"  class=" blue_background" ng-class="{ isactive_sub:  (isActive(['/catalogacion/trabajosAcademicos','/catalogacion/autores','/catalogacion/numeros','/catalogacion/titulos','/catalogacion/ejemplares','/catalogacion/descriptores','/catalogacion/soporte','/catalogacion/conferencias', '/trabajosAcademicos', '/trabajosAcademicos', '/catalogacion/volumenes']))  && tipo_recurso == 'tesis'}">Trabajos Académicos</a></li>
                    <li class="divider"></li>
                    <li><a href="#/catalogacion/publicacionesSeriadas"  class=" blue_background" ng-class="{ isactive_sub: isActive(['/catalogacion/publicacionesSeriadas', '/catalogacion/autores','/catalogacion/numeros','/catalogacion/titulos','/catalogacion/ejemplares','/catalogacion/descriptores','/catalogacion/soporte','/catalogacion/conferencias','/catalogacion/volumenes']) && tipo_recurso == 'serie'}">Publicaciones Seriadas</a></li>
                    <li class="divider"></li>
                    <li><a href="#/catalogacion/otrosRecursos"  class=" blue_background" ng-class="{ isactive_sub:  (isActive(['/catalogacion/autores','/catalogacion/numeros','/catalogacion/titulos','/catalogacion/ejemplares','/catalogacion/descriptores','/catalogacion/soporte','/catalogacion/conferencias', '/otrosRecursos', '/catalogacion/volumenes', '/catalogacion/otrosRecursos']))  && tipo_recurso == 'otros'}">Otros Recursos</a></li>
                    <li class="divider"></li>
                    <li><a href="#/catalogacion/importar" class=" blue_background" ng-class="{ isactive_sub: (isActive(['/catalogacion/importar']))}">Importar</a></li>
                    <li class="divider"></li>
                    <li><a href="#/catalogacion/exportar" class=" blue_background" ng-class="{ isactive_sub: (isActive(['/catalogacion/exportar']))}">Exportar</a></li>
                  </ul>
                </li>

                <li ng-if="es_administrador"   class="dropdown">
                  <a href="#" class="dropdown-toggle blue_background" ng-class="{ isactive: isActive(['/reportes', '/reportesCatalogacion'])}" data-toggle="dropdown" role="button" aria-expanded="false">Reportes <span class="caret"></span></a>
                  <ul class="dropdown-menu-custom dropdown-menu  custom-blue" role="menu">
                    <li ng-if="userLogged"><a href="#/reportes"  class="blue_background" ng-class="{ isactive_sub: isActive(['/reportes'])}">Reporte de Préstamos</a></li>
                    <li class="divider"></li>
                    <li><a href="#/reportesCatalogacion" class=" blue_background" ng-class="{ isactive_sub: (isActive(['/reportesCatalogacion']))}">Reportes de Catalogación</a></li>
                  </ul>
                </li>


                </ul>

            </div>
        </div>
    </nav>

      </div>
      <!-- HEADER FINISH -->

</div>
   



