.header-bottom{
	margin-top: 50px;
	background-color: #ffffff;
}

.header-container{
	margin-bottom: 2px !important;
    margin-top: 52px !important;
}

nav.navbar{
	margin-bottom: 0px;
}

.right-info{
	float: right;
	color:#b2b2b2;
}

.isactive{
	background-color:#CC8548 !important;
}

.isactive_sub{
  background-color: #CC8548 !important;
}

.blue_background{
		background-color: #337ab7;
}

.logo-header{
	height: 80px;
    width: 85px;
}

.logo-header-ciens{
	height: 70px;
    width: 70px;
    padding-top: 10px;
}

.navbar-blue{
	background-color:#337AB7;
    border: 0px solid #2269A6;
    border-radius: 0 !important;
}


@media (max-width: 992px) {
  	.logo-header{
		height: 0px;
		width: 0px;
	}
}

.header-nav-bottom{
	padding-top: 42px;
}

#myinput_search2{
	width: 35px;
	overflow: hidden;
    transition: all 1s ease-in;/**/
    text-indent: 20px;
}

#busqueda-simple{
	height: 30px;
	width: 180px;
	float: right;
	margin-right: 50px; 
	margin-top: 10px;

	/*left:-100%;*/
    /*width:100%;*/
    
}



#busqueda-simple.active input {
    width:200px;
}

#cssmenu_bootstrap li a{
	font-size: 14px;
	font-family: 'Open Sans',sans-serif !important;
	color: white;
}

#cssmenu_bootstrap li ul li a{
	font-family: "Open Sans",sans-serif !important;
}

#myNavbar{
	background-color:#337ab7;
	boder-color: #2e6da4;
}

#cssmenu_bootstrap {

	background-color: #337ab7 !important;
}



.blue_background:hover{
	background-color: #23527c !important;
	-webkit-transition: color .25s;
	-moz-transition: color .25s;
	-ms-transition: color .25s;
	-o-transition: color .25s;
	transition: color .25s;
}

.ul_blue_background{
	background-color: #337ab7 !important;
}

.blue_background_a:before{
	content: ""  !important;
	display: block  !important;
	position: absolute  !important;
	left: 0  !important;
	bottom: 0  !important;
	height: 3px  !important;
	width: 0  !important;
	background: #333333  !important;
	-webkit-transition: width .25s  !important;
	-moz-transition: width .25s  !important;
	-ms-transition: width .25s  !important;
	-o-transition: width .25s  !important;
	transition: width .25s  !important;
}


.blue_background_a:after{
  content: ""  !important;
  display: block  !important;
  position: absolute  !important;
  right: -3px  !important;
  top: 19px  !important;
  height: 6px  !important ;
  width: 6px !important;
  background: #555555  !important;
  opacity: .5  !important;
}

.blue_background_a:hover{
	color: #ffffff !important;
}


.blue_background_a:hover:before{
	width: 100% !important;
}


.logo-header-bag{
 height: 75px;
  width: 177px;
}

@media (max-width: 992px) {
  .logo-header{
 	height: 0px;
 	width: 0px;
 }

 .logo-header-bag{
 	height: 0px;
 	width: 0px;
 }
}


.text_center{
	text-align: center;
}

.div_content_info{
	text-align: justify;
    text-justify: inter-word;
}
