#myicon{
	position:absolute; 
	margin-left: 10px; 
	margin-top:9px; 
}

#myinput_search{
  width:500px; 
  display: inline;
  text-indent: 20px;
}

.simple_search button{
	vertical-align: top;
	margin-left: -6px;
	border-radius: 0 4px 4px 0;
	display: inline;
}

.simple_search input{
	width:200px;
	vertical-align: top;
	display: inline;
	text-indent: 0px;

}

.content_simple_search{
	line-height: 40px !important;
}

.simple_search{
	
}



.simple_search_header button{
	vertical-align: middle;
	margin-left: -6px;
	border-radius: 0 4px 4px 0;
	display: inline;
}

.simple_search_header input{
	width:90%;
	vertical-align: middle;
	display: inline;
	text-indent: 0px;

}

.simple_search_header{
	width: 100%;
	line-height: 80px;
	margin-left: auto;
    margin-right: auto;
}


.simple_search_center button{
	vertical-align: middle;
	margin-left: -6px;
	border-radius: 0 4px 4px 0;
	display: inline;
}

.simple_search_center input{
	width:90%;
	vertical-align: middle;
	display: inline;
	text-indent: 0px;

}

.simple_search_center{
	width: 60%;
	line-height: 107px;
	margin-left: auto;
    margin-right: auto;
}

.simple_search #buscador{
	width:400px;
	vertical-align: top;
	display: inline;
	text-indent: 0px;
}


.usuario_solvente{
	color:#337AB7;
}

.usuario_insolvente{
	color:#333424;
}

.pointer-hand{
	cursor: pointer;
}


.form_sin_y{
	visibility: hidden;
}