@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #f96e5b;
  width: auto;
}
/*#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  zoom: 11;
}*/
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}

ul.dropdown-menu {
    background-color: #eee;
}

ul.custom-blue{
  background-color: #337ab7 !important;
}



#cssmenu ul li.active.open li a {
  background-color: #337ab7;
  color: #dddddd;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li.active.open li a:hover {
  color: #ffffff;
}
#cssmenu ul li.active.open li a:hover:before {
  width: 100%;
}
#cssmenu ul li.active.open li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #555555;
  opacity: .5;
}
#cssmenu ul li.active.open li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}


#cssmenu ul li a {
  background-color: #337ab7;
  color: #dddddd;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #ffffff;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #555555;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}


@media (max-width: 768px) {
  /*#cssmenu ul li {
    float: none;
    display: block;
  }*/
  #cssmenu{
    top: 12px;
    width: 652px;
    height: 56px;
    position: absolute;
  }
  #cssmenu ul li a {
    width: 164px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }

  .navbar-brand {
    float: left;
    font-size: 10px !important;
    height: 30px !important; 
    line-height: 20px;
    padding: 15px;
  }

  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

@media (max-width: 975px) {
  .navbar-brand {
    float: left;
    font-size: 10px !important;
    height: 30px !important; 
    line-height: 20px;
    padding: 15px;
  }
}

@media (max-width: 684px) {
  #cssmenu{
    top: 12px;
    width: 600px !important;
    height: 56px;
    position: absolute;
  }
  #cssmenu ul li a {
    width: 151px !important;
    font-size: 10px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
}

@media (max-width: 616px) {
  #cssmenu{
    top: 12px;
    width: 550px !important;
    height: 40px;
    position: absolute;
  }
  #cssmenu ul li a {
    width: 130px !important;
    font-size: 10px !important;
    padding-top: 7px !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
}

@media (max-width: 570px) {
  #cssmenu{
    top: 12px;
    width: 500px !important;
    height: 25px;
    position: absolute;
  }
  #cssmenu ul li a {
    width: 125px !important;
    height: 35px;
    font-size: 10px !important;
    padding: 7px 25px !important;
  }
}

@media (max-width: 547px) {
  #cssmenu{
    top: 12px;
    width: 470px !important;
  }
  #cssmenu ul li a {
    width: 120px !important;
    height: 35px;
    font-size: 9px !important;
    padding-top: 5px !important;
  }
}

@media (max-width: 524px) {
  #cssmenu{
    top: 10px;
    width: 450px !important;
  }
  #cssmenu ul li a {
    width: 115px !important;
    height: 30px;
    font-size: 7px !important;
  }
}

@media (max-width: 479px) {
  #cssmenu{
    top: 10px;
    width: 397px !important;
  }
  #cssmenu ul li a {
    width: 100px !important;
    height: 26px;
    font-size: 6px !important;
  }
}

/*cellphone vertical window*/
@media (max-width: 320px) {
  #cssmenu{
    top: 12px;
    width: 350px !important;
    height: 25px;
    position: absolute;
  }
  #cssmenu ul li a {
    width: 110px !important;
    height: 35px;
    font-size: 5px !important;
    padding: 7px 25px !important;
  }
}


