.hola{
	background-color: red;
}

.contactanos{
	font-size: 30px;
}

.recuadro{
 height: auto;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 10px;
 margin-bottom: 20px;
 outline: 1px solid #ccc;
}

.espacio{
 height: 50px;
}

.mr-5px {
  margin-right: 5px !important;
}

.mtb-2px {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}


.divBorderGray {
    outline: 1px solid #ccc;
    padding: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.btn-cat-opc {
    background-color: #CC8548;
    color: white;
}

.textarea {
    resize: none;
}

.mb-5px{
  margin-bottom: 5px !important;
}

.pl-0px{
  padding-left: 0px !important;
}

.plr-0px{
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.noneFoc:focus { 
    background-color: #23527c !important;
}

.flechaAzul {
    
}



.seleccionFila {
    background-color: #337ab7 !important;
    color: white !important;
}

.seleccionFila2 {
    background-color: #337ab7 !important;
    color: white !important;
}


textarea {
    resize: none;
}

table {
  display: block !important;
  height: 100px !important;
  overflow-y: scroll !important;
}


thead th {
    width: 10% !important;   /* Optional */
}

.disabled {
   pointer-events: none;
   cursor: default;
}

.hiddenScrollEditorial {
    overflow: hidden;
}

.dropdown-menu table {
    height: 230px !important;
    width: 350px !important;
  }


.seleccionNumero:hover{
      background-color: #337ab7 !important;
      color: white !important;
      font-weight: bold !important;
}
.seleccionNumero{
      background-color: #337ab7 !important;
      color: white;
      font-weight: bold;
}

@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}