.tr_header_table{
	margin-button:15px;
}

.header_table {
	heigth: 5px;
	background-color: #337ab7;
	border-color: #2e6da4;
	padding-top: 5px;
}

.header_field th{
	heigth: 5px;
	background-color: #337ab7;
	border-color: #2e6da4;
	padding-top: 5px;
}

.header_table h2{	
	margin-top:2px;
	font-size: 15px;
	color: white;
	margin-bottom:4px;
}

.header_field th h2{	
	margin-top:2px;
	font-size: 15px;
	color: white;
	margin-bottom:4px;
}

#table_modal .header_table{
	width: 10px;
}

#table_modal .header_table h2{
	color:white;
}

.size_input{
	width:200px;
}

.actions_row_btn_group{
	width:85px;
	display: inline-flex;
}

.actions_row_btn_group_2{
	width:126px;
	display: inline-flex;
}

.actions_row_2_extern{
	text-align: center;
}

.vertical-space{
	margin-top: 2px;
	margin-bottom: 2px;
}

.table-panel-header{
	color:#4c4c4c; 
	font-size: 16px;
	font-weight: bold;
}


@media (min-width: 770px) {
	ul.nav li.dropdown:hover > ul.dropdown-menu {
	    display: block;    
	}

}


.white_header{
	color: #ffffff;
}