.div_qr{
	width: 250px; 
	height: 200px;
	display: inline-block;
	padding-right: 100px;
	padding-left:  60px;
	padding-top: 0px;
}

.container_qr{
	width:180px;
}

.container_cota{
	background-color: #337ab7;
	border-color: #2e6da4;
	margin-top: 0px;
}

.container_cota p{
	color: white;
}

