<div class="container">
    <div style="height: 10px"></div>
    <h2 align="center"><b>Catalogación de {{nombre_recurso}}</b></h2>
    <div class="row">
        <div class="col-xs-12" align="center" style="padding: 15px">
            <div align="center" class="btn-group" role="group"  aria-label="...">
                <a type="button" href="#/catalogacion/{{redirect}}" data-target="#{{redirect}}" class="btn btn-primary" >Principal</a>
                <a type="button" href="#/catalogacion/autores" class="btn btn-primary" >Autores</a>
                <a type="button" href="#/catalogacion/titulos" class="btn  btn-primary" >Títulos</a>
                <a type="button" href="#/catalogacion/ejemplares" class="btn btn-primary " >Ejemplares</a>
                <a type="button" href="#/catalogacion/descriptores" class="btn  btn-primary" >Descriptores</a>
                <a type="button" href="#/catalogacion/soporte" class="btn btn-primary" >Soporte</a>
                <a type="button" href="#/catalogacion/conferencias" class="btn btn-primary" >Conferencia</a>
                <a ng-if = "tipo_recurso != 'serie'" type="button" href="#/catalogacion/volumenes" class="btn btn-cat-opc" ><b>Volúmenes</b></a>
            </div>
        </div>
    </div>

    <form class= " recuadro" ng-submit="submitFormluarioVolumenes()">
        <div class="row ">
                <div class="col-xs-12 col-md-5"></div>
                <div class="col-xs-12 col-sm-6 col-md-3"></div>
                <div class="col-xs-12 col-sm-6 col-md-4 mtb-2px" align="right">
                    <button type="submit" class="btn btn-default mr-5px" title="Guardar" ng-click="msjConfirmacion= '¿Está seguro que desea guardar los cambios realizados?'" ng-disabled="false">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default mr-5px"  title="Limpiar" ng-click="msjConfirmacion= '¿Está seguro que desea deshacer los cambios realizados?'; msjInformacion= 'Se limpió la pantalla exitosamente'" data-toggle="modal" data-target="#confirmacion">
                         <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                    </button>
                </div>
        </div>

        <div style="height: 20px"></div>
        <div class="row">
            <div class=" col-xs-12 form-horizontal">
                <h3><b>Título:</b> {{tituloMostrar}}</h3>
            </div>
        </div>
    <div style="height: 10px"></div>
        <div class="row">
            <div class=" col-md-12 form-horizontal">
                <div>
                    <form >
                        <div class="form-group" >
                            <div class="col-xs-12 col-sm-2" >
                                <label type="text" class="control-label">*Nro. Volumen</label>

                            </div>
                            <div class="col-xs-12 col-sm-5">
                                <label type="text" class="control-label">*Subtítulo</label>
                            </div>

                            <div class="col-xs-12 col-sm-2">
                                <label type="text" class="control-label">ISBN</label>
                            </div>

                            <div class="col-xs-12 col-sm-1">
                                <label type="text" class="control-label">Año</label>
                            </div>          
                        </div>
                    </form>
                </div>
                <div ng-repeat="input in volumenes">     
                    <div class="form-group" >
                        <div class="col-xs-12 col-sm-2 ">
                            <input type="text" class="form-control" placeholder="Nro. Volumen" ng-model="input.volumen"  autocomplete="off" required pattern="[a-zA-Z0-9]" title="Por favor no introducir espacios, ni caracteres especiales">
                        </div>
                        <div class="col-xs-12 col-sm-5">
                            <input type="text" class="form-control" placeholder="Subtítulo" ng-model="input.subtitulo"  autocomplete="off" required pattern="[a-zA-Z0-9]" title="Por favor no introducir espacios, ni caracteres especiales">
                        </div>
                        <div class="col-xs-12 col-sm-2 ">
                            <input type="text" class="form-control" placeholder="ISBN" ng-model="input.isbn"  autocomplete="off" >
                        </div>
                        <div class="col-xs-12 col-sm-1">
                            <input class="form-control" placeholder="Año" ng-model="input.ano"  autocomplete="off" type="number"  min="1000" max="9999">
                        </div>
                        <div class="col-xs-6 col-sm-1" style="text-align:center;">
                             <button ng-hide="!$last"  type="button" ng-show = "bool_add_button"  ng-click="add_option()" class="btn btn-success" title="Añadir nuevo volumen">
                            <i class="fa fa-plus-square"></i>           
                            </button>
                        </div>
                        <div class="col-xs-6 col-sm-1" style="margin-left: 0px !important">
                            <button type="button" ng-click="delete($index)" class="btn btn-danger" title="Eliminar volumen">
                        <i class="fa fa-trash"></i>           
                            </button> 
                        </div>                   
                    </div> 
                </div>
            </div>

        <div style="height: 20px"></div>
        </div>
        

        <!-- Modal Confirmacion submitt-->
        <div id="confirmacionSub" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmación</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{msjConfirmacion}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" ng-click="guardarVolumenes()" class="btn btn-primary">Aceptar</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal Confirmacion-->
<div id="confirmacion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <p>{{msjConfirmacion}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click= "limpiarVolumenes()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Informacion-->
<div id="informacion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Información</h4>
            </div>
            <div class="modal-body">
                <p>{{msjInformacion}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
    <!-- Modal Loader-->
<div id="loader" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header"><h3 style="margin:0;">Cargando...</h3></div>
            <div class="modal-body">

                <div class="progress progress-striped active" style="margin-bottom:0;">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalNroVolumenes" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header"><h3 style="margin:0;">Volúmenes</h3></div>
            <div class="modal-body">
                <div >
                    <label type="text" class="control-label">Número de volúmenes:</label>
                    <input type="text" ng-change="validarInputNroVolumenes()" class="form-control" placeholder="" ng-model="nroVolumenes" autocomplete="off" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click= "aceptarInputNroVolumenes()">Aceptar</button>
            </div>
        </div>
    </div>
</div>