
<h2 align="center">Reporte de préstamos</h2>

<h4>Opciones</h4><br>


<div class="row">
	<div class="col-md-3">
		<label for="anio_origen">Entre:</label>
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-change="orig_change(dt_orig)" ng-model="dt_orig" is-open="opened_orig" min-date="minDate" max-date="dt_orig" current-text="Hoy" clear-text="Limpiar" close-text="Cerrar" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open_orig($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
    </div>
    <div class="col-md-3">
		<label for="anio_destino">y:</label>
        <p class="input-group">
          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-change="dest_change(dt_dest)" ng-model="dt_dest" is-open="opened_dest" min-date="minDate" max-date="dt_orig" datepicker-options="dateOptions" current-text="Hoy" clear-text="Limpiar" close-text="Cerrar"  date-disabled="disabled(date, mode)" ng-required="true" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open_dest($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
    </div>
 	<div class="col-md-3">
 		<label for="exampleInputEmail2"><br></label>
        <div class="form-group">
          <!--ng-href="{{api_url}}bagtesis/backend/public/reporte_prestamos/{{dt_orig}}/{{dt_dest}}"-->
            <a title="descargar PDF" target="iframe1"  class="btn btn-primary" ng-click="start_pdf_down_spin()"><i class="fa fa-file-pdf-o" ></i></a>
            <i ng-if="pdf_down_spin" class="fa fa-refresh fa-spin"></i>
        </div>
 	</div>
</div>

<iframe style="visibility:hidden; height:0px;" name="iframe1" ></iframe>

 <div  id="contentt" ng-show="reporte_activo">

  <p ng-if="dt_orig != dt_dest">Entre las siguientes fechas: {{dt_orig}} y {{dt_dest}}</p>
  <p ng-if="dt_orig == dt_dest">En la siguiente fecha: {{dt_orig}}</p>



</div>

<div google-chart chart="chartObject_usuarios_atendidos" style="width: 550px; height: 280px; float:left;" on-ready="initChartImg1(chartWrapper)"></div>
<div google-chart chart="chartObject_recursos_prestados" style="width: 550px; height: 280px; float:left;" on-ready="initChartImg2(chartWrapper)"></div>
<div google-chart chart="chartObject_operaciones_realizadas" style="width: 550px; height: 280px; float:left;" on-ready="initChartImg3(chartWrapper)"></div>
<div google-chart chart="chartObject_usuarios_por_estado" style="width: 550px; height: 280px; float:left;" on-ready="initChartImg4(chartWrapper)"></div>


<div id="editor"></div>


<script type="text/javascript">




var doc = new jsPDF();
var specialElementHandlers = {
    '#editor': function (element, renderer) {
        return true;
    }
};

$('#cmd').click(function () {
    doc.fromHTML($('#contentt').html(), 15, 15, {
        'width': 170,
            'elementHandlers': specialElementHandlers
    });
    //var img1 = document.getElementById("img1").src;

    //var imgData = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAABy...';
    //doc.addImage(img1, 'JPEG', 255,255, 255, 255);

    doc.save('sample-file.pdf');




    


});


    








// I recommend to keep the svg visible as a preview








</script>