<div class="container" >
    <div style="height: 10px"></div>
    <h2 align="center"><b>Reportes de Catalogación</b></h2>
    <div style="height: 20px"></div>
    <p>Por favor, ajuste el valor de cada uno de los filtros de acuerdo al tipo de información que desea visualizar en el reporte.</p>
    <div style="height: 20px"></div>
    <div class="row form-horizontal " >
		<div class="col-xs-12 col-sm-2 col-sm-offset-1">
			<label for="tipoRecurso" class="control-label">Tipo de recurso:</label>
		</div>
		<div class="col-xs-12 col-sm-2" style="padding-left: 0px !important;padding-right: 0px !important;">
			<select id = "tipoRecurso" class="form-control" ng-model="selectedTipoRecurso" >
			    <option value="" selected="selected">Todos</option>
                <option 
			        ng-repeat="option in tiposRecursos | orderObjectBy:'descrip_doc'"
			        value="{{option.id}}">{{option.descrip_doc_salida}}
			    </option>
			</select>
		</div>
		<div class="col-xs-12 col-sm-2 col-sm-offset-1">
			<label for="salaRecurso" class="control-label">Sala del recurso:</label>
		</div>
		<div class="col-xs-12 col-sm-2">
			<select id = "salaRecurso" class="form-control" ng-model="selectedSalaRecurso" >
				<option value="" selected="selected">Todas</option>
			    <option 
			        ng-repeat="option in salasRecursos"
			        value="{{option.descriptor}}">{{option.descriptor}}
			    </option>
			</select>
		</div>
    </div>
    <div style="height: 20px"></div>
	<div class="row form-horizontal">
		<div class="col-xs-12 col-sm-2 col-sm-offset-1">
			<label for="tipoOperacion" class="control-label">Tipo de operación:</label>
		</div>
		<div class="col-xs-12 col-sm-2" style="padding-left: 0px !important;padding-right: 0px !important;">
			<select id = "tipoOperacion" class="form-control" ng-model="selectedTipoOperacion" >
			    <option 
			        ng-repeat="option in tiposOperaciones"
			        value="{{option.valor}}">{{option.desc}}
			    </option>
			</select>
		</div>
		<div class="col-xs-12 col-sm-2 col-sm-offset-1">
			<label for="fechaInicio" class="control-label">Fecha inicio:</label>
		</div>
		<div class="col-xs-12 col-sm-2">
			<p class="input-group">
				<input  type="text" disabled class="form-control" datepicker-popup="{{format}}" ng-change="startDateChange(fechaInicio)" ng-model="fechaInicio" is-open="openedStartDate" max-date="today()" current-text="Hoy" clear-text="Limpiar" close-text="Cerrar" datepicker-options="dateOptions"/>
				<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
	</div>
	<div style="height: 20px"></div>
	<div class="row form-horizontal">
    	<div class="col-xs-12 col-sm-2 col-sm-offset-1">
    	 	<label for="catalogador" class="control-label">Catalogador:</label>
    	</div>
    	<div class="col-xs-12 col-sm-2" style="padding-left: 0px !important;padding-right: 0px !important;">
    	 	<select id = "catalogador" class="form-control" ng-model="selectedCatalogador" >
    	 		<option value="" selected="selected">Todos</option>
                <option 
                    ng-repeat="option in catalogadores"
                    value="{{option.id}}">{{option.nombres}} {{option.apellidos}}
                </option>
            </select>
    	</div>
    	<div class="col-xs-12 col-sm-2  col-sm-offset-1">
			<label for="fechaFin" class="control-label">Fecha fin:</label>
		</div>
		<div class="col-xs-12 col-sm-2">
			<p class="input-group">
				<input  type="text" disabled class="form-control" datepicker-popup="{{format}}" ng-change="endDateChange(fechaFin)" ng-model="fechaFin" is-open="openedEndDate" max-date="today()" current-text="Hoy" clear-text="Limpiar" close-text="Cerrar" datepicker-options="dateOptions"/>
				<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
    </div>
	<div style="height: 20px"></div>
    <div class="row form-horizontal">
    	<div class="col-xs-12 col-sm-2 col-sm-offset-1">
    	 	<label for="materiaTematica" class="control-label">Materia temática:</label>
    	</div>
    	<div class="col-xs-11 col-sm-4" style="padding-left: 0px !important;">
                <input id = "materiaTematica" type="text" class="form-control" placeholder="" type="text"  ng-init="paste=false" typeahead="  state for state in loadingStates($viewValue) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="" ng-model="materiaTematica"  autocomplete="off" >
    	</div>
    	<div class="col-xs-1 col-sm-1" style=" padding-top: 7px !important;padding-left: 0px !important;padding-right: 0px !important;">
            <i ng-show="loadingMateria" class="glyphicon glyphicon-refresh fa-spin" sty></i>
    	</div>
    </div>
    <div style="height: 30px"></div>
	<div class="row form-group" >
        <div class="col-xs-12 text-center">
            <button title="Generar Reporte en formato .xlsx" type="button" ng-click="tipoReporte ='excel'; generarReporteCatalogacion()" class="btn btn-primary"> Generar reporte en formato .xlsx </button>
        </div>
    </div>
    <div class="row form-group" >
        <div class="col-xs-12 text-center">
            <button title="Generar Reporte PDF" type="button" ng-click="tipoReporte ='pdf'; generarReporteCatalogacion()" class="btn btn-primary"> Generar reporte en formato .pdf </button>
        </div>
    </div>
</div>

<!-- Modal Loader-->
<div id="loader" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header"><h3 style="margin:0;">Cargando...</h3></div>
            <div class="modal-body">

                <div class="progress progress-striped active" style="margin-bottom:0;">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Informacion-->
<div style = "z-index: 30000" id="informacion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Información</h4>
            </div>
            <div class="modal-body">
                <p>{{msjInformacion}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>