 
<div ng-controller = "titulosController">  

    <div class="container">
        <div style="height: 10px"></div>
        <h2 align="center"><b>Catalogación de {{nombre_recurso}}</b></h2>
        <div class="row">
            <div class="col-xs-12" align="center" style="padding: 15px">
                <div align="center" class="btn-group" role="group"  aria-label="...">
                    <a type="button" href="#/catalogacion/{{redirect}}" data-target="#{{redirect}}" class="btn btn-primary" >Principal</a>
                    <a ng-if = "tipo_recurso == 'serie'" type="button" href="#/catalogacion/numeros" class="btn btn-primary" >Números</a>
                    <a type="button" href="#/catalogacion/autores" class="btn btn-primary" >Autores</a>
                    <a type="button" href="#/catalogacion/titulos" class="btn  btn-cat-opc" ><b>Títulos</b></a>
                    <a type="button" href="#/catalogacion/ejemplares" class="btn btn-primary " >Ejemplares</a>
                    <a type="button" href="#/catalogacion/descriptores" class="btn  btn-primary" >Descriptores</a>
                    <a type="button" href="#/catalogacion/soporte" class="btn btn-primary" >Soporte</a>
                    <a type="button" href="#/catalogacion/conferencias" class="btn btn-primary" >Conferencia</a>
                    <a ng-if = "tipo_recurso != 'serie'" type="button" href="#/catalogacion/volumenes" class="btn  btn-primary" >Volúmenes</a>
                </div>
            </div>
        </div>
         <form class= " recuadro" ng-submit="submitFormluarioTitulo()">
             <div class="row ">
                    <div class="col-xs-12 col-md-5"></div>
                    <div class="col-xs-12 col-sm-6 col-md-3"></div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mtb-2px" align="right">
                        <button type="submit" class="btn btn-default mr-5px" title="Agregar" ng-click="msjConfirmacion= '¿Está seguro que desea agregar este titulo?'; esAgregarTitulo = true" ng-disabled="botonAgregarTitulo">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-default mr-5px" title="Guardar" ng-click="msjConfirmacion= '¿Está seguro que desea modificar este titulo?'; esAgregarTitulo = false" ng-disabled="!botonAgregarTitulo">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default mr-5px"  title="Limpiar" ng-click="msjConfirmacion= '¿Está seguro que desea limpiar toda la información cargada en pantalla?'; msjInformacion= 'Se limpió la pantalla exitosamente'" data-toggle="modal" data-target="#confirmacion">
                             <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" title = "Eliminar" ng-click="msjConfirmacion= '¿Está seguro que desea eliminar este autor?'; msjInformacion= 'Recurso eliminado exitosamente'" data-toggle="modal" data-target="#confirmacionEliminar" ng-disabled="!botonAgregarTitulo">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
            </div>

            <div style="height: 20px"></div>

            <div class="row">
                <div class=" col-md-8 form-horizontal">
                        <div class="form-group">
                            <label for="titulo-titulos" class="control-label col-xs-12 col-sm-2">*Título:</label>
                            <div class="col-xs-10 col-sm-6">
                                <input id = "titulo-titulos" type="text" class="form-control" placeholder="Título" ng-init="paste=false" typeahead="  state as state.titulo for state in loadingStates($viewValue, 'titulo', tipo_recurso) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="seleccionarTituloAutocompletado()" ng-model="nombreTitulo"  autocomplete="off" ng-trim = "false" ng-change= "trimRequired('nombreTitulo')" ng-blur = "blurRequired('nombreTitulo')" ng-focus = "auxTrim = nombreTitulo" required>
                            </div>
                            <div class=" col-xs-1 col-sm-1" style="padding-left: 10px !important; top: 8px !important">
                                <i ng-show="loadingTitulos" class="glyphicon glyphicon-refresh fa-spin"></i>
                            </div>

                        </div>
                         <div class="form-group">
                            <label for="tipo-titulos" class="control-label col-xs-12 col-sm-2" >*Tipo título:</label>
                            <div class="col-xs-12 col-sm-6">
                              <select id = "tipo-titulos" ng-model="tipoTitulo" class="form-control" required>
                                    <option value="" selected="selected">Seleccionar</option>
                                    <option 
                                        ng-repeat="option in tipoTitulos"
                                        value="{{option.tipo_titulo}}">{{option.descripcion}}
                                    </option>
                                </select>
                            </div>
                        </div>
                </div>
            </div>
            <div style="height: 20px"></div>

             <div class="row">
                <div class=" col-md-12">                
                    <div class = "recuadro col-xs-12">
                        
                        <div class="col-xs-12 col-sm-11"  >
                        	<b>Nota: El título ubicado en la primera posición, será el mostrado por defecto en la pantalla principal</b>
                            <table class=" table table-responsive table-striped table-bordered" style="height: 250px !important;">
                                <thead>
                                  <tr>
                                    <th class="col-xs-5">Título</th>
                                    <th class="col-xs-6">Tipo</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="titulo in titulosMostrar " ng-class = "{'seleccionFila':$index == tituloSel}" ng-click = "seleccionarTitulo(titulo, $index)">
                                        <td >{{ titulo.titulo_salida }}</td>
                                        <td >{{ titulo.descripcion }}</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                        <div class="col-xs-12 col-sm-1" style="padding-left: 0px; text-align:center;">
                            <div class="hidden-xs">
                                <br>
                                <br>
                            </div>
                             <button type="button" class="btn btn-default mb-5px" ng-click= "moveUpTitulo(tituloSel)">
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            </button>
                             <button type="button" class="btn btn-default mb-5px" ng-click= "moveDownTitulo(tituloSel)">
                                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                            </button><br>

                        </div>               
                    </div>
                </div>
            </div>

            <!-- Modal Confirmacion submitt-->
            <div id="confirmacionSub" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmación</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{msjConfirmacion}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-show = "esAgregarTitulo" ng-click="agregarTitulo()" class="btn btn-primary">Aceptar</button>
                            <button type="button" ng-show = "!esAgregarTitulo" ng-click="modificarTitulo()" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Confirmacion eliminar-->
            <div id="confirmacionEliminar" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmación</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{msjConfirmacion}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-click="eliminarAutor()" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <!-- Modal Confirmacion-->
    <div id="confirmacion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjConfirmacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click= "limpiarTitulo()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Informacion-->
    <div id="informacion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Información</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjInformacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal Loader-->
    <div id="loader" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header"><h3 style="margin:0;">Cargando...</h3></div>
                <div class="modal-body">

                    <div class="progress progress-striped active" style="margin-bottom:0;">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>