<div>
    <div class="container">
        <div style="height: 10px"></div>
        <h2 align="center"><b>Catalogación de {{nombre_recurso}}</b></h2>
        <div class="row">
            <div class="col-xs-12" align="center" style="padding: 15px">
                <div align="center" class="btn-group" role="group"  aria-label="...">
                    <div align="center" class="btn-group" role="group"  aria-label="...">
                        <a type="button" href="#/catalogacion/{{redirect}}" data-target="#{{redirect}}" class="btn btn-primary" >Principal</a>
                        <a ng-if = "tipo_recurso == 'serie'" type="button" href="#/catalogacion/numeros" class="btn btn-primary" >Números</a>
                        <a type="button" href="#/catalogacion/autores" class="btn btn-cat-opc" ><b>Autores</b></a>
                        <a type="button" href="#/catalogacion/titulos"  class="btn btn-primary ">Títulos</a>
                        <a type="button" href="#/catalogacion/ejemplares" class="btn btn-primary " >Ejemplares</a>
                        <a type="button" href="#/catalogacion/descriptores" class="btn  btn-primary" >Descriptores</a>
                        <a type="button" href="#/catalogacion/soporte" class="btn btn-primary" >Soporte</a>
                        <a type="button" href="#/catalogacion/conferencias" class="btn btn-primary" >Conferencia</a>
                        <a ng-if = "tipo_recurso != 'serie'" type="button" href="#/catalogacion/volumenes" class="btn  btn-primary" >Volúmenes</a>
                    </div>
                </div>
            </div>
        </div>
        <form class= " recuadro" ng-submit="submitFormluarioAutor()">
            <div class="row ">
                <div class="col-xs-12 col-md-5"></div>
                <div class="col-xs-12 col-sm-6 col-md-3"></div>
                <div class="col-xs-12 col-sm-6 col-md-4 mtb-2px" align="right">
                    <button type="submit" class="btn btn-default mr-5px" title="Agregar" ng-click="msjConfirmacion= '¿Está seguro que desea agregar este autor?'; esAgregarAutor = true" ng-disabled="botonAgregarAutor">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <button type="submit" class="btn btn-default mr-5px" title="Guardar" ng-click="msjConfirmacion= '¿Está seguro que desea modificar este autor?'; esAgregarAutor = false" ng-disabled="!botonAgregarAutor">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default mr-5px"  title="Limpiar" ng-click="msjConfirmacion= '¿Está seguro que desea limpiar toda la información cargada en pantalla?'; msjInformacion= 'Se limpió la pantalla exitosamente'" data-toggle="modal" data-target="#confirmacion">
                    <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" title = "Eliminar" ng-click="msjConfirmacion= '¿Está seguro que desea eliminar este autor?'; msjInformacion= 'Recurso eliminado exitosamente'" data-toggle="modal" data-target="#confirmacionEliminar" ng-disabled="!botonAgregarAutor">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div style="height: 20px"></div>
            <div class="row">
                <div class=" col-md-6 form-horizontal">
                    <h4><b>Tipo de autor</b></h4>
                    <div class="recuadro " >
                        <div class="form-group">
                            <div class="col-xs-12">
                                <select id = "tipoAutor" class="form-control" ng-change= "seleccionarTipoAutor1()" ng-model="tipoAutor" ng-options= " option for option in tipoAutor1" required>
                                    <option value="" selected="selected">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <select id = "tipoAutor2" class="form-control" ng-model="tipoAutor2" required>
                                    <option value="" selected="selected">Seleccionar</option>
                                    <option 
                                        ng-repeat="option in tipoAutores2"
                                        value="{{option.tipo_autor}}">{{option.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-6 form-horizontal">
                    <h4><b>Datos del autor</b></h4>
                    <div class = "recuadro " style="padding-right:0px !important;">
                        <div class="form-group" ng-show="tipoAutor == 'Personal'" >
                            <label for="apellidos-autor" class="control-label col-xs-12 col-sm-2">*Apellidos:</label>
                            <div class="col-xs-10 col-sm-8"  style="margin-left:10px; padding-right: 0px !important">
                                <input id = "apellidos-autor" type="text" class="form-control" placeholder="Apellidos" type="text"  ng-init="paste=false" typeahead="  state as state.autor_salida for state in loadingStates($viewValue, 'autor', tipo_recurso) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="onselectApellido()" ng-model="apellidoAutor"  autocomplete="off" ng-required="tipoAutor == 'Personal'" style="margin-right:10px !important;" ng-trim = "false" ng-change= "trimRequired('apellidoAutor')" ng-blur = "blurRequired('apellidoAutor')" ng-focus = "auxTrim = apellidoAutor">
                            </div>
                            <div class=" col-xs-1 col-md-1" style="padding-left: 10px !important; top: 8px !important">
                                <i ng-show="loadingAutor" class="glyphicon glyphicon-refresh fa-spin"></i>
                            </div>
                        </div>

                        <div class="form-group" ng-show="tipoAutor == 'Personal'" >
                            <label for="nombres-autor" class="control-label col-xs-12 col-sm-2">Nombres:</label>
                            <div class="col-xs-12 col-sm-8" style="margin-left:10px; padding-right: 0px !important">
                                <input id="nombres-autor" type="text" class="form-control" placeholder="Nombres" ng-model="nombreAutor">
                            </div>
                        </div>
                        <div class="form-group" ng-show="tipoAutor == 'Personal'" >
                            <label for="fecha-autor" class="control-label col-xs-12 col-sm-2">Fecha:</label>
                            <div class="col-xs-12 col-sm-8"  style="margin-left:10px; padding-right: 0px !important">
                                <p class="input-group">
                                  <input  type="text" disabled class="form-control" datepicker-popup="{{format}}" ng-change="orig_change(fechaAutor)" ng-model="fechaAutor" is-open="opened_orig" current-text="Hoy" clear-text="Limpiar" close-text="Cerrar" datepicker-options="dateOptions" placeholder="dd-mm-yyyy"/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open_orig($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group" ng-show="tipoAutor == 'Institucional'" >
                            <label for="institucion-autor" class="control-label col-xs-12 col-sm-2">*Institución:</label>
                            <div class="col-xs-12 col-sm-8"  style="margin-left:10px; padding-right: 0px !important">
                                <input id = "institucion-autor" type="text" class="form-control" placeholder="Institución" ng-model="apellidoAutor" ng-init="paste=false" typeahead="  state as state.autor_salida for state in loadingStates($viewValue, 'autor', tipo_recurso) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="onselectApellido()" autocomplete="off" ng-required= "tipoAutor == 'Institucional'" style="margin-right:10px !important;" ng-trim = "false" ng-change= "trimRequired('apellidoAutor')" ng-blur = "blurRequired('apellidoAutor')" ng-focus = "auxTrim = apellidoAutor">
                            </div>
                            <div class=" col-xs-1 col-md-1" style="padding-left: 10px !important; top: 8px !important">
                                <i ng-show="loadingAutor" class="glyphicon glyphicon-refresh fa-spin"></i>
                            </div>
                        </div>
                        <div class="form-group" ng-show="tipoAutor == 'Conferencia'" >
                            <label for="conferencia-autor" class="control-label col-xs-12 col-sm-2">*Conferencia:</label>
                            <div class="col-xs-12 col-sm-8"  style="margin-left:10px; padding-right: 0px !important">
                                <input id = "conferencia-autor" type="text" class="form-control" placeholder="Conferencia" ng-model="apellidoAutor" ng-init="paste=false" typeahead="  state as state.autor_salida for state in loadingStates($viewValue, 'autor', tipo_recurso) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="onselectApellido()"  autocomplete="off" ng-required= "tipoAutor == 'Conferencia'" style="margin-right:10px !important;" ng-trim = "false" ng-change= "trimRequired('apellidoAutor')" ng-blur = "blurRequired('apellidoAutor')" ng-focus = "auxTrim = apellidoAutor">
                            </div>

                            <div class=" col-xs-1 col-md-1" style="padding-left: 10px !important; top: 8px !important">
                                <i ng-show="loadingAutor" class="glyphicon glyphicon-refresh fa-spin"></i>
                            </div>
                        </div>
                        <div class="form-group" ng-show="tipoAutor != ''">
                            <label for="correo-autor" class="control-label col-xs-12 col-sm-2">Correo:</label>
                            <div class="col-xs-12 col-sm-8"  style="margin-left:10px; padding-right: 0px !important">
                                <input id="correo-autor" type="email" class="form-control" placeholder="Correo" ng-model="correoAutor">
                            </div>
                        </div>
                        <div class="form-group" ng-show="tipoAutor != ''">
                            <label for="url-autor" class="control-label col-xs-12 col-sm-2">URL:</label>
                            <div class="col-xs-12 col-sm-8"  style="margin-left:10px; padding-right: 0px !important">
                                <input id="url-autor" type="text" class="form-control" placeholder="URL" ng-model="urlAutor">
                            </div>
                        </div>
                        <div class="form-group" ng-show="tipoAutor == 'NO'" >
                            <label for="entidad-autor" class="control-label col-xs-12 col-sm-2">Entidad Subordinada:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input id="entidad-autor" type="text" class="form-control" placeholder="Entidad Subordinada" ng-model="entidadAutor">
                            </div>
                        </div>
                        <div class="form-group" ng-show="tipoAutor == ''">
                            <label for="mensajeAutor" style= "text-align:center;"class="control-label col-xs-12 col-sm-12">Debe seleccionar el tipo de autor</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-12">
                    <div class = "recuadro col-xs-12">

                        <div class="col-xs-12 col-sm-11" >
                            <b>Nota: El autor ubicado en la primera posición, será el mostrado por defecto en la pantalla principal</b>
                            <table class=" table table-responsive table-striped table-bordered" style="height: 250px !important;">
                                <thead>
                                    <tr>
                                        <th class="col-xs-5">Autor</th>
                                        <th class="col-xs-6">Tipo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="autor in autoresMostrar " ng-class = "{'seleccionFila':$index == autorSel}" ng-click = "seleccionarAutor(autor, $index)">
                                        <td >{{ autor.autor_salida }}</td>
                                        <td >{{ autor.tipo_autor_2 }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-12 col-sm-1" style="padding-left: 0px; text-align:center;">
                            <div class="hidden-xs">
                                <br>
                                <br>
                            </div>
                            <button type="button" class="btn btn-default mb-5px" ng-click= "moveUpAutor(autorSel)">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default mb-5px" ng-click= "moveDownAutor(autorSel)">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                            </button><br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Confirmacion submitt-->
            <div id="confirmacionSub" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmación</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{msjConfirmacion}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-show = "esAgregarAutor" ng-click="agregarAutor()" class="btn btn-primary">Aceptar</button>
                            <button type="button" ng-show = "!esAgregarAutor" ng-click="modificarAutor()" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Confirmacion eliminar-->
            <div id="confirmacionEliminar" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmación</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{msjConfirmacion}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-click="eliminarAutor()" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Modal Confirmacion-->
    <div id="confirmacion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjConfirmacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click= "limpiarAutor()" >Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Informacion-->
    <div id="informacion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Información</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjInformacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
        <!-- Modal Loader-->
    <div id="loader" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header"><h3 style="margin:0;">Cargando...</h3></div>
                <div class="modal-body">

                    <div class="progress progress-striped active" style="margin-bottom:0;">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>