<style type="text/css">
    .tooltip-arrow,
    .red-tooltip + .tooltip > .tooltip-inner {background-color: #5cb85c; color: white;}
</style>
<script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    
</script>
  <div style="height: 10px"></div>
   <h2 align="center"><b>Exportar recursos</b></h2>
<style type="text/css">
    .tooltip-arrow,
    .red-tooltip + .tooltip > .tooltip-inner {background-color: #5cb85c; color: white;}
</style>
<script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    
</script>
<br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div style="text-align:center;">
            <div class="btn-group" role="group"  aria-label="..." >
                <button type="button" ng-click='setType("todo")' class="btn btn-primary"  style="{{style_todo}}"><i class="" ></i><b>Todos</b></button>  
                <button type="button" ng-click='setType("tesis")' class="btn btn-primary" style="{{style_tesis}}"><i class="" ></i> <b style="color:white;">Trabajos académicos</b></button>
                <button type="button" ng-click='setType("monografia")' class="btn btn-primary" style="{{style_monografia}}" ><i class=""></i>Libros</button>
                <button type="button" ng-click='setType("publicacion_seriada")' class="btn btn-primary" style="{{style_publicacion_seriada}}"><i class="" ></i>Publicaciones Seriadas</button> 
            </div>
        </div>
        <br>
        <br> 
        <div class="row">
            <div class=" col-md-12 form-horizontal"> 
                <div ng-repeat="input in inputs">
                    <form >
                        <div class="form-group" >
                            <div class="col-xs-12 col-sm-4">
                                <select class="form-control multiple input-xsmall"  ng-model='input.opt1.select_model'
                                    ng-options='opt as opt.label for opt in options[selected].opciones1' ng-change = "colocar_typeahead($index,input.opt1.select_model.value)">
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-4 pl-0px">
                                <input type="text"  ng-init="paste=false" typeahead="state for state in loadingStates($viewValue, input.opt1.select_model.value) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched" ng-model="input.opt1.text_model" >

                            </div>
                            <div class="col-xs-2 col-sm-2 pl-0px">
                                <select  ng-hide="$last" ng-class="{ form_sin_y: $last}" class="form-control multiple input-xsmall"  ng-model='input.opt2.select_model' ng-options='opt as opt.label for opt in options[selected].opciones2'>
                                 </select>

                                 <button style = "margin-left: 20px !important" ng-hide="!$last"  type="button" ng-show = "bool_add_button"  ng-click="add_option()" class="btn btn-success" title="Añadir nuevos campos de búsqueda">
                                <i class="fa fa-plus-square"></i>           
                                </button>
                            </div>

                            <div class="col-xs-1 col-sm-1  pl-0px" style="margin-left: 0px !important">
                                <button type="button" ng-click="delete($index)" class="btn btn-danger" data-toggle="{{mytooltips[$index].tooltip}}" data-placement="{{mytooltips[$index].position}}" title="{{mytooltips[$index].title}}">
                            <i class="fa fa-trash"></i>           
                                </button> 

                            </div>                   
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <form class="form-inline">
            <div class="form-group">
                <input ng-show = "bool_add_button" type="number" ng-model="anios.anio_origen" placeholder = "Año origen ej: 1991" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
                <input ng-show = "bool_add_button" type="number" ng-model="anios.anio_destino" placeholder= "Año destino ej: 2000" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
            </div>
        </form>
        <br>
        <form class="form-inline">
            <div class="form-group" >
                <label ng-show="bool_add_button" for="exampleInputEmail2"> Ubicación: </label>
                <select ng-show="bool_add_button" class="form-control multiple input-xsmall"  ng-model='options_bibliotecas_seleccionado'
                    ng-options='opt as opt.label for opt in options_bibliotecas'>
                </select>
            </div>
        </form>
        <br>
        <form class="form-inline">
            <div class="form-group" >
                <label ng-show="bool_add_button" for="exampleInputEmail2"> Dependencias: </label>
                <select ng-show="bool_add_button" class="form-control multiple input-xsmall"  ng-model='options_dependencias_seleccionado'
                    ng-options='opt as opt.label for opt in options_dependencias'>
                </select>
            </div>
        </form>
        <br>
        <form class = "form-inline">
            <div class="form-group">  
                <label ng-show="bool_add_button" for="exampleInputEmail2">Nro. de recursos:</label>
                <input ng-show="bool_add_button" type="number" ng-model="num_items_pagina" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched" data-toggle="tooltip" data-placement="rigth" title="Cantidad de recursos por página">
            </div>
        </form>
        <br>
        <form class= "form-inline">
            <div class="form-group">      
                <label  ng-show="bool_add_button" for="exampleInputEmail2">Orden:</label>
                <select  ng-show="bool_add_button"  ng-model='orden_seleccionado' ng-change="consulta_buscador_avanzado()" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched"
                    ng-options='opt as opt.label for opt in options_orden'>
                </select>
            </div>
        </form>
        <br>
        <form >
            <div class="form-group" >
                <div class="col-xs-12 text-center">
                    <button title="Buscar recursos" type="button" ng-show = "bool_add_button"   ng-click="consulta_buscador_avanzado()" class="btn btn-primary" title="Buscar recursos"> Buscar recursos
                    <i class="fa fa-search"></i>            
                    </button>
                    <i ng-show="loading" class="glyphicon glyphicon-refresh fa-spin"></i>
                </div>
            </div>
            
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
<br>
<br>
<div ng-if="totalItems > 0" class="alert alert-success">
    <strong>Se han encontrado {{totalItems}} recursos!</strong>
</div>
<div ng-if="totalItems == 0" class="alert alert-warning">
    <strong>Se han encontrado {{totalItems}} recursos!</strong>
</div>
<div ng-show="bool_table_recursos" class="btn-group" role="group" aria-label="..." >
    <button type="button" ng-disabled="bool_disable_acciones" ng-click='generar_ids_recursos_seleccionados()' class="btn btn-primary">Exportar</button> 
</div>
<br>
<br>
<iframe style="visibility:hidden; height:0px;" name="iframe1" ></iframe>
<table style="height: 300px !important " ng-show="bool_table_recursos" class="table table-bordered table-hover" data-pattern="priority-columns">
    <tr class="tr_header_table">
        <th class="header_table">
            <div class="checkbox">
                <label>
                <input type="checkbox" ng-change="seleccionar_todos()" ng-model="recurso.model_checkbox">
                </label>
            </div>
            <!--  <button class = "{{class_check_seleccionar_todos}}" ng-click = "seleccionar_todos()"> <i class="fa fa-check-square-o"></i> </button> 
                -->
        </th>
        <th class="header_table">
            <h2>Cota</h2>
        </th>
        <th class="header_table">
            <h2>Título</h2>
        </th>
        <th class="header_table">
            <h2>Autor</h2>
        </th>
        <th class="header_table">
            <h2>Tipo de Recurso</h2>
        </th>
        <th class="header_table">
            <h2>Año</h2>
        </th>
        <!--      <th>Acciones</th> -->
    </tr>
    <!--  ng-style="{'background-color': '#dff0d8'}" -->
    <tr ng-repeat="recurso in recursos">
        <td>
            <div class="checkbox">
                <label>
                <input type="checkbox" ng-change="recurso_seleccionado()" ng-model="recurso.model_checkbox">
                </label>
            </div>
        </td>
        <td>{{recurso.ubicacion}}</td>
        <td  >
            <div ng-repeat="titulo in recurso.titulos">
                <div ng-if="titulo.tipo_tit == 'OP' ">
                    {{titulo.titulo_salida}}
                </div>
            </div>
        </td>
        <td >
            <div ng-repeat="autor in recurso.autores">
                <div ng-if="autor.tipo_autor=='P' ">
                    {{autor.autor_salida}}
                </div>
            </div>
        </td>
        <td  >{{recurso.tipo_doc}}</td>
        <td >{{recurso.fecha_pub}} </td>
    </tr>
</table>
<br>
<br>
<pagination id="mypage" ng-if="bool_table_recursos"  total-items="totalItems" ng-model="currentPage" ng-change="pageChanged(currentPage)" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="num_items_pagina" num-pages="numPages"></pagination>
<pre ng-if="bool_table_recursos"> Página: {{currentPage}} / {{numPages}}</pre>

 <!-- Modal Loader-->
<div id="loader" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible; z-index:20000">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header"><h3 style="margin:0;">Cargando...</h3></div>
            <div class="modal-body">

                <div class="progress progress-striped active" style="margin-bottom:0;">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<a id="clickDescargar" ng-show = "false" href = "descargar_archivo()"></a>

   <!-- Modal Informacion-->
    <div style = "z-index: 30000" id="informacion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Información</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjInformacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>