
	
<div ng-controller="HomeController" id="slides_control">
  <div class="carousel-external-div">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}">
        <div class="carousel-caption">
          <h4>Slide {{$index+1}}</h4>
        </div>
      </slide>
    </carousel>
  </div>


<!--
<map zoom="11" 
  center="[40.74, -74.18]" 
  disable-default-u-i="true"
  disable-double-click-zoom="true"
  draggable="false"
  draggable-cursor="help"
  dragging-cursor="move"
  keyboard-shortcuts="false"
  max-zoom="12"
  min-zoom="8"
  tilt="45"
  map-type-id="TERRAIN">
</map>


 <map center="-34.397, 150.644" zoom="8"></map>

-->

</div>


<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8" >



      <h3 class="text_center">
          Biblioteca Alonso Gamero - Facultad de Ciencias - Universidad Central de Venezuela
      </h3>   
      <br>

    <div class="div_content_info">
    <p> La Biblioteca Alonso Gamero de la Facultad de Ciencias de la UCV se complace en darle la más cordial bienvenida a toda la comunidad estudiantil y docente y poner a su disposición nuestros servicios de información. A objeto de brindarle a todos un mejor servicio, agradecemos la observación de nuestras normas de uso y conducta.
    </p> 

    <p> 
      Nuestros servicios se ofrecen de lunes a viernes en un horario comprendido entre las 8:00 a.m. y 8:00 p.m. y los sábados de 9:00 a 4:30 p.m.
    </p>

    <p>
      Todo usuario debe registrarse ordenadamente en el mesón de entrada, para tal fin se ingresarán sus datos en la base de datos de servicios al público, previa presentación del carnet de estudiante, o en su lugar, planilla de inscripción y cédula de identidad.
    </p>
      Ofrecemos servicios de préstamo circulante por un lapso de tres días y por un máximo de tres libros, renovable. El préstamo en sala es exclusivamente para consulta y lectura en el recinto de la Biblioteca Alonso Gamero. Contravenir esta disposición acarreará las sanciones dispuestas en el reglamento de la Biblioteca.
    <p>
      Para consulta de la colección de Referencia y de revistas especializadas deberá; consignar sus objetos personales (cartera, morral, maletín) en el estante destinado para su resguardo antes de ingresar a la sala. Por favor no deje objetos de valor, la biblioteca no se hace responsable por objetos perdidos.
    </p>
    </div>


    <br>
    
    <h4>Nuevas adquisiciones</h4>

    <a href="">
      <img src="images/adquisicion1.jpg" class="img-responsive img-rounded img-thumbnail"> 
    </a> 
    <a href="">
       <img src="images/adquisicion2.jpg" class="img-responsive img-rounded img-thumbnail">  
    </a>
   
    <a href="">  
      <img src="images/adquisicion3.jpg" class="img-responsive img-rounded img-thumbnail">   
    </a>

    <a href="">
      <img src="images/adquisicion4.jpg" class="img-responsive img-rounded img-thumbnail">  
    </a>

    <a href="">
      <img src="images/adquisicion5.jpg" class="img-responsive img-rounded img-thumbnail">  
    </a>

    <a href="">
      <img src="images/adquisicion6.jpg" class="img-responsive img-rounded img-thumbnail"> 
    </a> 
    <a href="">
       <img src="images/adquisicion7.jpg" class="img-responsive img-rounded img-thumbnail">  
    </a>
   
    <a href="">  
      <img src="images/adquisicion8.jpg" class="img-responsive img-rounded img-thumbnail">   
    </a>

    <a href="">
      <img src="images/adquisicion9.jpg" class="img-responsive img-rounded img-thumbnail">  
    </a>

    <a href="">
      <img src="images/adquisicion10.jpg" class="img-responsive img-rounded img-thumbnail">  
    </a>


  </div>
  <br>
  <div class="col-xs-6 col-md-4">

    <br>
    <br>

    <h4>BAG recomienda</h4>
    <br>
    <p><a href="">Algoritmos y estructura de datos</a></p>
    <p>Autor: Wirth, Nicklaus</p>
    <p>Cota:  QA76.6 W575</p>

    <br>

    <p><a href="">Química</a></p>
    <p>Autor: Brescia, Frank</p>
    <p>Cota:  QD33 Q855</p>
    <br>

    <p><a href="">Cálculo integral</a></p>
    <p>Autor: Saenz, Jorge</p>
    <p>Cota:  QA308 S34 2009</p>


    <h4> Ubicación </h4>

    <img  style="height:215px;" src="images/mapa_bag.jpg" class="img-responsive img-rounded img-thumbnail">   

  </div>
</div>