<style type="text/css">

.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {background-color: #5cb85c; color: white;}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;    
}

</style>

<script type="text/javascript">

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>


 <div>
    <div class="container" >       
            <div style="height: 10px"></div>
            <h2 align="center"><b>Catalogación de Trabajos Académicos</b></h2>
            <div class="row">
                <div class="col-xs-12" align="center" style="padding: 15px">
                    <div align="center" class="btn-group" role="group"  aria-label="...">
                        <a type="button" href="#/catalogacion/trabajosAcademicos" data-target="#tesis" class="btn btn-cat-opc" ><b>Principal</b></a>
                        <a ng-class = "deshabilitarOpcion()" type="button" href="#/catalogacion/autores" class="btn btn-primary" >Autores</a>
                        <a ng-class = "deshabilitarOpcion()"  type="button" href="#/catalogacion/titulos" class="btn  btn-primary"  >Títulos</a>
                        <a ng-class = "deshabilitarOpcion()" type="button" href="#/catalogacion/ejemplares" class="btn btn-primary " >Ejemplares</a>
                        <a ng-class = "deshabilitarOpcion()" type="button" href="#/catalogacion/descriptores" class="btn  btn-primary" >Descriptores</a>
                        <a ng-class = "deshabilitarOpcion()" type="button" href="#/catalogacion/soporte" class="btn btn-primary" >Soporte</a>
                        <a ng-class = "deshabilitarOpcion()" type="button" href="#/catalogacion/conferencias" class="btn btn-primary" >Conferencia</a>
                        <a ng-class = "deshabilitarOpcion()" type="button" href="#/catalogacion/volumenes" class="btn  btn-primary" >Volúmenes</a>
                    </div>
                </div>
            </div>
            <div class="row divBorderGray">
                <div class=" col-xs-11 col-md-4 mtb-2px" style="padding-right: 0px !important">
                    <div class="input-group">
                      <input typeahead-on-select='abrirPopUpBusqueda(selectedBuscadorSimple2)'  ng-keydown="$event.which === 13 && abrirPopUpBusqueda(selectedBuscadorSimple2)" autocomplete = "off" id="buscador" type="text" ng-model="selectedBuscadorSimple2" ng-change="verificar_paste(selectedBuscadorSimple2)" placeholder="Buscar por: Cota | Título | Autor" ng-paste="paste=true" ng-init="paste=false" typeahead="state for state in loadingStates3($viewValue) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loadingBusquedaSimple" class="form-control">
                      <span class="input-group-btn">
                        <button ng-click = "abrirPopUpBusqueda(selectedBuscadorSimple2)" type="button" class="btn btn-primary" title="Buscar" >
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                </div>
                 <div class=" col-xs-2 col-md-1" style="padding-left: 10px !important; top: 8px !important">
                    <i ng-show="loadingBusquedaSimple" class="glyphicon glyphicon-refresh fa-spin"></i>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2 mtb-2px " >
                    <button type="button" class="btn btn-default" ng-click = "initBuscadorAvanzado()" title="Búsqueda Avanzada">
                    Búsqueda avanzada
                    </button>
                </div>
                <div class="col-xs-6 col-sm-2 mtb-2px " >
                  <!--  
                  <button type="button" class="btn btn-default " style="margin-right:7px;" data-toggle="modal" data-target="#importarZ3950" title = "Importar mediante Z39.50">
                    Z39.50
                    </button>
                    -->
                   <button type="button" class="btn btn-default " style="margin-right:7px; font-size: 20px; padding-top:3px; padding-bottom:2px;" data-toggle="modal" data-target="#mostrarQR" title = "Mostrar código QR" ng-disabled = 'recursoAgregado'>
                        <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default " style="margin-right:7px; font-size: 20px; padding-top:3px; padding-bottom:2px;" title = "Buscar por código de Barra" ng-click="mostrarModalCodigoBarra()">
                        <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                    </button>


                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 mtb-2px" align="right">
                    <button form = "formularioMonografia" type="submit" class="btn btn-default mr-5px" ng-click="msjConfirmacion= '¿Está seguro que desea catalogar este recurso?'" title="Agregar" ng-disabled = '!recursoAgregado'  >
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <button form = "formularioMonografia" type="submit"  class="btn btn-default mr-5px" ng-click="msjConfirmacion= '¿Está seguro que desea modificar este recurso?'" title="Guardar" ng-disabled = 'recursoAgregado'>
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default mr-5px"  ng-click="msjConfirmacion= '¿Está seguro que desea limpiar toda la información cargada en pantalla?'; msjInformacion= 'Se limpió la pantalla exitosamente'" data-toggle="modal" data-target="#confirmacion" title="Limpiar" >
                    <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="msjConfirmacion= '¿Está seguro que desea eliminar este recurso?'; msjInformacion= 'Recurso eliminado exitosamente'" data-toggle="modal" data-target="#confirmacionEliminar" title = "Eliminar" ng-disabled = 'recursoAgregado'>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>

                </div>
            </div>
        <form id="formularioMonografia" ng-submit="submitFormluarioPrincipal()">
            <div style="height: 20px"></div>
            <div class="row">
                <div class=" col-md-6 form-horizontal">
                    <h4><b>Identificación</b></h4>
                    <div class="recuadro " >
                        <div class="form-group">
                            <div class="form-group"  >
                                <label for="cota" class="control-label col-xs-12 col-sm-2" >*Cota:</label>
                                <div class="col-xs-10 col-sm-9"  style="padding-right: 0px !important">
                                    <input required ng-model="cotaLibro" id="cota" type="text" class="form-control" placeholder=""  autocomplete="off" ng-trim="false" ng-change= "trimRequired('cotaLibro')" ng-blur = "blurRequired('cotaLibro')" ng-focus = "auxTrim = cotaLibro">
                                </div>
                            </div>
                            <div style="margin-left: 10px !important" class="col-xs-12 ">            
                                <input ng-disabled = "archivoCargado" id="numeracion" type="checkbox" ng-click = "checkRecursoElectronico()" ng-checked="esElectronico == 1"> <b>Recurso electrónico</b>
                            </div>
                            <br>
                            <br>
                            <div class="form-group"  >
                                <label for="cota" class="control-label col-xs-12 col-sm-2" >DOI:</label>
                                <div class="col-xs-10 col-sm-9"  style="padding-right: 0px !important">
                                    <input  ng-disabled = 'esElectronico == 0'  ng-model="doi" id="cota" type="text" class="form-control" placeholder=""    autocomplete="off" >
                                </div>
                            </div>
                            <!-- ng-hide = "esElectronico == 0 || recursoAgregado " ng-disabled = 'recursoAgregado'  -->
                            <ng-form name="upload"  class="form-inline">
                                <span ng-hide = "esElectronico == 0 || recursoAgregado || archivoCargado"  style="margin-left: 20px !important" class="btn btn-default btn-file">
                                    Seleccionar archivo <input type="file" name="file" id="file" name='file' accept="" onchange="angular.element(this).scope().fileName(this)" uploader-model="file">
                                </span>
                                
                                <input class="form-control" ng-model = "nombreArchivo" readonly style="margin-left: 20px !important; width: 58% !important" ng-show = "esElectronico == 1  && nombreArchivo.length > 0 " >
                                <br>

                                <button style="margin-left: 20px !important; margin-top: 5px !important" ng-show = "esElectronico == 1 && !archivoCargado && nombreArchivo.length > 0 " ng-click = "uploadFile()" type="button" class="btn btn-primary" ng-show="nombreArchivo.length > 0 ">
                                    Cargar archivo
                                </button>
                                <button style="margin-left: 5px !important; margin-top: 5px !important" ng-show = "esElectronico == 1 && !archivoCargado && nombreArchivo.length > 0 " ng-click = "limpiarArchivo()" type="button" class="btn btn-primary" >
                                    Limpiar
                                </button>
                                <br>
                               
                                 <button style="margin-left: 20px !important; margin-top: 5px !important" ng-show = "esElectronico == 1 && nombreArchivo.length > 0 && archivoCargado " type ="button"  class="btn btn-primary"  ng-click="msjConfirmacion= '¿Está seguro que desea eliminar el archivo?'" data-toggle="modal" data-target="#confirmacionCargarArchivo" ng-show="nombreArchivo.length > 0">Eliminar archivo
                                </button>    

                                <button style="margin-top: 5px !important" ng-show = "esElectronico == 1 && nombreArchivo.length > 0 && archivoCargado " type ="button"  class="btn btn-primary"  ng-click="descargarRecurso()" data-toggle="modal" > Descargar archivo
                                </button>        
                            </ng-form>
                        </div>
                    </div>
                </div>
                <div class=" col-md-6 form-horizontal">
                    <h4><b>Autor y título</b></h4>
                    <div class = "recuadro ">
                        <div class="form-group">
                            <label for="tipo" class="control-label col-xs-12 col-sm-2">*Tipo:</label>
                            <div class="col-xs-10 col-sm-9"  style="padding-right: 0px !important">
                                <select id = "tipoAutor" class="form-control" ng-model = "tipoAutor" ng-options= " option for option in tipoAutor1" required>
                                    <option value="" selected="selected">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="tipoAutor == 'Personal'" >
                            <label for="apellidos" class="control-label col-xs-12 col-sm-2">*Apellidos:</label>
                            <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important">
                                <input id = "apellidos" type="text" class="form-control" placeholder="Apellidos" type="text"  ng-init="paste=false" typeahead="  state for state in loadingStates($viewValue, 'autor', 'tesis') | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="onselectApellido()" ng-model="apellidoAutor"  autocomplete="off" ng-required="tipoAutor == 'Personal'" ng-trim = "false" ng-change= "trimRequired('apellidoAutor')" ng-blur = "blurRequired('apellidoAutor')" ng-focus = "auxTrim = apellidoAutor">                            
                            </div>
                            <div class=" col-xs-2 col-md-1" style="padding-left: 10px !important; top: 5px !important">
                                <i ng-show="loadingAutor" class="glyphicon glyphicon-refresh fa-spin"></i>
                            </div>
                        </div>
                        <div class="form-group" ng-show="tipoAutor == 'Personal'" >
                            <label for="nombres" class="control-label col-xs-12 col-sm-2" >Nombres:</label>
                            <div class="col-xs-10 col-sm-9"  style="padding-right: 0px !important">
                                <input id="nombres" type="text" class="form-control" placeholder="Nombres" ng-model="nombreAutor"autocomplete="off" >
                            </div>
                        </div>
                        <div class="form-group" ng-show="tipoAutor == 'Institucional'" >
                            <label for="institucion-autor" class="control-label col-xs-12 col-sm-2">*Institución:</label>
                            <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important">
                               <input id = "apellidos" type="text" class="form-control" placeholder="Institución" type="text"  ng-init="paste=false" typeahead="  state for state in loadingStates($viewValue, 'autor', 'tesis') | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"   ng-model="apellidoAutor"  autocomplete="off" ng-required="tipoAutor == 'Institucional'" ng-trim = "false" ng-change= "trimRequired('apellidoAutor')" ng-blur = "blurRequired('apellidoAutor')" ng-focus = "auxTrim = apellidoAutor">          
                            </div>
                             <div class=" col-xs-2 col-xs-1" style="padding-left: 10px !important; top: 5px !important">
                                <i ng-show="loadingAutor" class="glyphicon glyphicon-refresh fa-spin"></i>
                            </div>
                        </div>
                        <div class="form-group" ng-show="tipoAutor == 'Conferencia'" >
                            <label for="conferencia-autor" class="control-label col-xs-12 col-sm-2">*Conferencia:</label>
                            <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important">
                                 <input id = "apellidos" type="text" class="form-control" placeholder="Conferencia" type="text"  ng-init="paste=false" typeahead="  state for state in loadingStates($viewValue, 'autor', 'tesis') | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  ng-model="apellidoAutor"  autocomplete="off" ng-required="tipoAutor == 'Conferencia'" ng-trim = "false" ng-change= "trimRequired('apellidoAutor')" ng-blur = "blurRequired('apellidoAutor')" ng-focus = "auxTrim = apellidoAutor">          
                            </div>
                             <div class=" col-xs-2 col-xs-1" style="padding-left: 10px !important; top: 5px !important">
                                <i ng-show="loadingAutor" class="glyphicon glyphicon-refresh fa-spin"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="titulo" class="control-label col-xs-12 col-sm-2">*Título:</label>
                            <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important">
                                <input id = "titulo" type="text" class="form-control" placeholder="Título" type="text"  ng-init="paste=false" typeahead="  state for state in loadingStates($viewValue, 'titulo', 'tesis') | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="onselect()" ng-model="nombreTitulo" autocomplete="off" required ng-trim = "false" ng-change= "trimRequired('nombreTitulo')" ng-blur = "blurRequired('nombreTitulo')" ng-focus = "auxTrim = nombreTitulo">
                            </div>
                            <div class=" col-xs-2 col-sm-1" style="padding-left: 10px !important; top: 5px !important">
                                <i ng-show="loadingTitulos" class="glyphicon glyphicon-refresh fa-spin "></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-6 form-horizontal">
                    <h4><b>Datos de edición</b></h4>
                    <div class = "recuadro ">
                     
                        <div class="form-group">
                            <label for="edicion" class="control-label col-xs-12 col-sm-2">
                                Fecha:
                            </label>
                            <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important" >
                                <p class="input-group">
                                <input  placeholder="dd-mm-yyyy" type="text" disabled class="form-control" datepicker-popup="{{format}}" ng-change="orig_change(dt_orig)" ng-model="dt_orig" is-open="opened_orig" max-date="today()" current-text="Hoy" clear-text="Limpiar" close-text="Cerrar" datepicker-options="dateOptions" ng-required="true" />
                                <span class="input-group-btn">
                                <button ng-disabled = "!fechaPrincipalActiva" type="button" class="btn btn-default" ng-click="open_orig($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <h4><b>Otros datos</b></h4>
                    <div class = "recuadro ">
                        <div class="form-group">
                            <label for="url" class="control-label col-xs-12 col-sm-2">URL:</label>
                            <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important" >
                                <input id = "url" type="text" class="form-control" placeholder="URL" ng-model="url" autocomplete="off" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="colacion" class="control-label col-xs-12 col-sm-2">Colación:</label>
                            <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important" >
                                <input id="colacion" type="text" class="form-control" placeholder="Colación" ng-model="colacion" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="isbn" class="control-label col-xs-12 col-sm-2">ISBN:</label>
                            <div class="col-xs-12 col-sm-3" style="padding-right: 0px !important" >
                                <input id="isbn" type="text" class="form-control" placeholder="ISBN" ng-model="isbn" autocomplete="off">
                            </div>
                            <label for="numeracion" class="control-label col-xs-12 col-sm-3">Numeración:</label>
                            <div class="col-xs-12 col-sm-3 " style="padding-right: 0px !important" >            
                                <input id="numeracion" type="text" class="form-control" placeholder="Numeración" ng-model="numeracion" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="control-label col-xs-12 col-sm-2">Impresión:</label>
                            <div class="col-xs-12 col-sm-3" style="padding-right: 0px !important" >
                                <select id = "impresion" class="form-control" ng-model="impresion">
                                    <option value="" selected="selected">Seleccionar</option>
                                    <option value="Impreso" >Impreso</option>
                                    <option value="Mimeografiado" >Mimeografiado</option>
                                    <option value="Fotocopiado" >Fotocopiado</option>
                                </select>
                            </div>
                            <label for="volumen" class="control-label col-xs-12 col-sm-3">Volumen:</label>
                            <div class="col-xs-12 col-sm-3" style="padding-right: 0px !important" >
                                <input id="volumen" type="text" class="form-control" placeholder="Volumen" ng-model="volumen" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    

                    <h4><b>Biblioteca de ubicación</b></h4>
                    <div class = "recuadro ">
                        <select id = "pais" class="form-control" ng-model="bibliotecaSelect" >
                            <option
                                ng-repeat="option in bibliotecas "
                                value="{{option.id}}" ng-selected="option.id == 1">{{option.biblioteca_salida}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class=" col-md-6 form-horizontal">
                     <h4><b>Detalles de trabajo académico</b></h4>
                    <div class = "recuadro ">    
                        <div class="form-group">
                            <label  class="control-label col-xs-12 col-sm-2">*Tipo de trabajo:</label>
                            <div class="col-xs-10 col-sm-9">
                             <select  required class="form-control" ng-model="trabajoSelect" >
                                <option value="" selected="selected">Seleccionar</option>
                                <option 
                                    ng-repeat="option in tipoTrabajos"
                                    value="{{option.id}}">{{option.trabajo_salida}}
                                </option>
                            </select>
                            </div>
                        </div>          
                        <div class="form-group">
                            <label  class="control-label col-xs-12 col-sm-2">*Nivel:</label>
                            <div class="col-xs-10 col-sm-9">
                             <select required class="form-control" ng-model="nivelSelect" >
                                <option value="" selected="selected">Seleccionar</option>
                                <option 
                                    ng-repeat="option in niveles"
                                    value="{{option.id}}">{{option.nivel_salida}}
                                </option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-3">
                                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#institucion" ><b>*Instituciones</b></button>
                            </div>
                            <div class="col-xs-10 col-sm-8">
                                <input required type="text" ng-disabled = "institucionPrincipal != ''" ng-model = "institucionPrincipal" ng-change = "institucionPrincipal=''" class="form-control" placeholder="Institución" ng-trim = "false" ng-change= "trimRequired('institucionPrincipal')" ng-blur = "blurRequired('institucionPrincipal')" ng-focus = "auxTrim = institucionPrincipal">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="gradoA" class="control-label col-xs-12 col-sm-2">Grado académico:</label>
                            <div class="col-xs-10 col-sm-9">
                                <input id = "gradoA" type="text" class="form-control" placeholder="Grado Académico" ng-model = "gradoAcademico"  ng-init="paste=false" typeahead="  state as state.grado_academico for state in loadingStatesGrados($viewValue) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading" autocomplete="off" style="margin-right:10px !important;">
                            </div>
                            <div class="col-xs-1 col-md-1" style="padding-left: 10px !important; top: 8px !important">
                                <i ng-show="loadingGrado" class="glyphicon glyphicon-refresh fa-spin"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="control-label col-xs-12 col-sm-2">Disciplina:</label>
                            <div class="col-xs-10 col-sm-9">
                                <input id = "nombreDisciplinaActual" type="text" class="form-control" placeholder="Disciplina" type="text"  ng-init="paste=false" typeahead="  state as state.disciplina_salida for state in loadingStatesDisciplinas($viewValue) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="onselectDisciplina(nombreDisciplinaActual)" ng-model="nombreDisciplinaActual"  autocomplete="off" style="margin-right:10px !important;">
                            </div>
                            <div class="col-xs-1 col-md-1" style="padding-left: 10px !important; top: 8px !important">
                                <i ng-show="loadingDisciplina" class="glyphicon glyphicon-refresh fa-spin"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="control-label col-xs-12 col-sm-2">Dependencia:</label>
                            <div class="col-xs-10 col-sm-9">
                                <input id = "NombredependenciaActual" type="text" class="form-control" placeholder="Dependencia" type="text"  ng-init="paste=false" typeahead="  state as state.dependencia_salida for state in loadingStatesDependencias($viewValue) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="onselectDependenciaa(NombredependenciaActual)" ng-model="NombredependenciaActual"  autocomplete="off" style="margin-right:10px !important;">
                            </div>
                            <div class="col-xs-1 col-md-1" style="padding-left: 10px !important; top: 8px !important">
                                <i ng-show="loadingDependencia" class="glyphicon glyphicon-refresh fa-spin"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tutor" class="control-label col-xs-12 col-sm-2">*Tutor:</label>
                            <div class="col-xs-10 col-sm-9">
                                <input required id = "tutor" type="text" class="form-control" placeholder="Tutor" ng-model = "tutorTesis" ng-trim = "false" ng-change= "trimRequired('tutorTesis')" ng-blur = "blurRequired('tutorTesis')" ng-focus = "auxTrim = tutorTesis">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="eTutor" class="ontrol-label col-xs-12 col-sm-2">Correo tutor:</label>
                            <div class="col-xs-10 col-sm-9">
                                <input id="eTutor" type = "email" class="form-control" placeholder="Correo Tutor" ng-model = "correoTutor">
                            </div>
                        </div>               
                    </div>
                    <h4><b>Contenido</b></h4>
                    <div class = "recuadro ">
                        <div class="form-group">
                            <div class="col-xs-11" style="padding-right: 0px !important" >
                                <select id = "tipoContenidoo" class="form-control"  ng-model = "tipoContenido" ng-options= " option for option in contenidoSeleccion">
                                    <option value="" selected="selected">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-11" style="padding-right: 0px !important">
                                <textarea id = "contenidoData" class="form-control" rows="4" id="comment" ng-model="contenidoData" autocomplete="off" ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Modal Confirmacion submitt-->
            <div id="confirmacionSub" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmación</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{msjConfirmacion}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-show = "recursoAgregado" ng-click="agregarTesis()" class="btn btn-primary">Aceptar</button>
                            <button type="button" ng-show = "!recursoAgregado" ng-click="guardarTesis()" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal QR-->
            <div class="modal fade" id="mostrarQR" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title"><b>Código QR del recurso</b></h3>
                        </div>
                        <div class="modal-body">
                            <div style="text-align:center; padding-right: 0px;padding-left: 0px">
                                <div class="container_cota" style="text-align:center;">
                                    <p><b>{{cotaLibro}} </b></p>
                                </div>

                                  <br>
                                  <div class="container_qr" style="padding-right: 15%;padding-left: 15%">
                                    <div data-ng-if="ruta_qr">
                                        <qr size="180" text="ruta_qr"> </qr>
                                    </div>
                                  </div>
                                  <br>
                              </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            

            <!-- Modal Confirmacion eliminar-->
            <div id="confirmacionEliminar" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmación</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{msjConfirmacion}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-click="eliminarLibro()" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>  


    <!-- Modal Confirmacion-->
    <div id="confirmacion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjConfirmacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click= "limpiarLibro()" data-dismiss="modal" >Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Informacion-->
    <div style = "z-index: 30000" id="informacion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Información</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjInformacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Importar z39.50-->
    <div class="modal fade" id="importarZ3950" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><b>Importar mediante Z39.50</b></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class=" col-md-12 form-horizontal">
                            <div class = "">
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-4">
                                        <select id = "tipoBusqueda" class="form-control">
                                            <option>Título</option>
                                            <option>Cota</option>
                                            <option>Autor</option>
                                            <option>Editorial</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 pl-0px">
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-xs-2 pl-0px">
                                        <select class="form-control">
                                            <option value="0" selected="selected" label="Y">Y</option>
                                            <option value="1" label="O">O</option>
                                            <option value="2" label="NO">NO</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-1 pl-0px" >
                                        <button  type="button" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>           
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fechaZ" class="control-label col-xs-11 col-sm-3" style="padding-left:0px;">Fecha:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <input id="fechaZ" type="text" class="form-control" placeholder ="Fecha">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-11 col-sm-3">País:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <select  class="form-control">
                                            <option>Venezuela</option>
                                            <option>Colombia</option>
                                            <option>México</option>
                                            <option>Panamá</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="isbnZ" class="control-label col-xs-11 col-sm-3" style="padding-left:0px;">ISBN:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <input id="isbnZ" type="text" class="form-control" placeholder ="ISBN">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="eanZ" class="control-label col-xs-11 col-sm-3" style="padding-left:0px;">EAN:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <input id="eanZ" type="text" class="form-control" placeholder="EAN">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ordenB" class="control-label col-xs-11 col-sm-3">Servidor Z39.50:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <select id = "ordenB" class="form-control">
                                            <option value="0" selected="selected" label="Library of Congress (LC)">Library of Congress (LC)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-xs-12 text-center">
                                        <button  type="button"  class="btn btn-success" title="Añadir nuevos campos de búsqueda">
                                        <i class="fa fa-plus-square"></i>           
                                        </button>
                                        <button title="Buscar recursos" type="button" class="btn btn-primary" title="Buscar recursos">
                                        <i class="fa fa-search"></i>            
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="mostrarBarras" class="modal fade" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header"><h4 style="margin:0;">Buscar por código de barra</h4></div>
                    <form ng-submit="buscarRecursoId()">
                        <div class="modal-body">
                            <div >
                                <label type="text" class="control-label">Código de barra:</label>
                                <input id="enterBarcode" focus-me="true" type="text" class="form-control" placeholder="" ng-model="codigoBarra"  autocomplete="off">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary" >Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <!-- Modal buscador simple-->
    <div style = " z-index:9000; overflow-y: auto;" class="modal fade" id="buscadorSimple" role="dialog">
       <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><b>Buscador simple</b></h3>
             </div>
             <div class="modal-body">
                <form class="simple_search" class="form-inline" ng-submit="consultar_buscador_simple(selectedBuscadorSimple)">
                   <div class="col-md-6">
                      <div class="form-group">  
                         <label for="exampleInputEmail2">Campo de búsqueda</label>
                         <input autocomplete = "off" style="width: 300px !important" id="buscador" type="text" ng-model="selectedBuscadorSimple" ng-change="verificar_paste(selectedBuscadorSimple)" placeholder="Buscar por: Cota | Título | Autor" ng-paste="paste=true" ng-init="paste=true"  typeahead-on-select='consultar_buscador_simple(selectedBuscadorSimple)' typeahead="state for state in loadingStates3($viewValue) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading" class="form-control" >
                         <button title="Buscar" class="btn btn-primary" type="submit" ng-click="buscar()" data-placement="rigth" modal-title="Buscar recurso" ng-disabled="bool_disable" > <i class = "fa  fa fa-search"  > </i>
                         </button>
                         <i ng-show="loading" class="glyphicon glyphicon-refresh fa-spin"></i>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="form-group">      
                         <label for="exampleInputEmail2">Orden</label>
                         <select   ng-disabled="bool_disable" ng-model='orden_seleccionado' ng-change="consultar_buscador_simple(selectedBuscadorSimple)" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched"
                            ng-options='opt as opt.label for opt in options_orden'>
                         </select>
                      </div>
                   </div>
                </form>
                <br>
                <div  ng-if="totalItems > 0 &&  bool_table_recursos" class="col-md-12 alert alert-success">
                   <strong>Se han encontrado {{totalItems}} recursos!</strong>
                </div>
                <div ng-if="totalItems == 0 && bool_table_recursos" class=" col-md-12 alert alert-warning">
                   <strong>Se han encontrado {{totalItems}} recursos!</strong>
                </div>
                <table style = "height: 350px !important" ng-if="bool_table_recursos" class="table table-bordered table-hover" data-pattern="priority-columns">
                   <tr class="tr_header_table">
                      <th class="header_table">
                         <h2>Cota</h2>
                      </th>
                      <th class="header_table">
                         <h2>Título</h2>
                      </th>
                      <th class="header_table">
                         <h2>Autor</h2>
                      </th>
                      <th class="header_table">
                         <h2>Año</h2>
                      </th>
                      <!--      <th>Acciones</th> -->
                   </tr>
                   <!--  ng-style="{'background-color': '#dff0d8'}" -->
                   <tr ng-click ="desplegar_recurso(recurso.id,$index)" ng-repeat="recurso in recursosBuscador">
                      <td  >{{recurso.ubicacion}}</td>
                      <td >
                         <div ng-repeat="titulo in recurso.titulos">
                            <div ng-if="titulo.tipo_tit == 'OP' ">
                               {{titulo.titulo_salida}}
                            </div>
                         </div>
                      </td>
                      <td>
                         <div ng-repeat="autor in recurso.autores">
                            <div ng-if="autor.tipo_autor=='P' ">
                               {{autor.autor_salida}}
                            </div>
                         </div>
                      </td>
                      <td >{{recurso.fecha_pub}} </td>
                   </tr>
                </table>
                <pagination id="mypage" ng-if="bool_table_recursos"  total-items="totalItems" ng-model="currentPage" ng-change="pageChanged(currentPage)" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="num_items_pagina" num-pages="numPages"></pagination>
                <pre ng-if="bool_table_recursos"> Página: {{currentPage}} / {{numPages}}</pre>
             </div>
             <div style="clear: both"></div>
             <div class="modal-footer">
                <button ng-click = "selectedBuscadorSimple = ''" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
             </div>
          </div>
       </div>
    </div>
    <!-- Modal Loader-->
    <div id="loader" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible; z-index:20000">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header"><h3 style="margin:0;">Cargando...</h3></div>
                <div class="modal-body">

                    <div class="progress progress-striped active" style="margin-bottom:0;">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Busquedas avanzada-->
    <div style = " z-index:9000; overflow-y: auto;" class="modal fade" id="busquedaAvanzada" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><b>Búsqueda Avanzada de Trabajos Académicos</b></h3>
                </div>
                <div class="modal-body">  
                    <div class="row">
                        <div class=" col-md-12 form-horizontal">
                            <div ng-show = "mostrarBuscador" >
                                <div ng-repeat="input in inputs">
                                    <form >
                                        <div class="form-group" >
                                            <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                                                <select class="form-control multiple input-xsmall"  ng-model='input.opt1.select_model' ng-options='opt as opt.label for opt in options.opciones1' ng-change = "colocar_typeahead($index,input.opt1.select_model.value)">
                                                </select>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 pl-0px">
                                                <input type="text"  ng-init="paste=false" typeahead="state for state in loadingStates4($viewValue, input.opt1.select_model.value) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched" ng-model="input.opt1.text_model" >
                                            </div>
                                            <div class="col-xs-2 col-sm-1 pl-0px">
                                                <select  ng-class="{ form_sin_y: $last}" ng-hide="$last"  class="form-control multiple input-xsmall"  ng-model='input.opt2.select_model'
                                             ng-options='opt as opt.label for opt in options.opciones2'>
                                                </select>
                                                 <button ng-hide="!$last"  type="button" ng-show = "bool_add_button"  ng-click="add_option()" class="btn btn-success" title="Añadir nuevos campos de búsqueda">
                                                <i class="fa fa-plus-square"></i>           
                                                </button>
                                            </div>

                                            <div class="col-xs-1 col-sm-1  pl-0px" style="margin-left: 0px !important">
                                                <button type="button" ng-click="delete($index)" class="btn btn-danger" data-toggle="{{mytooltips[$index].tooltip}}" data-placement="{{mytooltips[$index].position}}" title="{{mytooltips[$index].title}}">
                                            <i class="fa fa-trash"></i>           
                                                </button> 
                                            </div>                   
                                        </div>
                                    </form>
                                </div>
                               
                                <form>
                                    <div class="form-group">
                                        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                                            <input ng-show = "bool_add_button" type="number" ng-model="anios.anio_origen" placeholder = "Año inicio ej: 1991" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
                                        </div>
                                        <div class="col-xs-12 col-sm-5 ">
                                            <input ng-show = "bool_add_button" type="number" ng-model="anios.anio_destino" placeholder= "Año fin ej: 2000" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
                                        </div>
                                    </div>
                                </form>
                                
                                <form >
                                    <div class="form-group" >
                                        <label  class="control-label col-xs-11 col-sm-3" ng-show="bool_add_button" for="exampleInputEmail2"> Ubicación </label>
                                        <div class="col-xs-12 col-sm-8">
                                            <select ng-show="bool_add_button" class="form-control multiple input-xsmall"  ng-model='options_bibliotecas_seleccionado'
                                                ng-options='opt as opt.label for opt in options_bibliotecas'>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                
                                <form >
                                    <div class="form-group" >
                                        <label class="control-label col-xs-11 col-sm-3" ng-show="bool_add_button" for="exampleInputEmail2"> Dependencias: </label>
                                        <div class="col-xs-12 col-sm-8">
                                            <select ng-show="bool_add_button" class="form-control multiple input-xsmall"  ng-model='options_dependencias_seleccionado'
                                                ng-options='opt as opt.label for opt in options_dependencias'>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                
                                <form >
                                    <div class="form-group">  
                                        <label class="control-label col-xs-11 col-sm-3" ng-show="bool_add_button" for="exampleInputEmail2">Nro. de recursos:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input ng-show="bool_add_button" type="number" ng-model="num_items_pagina3" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched" data-toggle="tooltip" data-placement="rigth" title="Cantidad de recursos por página">
                                        </div>
                                    </div>
                                </form>
                                
                                <form >
                                    <div class="form-group">      
                                        <label   class="control-label col-xs-11 col-sm-3" ng-show="bool_add_button" for="exampleInputEmail2">Orden:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <select  ng-disabled = "loading" ng-show="bool_add_button"  ng-model='orden_seleccionado' ng-change="consulta_buscador_avanzado()" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched"
                                                ng-options='opt as opt.label for opt in options_orden'>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <form >
                                <div class="form-group" >
                                    <div class="col-xs-12 text-center">
                                       
                                        <button ng-disabled = "loading" title="Buscar recursos" type="button" ng-show = "mostrarBuscador"   ng-click="consulta_buscador_avanzado()" class="btn btn-primary" title="Buscar recursos">
                                        <i class="fa fa-search"></i>  Buscar Recursos          
                                        </button>
                                        <i ng-show="loading" class="glyphicon glyphicon-refresh fa-spin"></i>
                                       <button ng-disabled = "loading" title="Buscar recursos" type="button"  ng-show = "!mostrarBuscador"   ng-click="mostrarBuscador = true" class="btn btn-primary" title="Buscar recursos">
                                        <i class="glyphicon glyphicon-eye-open"></i>  Mostrar buscador          
                                        </button>
                                         <button ng-disabled = "loading" title="Buscar recursos" type="button"  ng-show = "mostrarBuscador && busquedaEncontrada"   ng-click="mostrarBuscador = false" class="btn btn-primary" title="Buscar recursos">
                                        <i class="glyphicon glyphicon-eye-close"></i>  Ocultar buscador          
                                        </button>
                                        
                                       
                                    </div>
                                </div>
                                
                            </form>
                            
                            <div>
                                <br>
                                 <div  ng-if="totalItems > 0 &&  bool_table_recursos" class="col-md-12 alert alert-success">
                                   <strong>Se han encontrado {{totalItems}} recursos!</strong>
                                </div>
                                <div ng-if="totalItems == 0 && bool_table_recursos" class=" col-md-12 alert alert-warning">
                                   <strong>No se encontró ningún resultado para la búsqueda</strong>
                                </div>
                                <table style = "height: 350px !important" ng-if="bool_table_recursos" class="table table-bordered table-hover" data-pattern="priority-columns">
                                   <tr class="tr_header_table">
                                      <th class="header_table">
                                         <h2>Cota</h2>
                                      </th>
                                      <th class="header_table">
                                         <h2>Título</h2>
                                      </th>
                                      <th class="header_table">
                                         <h2>Autor</h2>
                                      </th>
                                      <th class="header_table">
                                         <h2>Año</h2>
                                      </th>
                                      <!--      <th>Acciones</th> -->
                                   </tr>
                                   <!--  ng-style="{'background-color': '#dff0d8'}" -->
                                   <tr ng-click ="desplegar_recurso(recurso.id,$index)" ng-repeat="recurso in recursosBuscador">
                                      <td  >{{recurso.ubicacion}}</td>
                                      <td >
                                         <div ng-repeat="titulo in recurso.titulos">
                                            <div ng-if="titulo.tipo_tit == 'OP' ">
                                               {{titulo.titulo_salida}}
                                            </div>
                                         </div>
                                      </td>
                                      <td>
                                         <div ng-repeat="autor in recurso.autores">
                                            <div ng-if="autor.tipo_autor =='P' ">
                                               {{autor.autor_salida}}
                                            </div>
                                         </div>
                                      </td>
                                      <td >{{recurso.fecha_pub}} </td>
                                   </tr>
                                </table>
                                <pagination id="mypage" ng-if="bool_table_recursos"  total-items="totalItems" ng-model="currentPage" ng-change="pageChangedAvanzado(currentPage)" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="num_items_pagina" num-pages="numPages"></pagination>
                                <pre ng-if="bool_table_recursos"> Página: {{currentPage}} / {{numPages}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Modal Confirmacion Institucion-->
    <div style = "z-index:10000" id="confirmacionInstitucion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjConfirmacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" ng-if = "msjConfirmacion== '¿Está seguro que desea eliminar la institución?'" ng-click="eliminarInstitucion()" class="btn btn-primary">Aceptar</button>
                    <button type="button" ng-if = "msjConfirmacion== '¿Está seguro que desea limpiar toda la información cargada en pantalla?'" ng-click="limpiarInstitucion()" class="btn btn-primary">Aceptar</button>
                    <button type="button" ng-if = "msjConfirmacion== '¿Está seguro que desea agregar esta institución?'" ng-click="agregarInstitucion()" class="btn btn-primary">Aceptar</button>
                    <button type="button" ng-if = "msjConfirmacion== '¿Está seguro que desea modificar esta institución?'" ng-click="guardarInstitucion()" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

 <!-- Modal Instituciones-->
  <div data-backdrop="static"  style = " z-index:9000; overflow-y: auto;" class="modal fade" id="institucion" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title"><b>Instituciones</b></h3>
        </div>
        <div class="modal-body">
            <form ng-submit = "submitInstituciones()">
                <div class="row ">
                    <div class="col-xs-12 col-md-5"></div>
                    <div class="col-xs-12 col-sm-6 col-md-3"></div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mtb-2px" align="right">
                        <button  ng-disabled = "claseInstitucion == 0" type ="submit"  class="btn btn-default mr-5px" ng-click="msjConfirmacion= '¿Está seguro que desea agregar esta institución?'" title = "Agregar">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                         <button  ng-disabled = "claseInstitucion == 1" type = "submit"  class="btn btn-default mr-5px" ng-click="msjConfirmacion= '¿Está seguro que desea modificar esta institución?'" title = "Guardar">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        </button>
                       
                        <button  type="button" class="btn btn-default mr-5px" ng-click="msjConfirmacion= '¿Está seguro que desea limpiar toda la información cargada en pantalla?';  " data-toggle="modal" data-target="#confirmacionInstitucion"  title = "Eliminar" >
                            <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                        </button>
                        <button type="button" ng-disabled = "claseInstitucion == 1" class="btn btn-default" ng-click="msjConfirmacion= '¿Está seguro que desea eliminar la institución?'; msjInformacion= 'Se limpió la pantalla exitosamente'" data-toggle="modal" data-target="#confirmacionInstitucion" title = "Limpiar" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class=" col-md-12 form-horizontal">
                   
                        <h4><b>Detalles de la Institución</b></h4>
                        <div class = "recuadro ">
                            <div class="form-group">
                                <label for="nombre-institucion" class="control-label col-xs-11 col-sm-2">*Nombre:</label>
                                <div class="col-xs-11 col-sm-9">
                                    <input required id = "nombreInstitucion" type="text" class="form-control" placeholder="Nombre" type="text"  ng-init="paste=false" typeahead="  state as state.institucion_salida for state in loadingStatesInstitucion($viewValue) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="onselectInstitucion(nombreInstitucion)" ng-model="nombreInstitucion"  autocomplete="off" style="margin-right:10px !important;" ng-trim = "false" ng-change= "trimRequired('nombreInstitucion')" ng-blur = "blurRequired('nombreInstitucion')" ng-focus = "auxTrim = nombreInstitucion">
                                </div>
                                <div class=" col-xs-1 col-md-1" style="padding-left: 10px !important; top: 8px !important">
                                    <i ng-show="loadingInstitucion" class="glyphicon glyphicon-refresh fa-spin"></i>
                                </div>  
                            </div>
                            <div class="form-group">
                                <label for="url-institucion" class="control-label col-xs-11 col-sm-2">URL:</label>
                                <div class="col-xs-11 col-sm-5">
                                    <input ng-model = "urlInstitucion" id="url-institucion" type="text" class="form-control" placeholder="URL">
                                </div>  
                                <label class="control-label col-xs-11 col-sm-1">País:</label>
                                 <div class="col-xs-11 col-sm-3">
                                    <select id = "pais" class="form-control" ng-model="paisInstitucion" >
                                        <option value="" selected="selected">Seleccionar</option>
                                        <option 
                                            ng-repeat="option in paises"
                                            value="{{option.id}}">{{option.pais}}
                                        </option>
                                    </select>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class=" col-md-12">
                   
                    <h4><b>Instituciones existentes</b></h4>
                    <b>Nota: Debe seleccionar o autocompletar una institución y luego presionar el botón aceptar, en caso de que no exista la institución debe agregarla y posteriormente presionar el botón aceptar.</b>
                    <div class = "recuadro col-xs-12">
                        <form ng-submit="buscarInstitucion()">
                            <div class="col-xs-12 col-md-9" style="padding-left: 0px !important; margin-left: 0px !important">
                                <div class=" input-group">
                                    <input type="text" class="form-control" ng-model = "buscadorInstitucion" placeholder="Buscar por Institución">
                                    <span class="input-group-btn">
                                    <button type ="submit" type="button" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3" style="margin-bottom: 15px !important" >
                                <button ng-click = "buscadorInstitucion = ''; busquedaInstitucion = false; pageChangedInstitucion(1)" type="button" class="btn btn-primary " ng-disabled = '!busquedaInstitucion'>Limpiar búsqueda</button>
                            </div>
                        </form>
                        <table class="table table-responsive table-striped table-bordered" style = "height: 160px !important">
                            <thead>
                                <tr>
                                    <th class="col-xs-12">Instituciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="institucion in instituciones" ng-class = "agregarClaseFilaEditorialInstituciones(institucion)" ng-click = "encenderInstitucion(institucion, $index)" ng-dblclick = "">
                                    <td >{{institucion.institucion_salida}}</td>
                                </tr>
                            </tbody>
                        </table> 
                        <div style="text-align: center !important" style="padding-top:0px !important; margin-top: 0px !important">
                            <pagination id="mypage"  ng-if ="numPagesInstitucion > 1" total-items="totalItemsInstitucion" ng-model="currentPageInstitucion" ng-change="pageChangedInstitucion(currentPageInstitucion)" max-size="12" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="15" num-pages="numPagesInstitucion"></pagination>            
                            <pre> Página: {{currentPageInstitucion}} / {{numPagesInstitucion}}</pre>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
            <div class="modal-footer">
                <button type="button" ng-click = "nombreInstitucion = institucionPrincipal ;"class="btn btn-default" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
  </div>

    <!-- Modal Confirmacion eliminar archivo-->
    <div id="confirmacionCargarArchivo" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjConfirmacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" ng-click="eliminarArchivo()" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
