

<style type="text/css">
    
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;    
}

</style>
<div class="container" >
   <div style="height: 10px"></div>
   <h2 align="center"><b>Importar recursos</b></h2>





<h4>Selección de archivo </h4>
<p>Por favor, seleccione el archivo en formato .xlsx donde se encuentran los recursos que desea importar.</b></p>
<form name="upload" ng-submit="uploadFile()" class="form-inline">
    <span class="btn btn-default btn-file">
        Seleccionar archivo <input type="file" name="file" id="file" name='file' accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="angular.element(this).scope().fileName(this)" uploader-model="file">
    </span>
    {{ nombreArchivo}}

    <button type ="submit" type="button" class="btn btn-primary" ng-show="nombreArchivo.length > 0">
        Importar
    </button>
    
    <button  type ="button" class="btn btn-default" ng-click="msjConfirmacion= '¿Está seguro que desea eliminar el archivo?'" data-toggle="modal" data-target="#confirmacion" ng-show="nombreArchivo.length > 0">Eliminar archivo
    </button>         

   
</form>


<br>
<br>

<div class="row">
    <table style = "width: 100% !important; height: 350px !important" ng-show="validaciones.length > 0" class="table table-bordered table-hover" data-pattern="priority-columns">
       <tr class="tr_header_table">
          <th class="header_table">
             <h2>Linea</h2>
          </th>
          <th class="header_table">
             <h2>Campo</h2>
          </th>
          <th style = "width: 100% !important" class="header_table">
             <h2>Error</h2>
          </th>
       </tr>
       <!--  ng-style="{'background-color': '#dff0d8'}" -->
       <tr ng-repeat="validacion in validaciones">
          <td  >{{validacion.linea}}</td>
          <td  >{{validacion.campo}}</td>
          <td  style = "width: 100% !important" >{{validacion.error}}</td>
       </tr>
    </table>    
</div>

<!-- Modal Loader-->
<div id="loader" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible; z-index:20000">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header"><h3 style="margin:0;">Cargando...</h3></div>
            <div class="modal-body">
                <div class="progress progress-striped active" style="margin-bottom:0;">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal Informacion-->
<div style = "z-index: 30000" id="informacion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Información</h4>
            </div>
            <div class="modal-body">
                <p>{{msjInformacion}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Confirmacion eliminar archivo-->
<div id="confirmacion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <p>{{msjConfirmacion}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="eliminarArchivo()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>



<h4>Formato para importar</h4>

<p> En la siguiente sección puede descargar el formato .xlsx utilizado para la importación de recursos y visualizar una tabla con los lineamientos correspondientes para cada uno de los campos del formato. 
<br>
<br>

<button type ="button" class="btn btn-default" ng-show = "!mostrarTabla" ng-click = "mostrarTabla = true">
    Mostrar tabla formatos 
</button>

<button type ="button" class="btn btn-default" ng-show = "mostrarTabla" ng-click = "mostrarTabla = false">
    Ocultar tabla formatos 
</button>

<button type ="button" class="btn btn-primary" ng-click = "descargarFormato()">
    Descargar formato 
</button>


<div class="row">
    <table ng-show = "mostrarTabla" style = "width: 100% !important; height: 350px !important"  class="table table-bordered table-hover" data-pattern="priority-columns">
       <tr class="tr_header_table">
          <th class="header_table">
             <h2>Campo</h2>
          </th>
          <th style = "width: 100% !important" class="header_table">
             <h2>Formato</h2>
          </th>
       </tr>
       <!--  ng-style="{'background-color': '#dff0d8'}" -->
       <tr>
          <td>Tipo de recurso</td>
          <td> El tipo de recurso debe ser: 
            <p ng-repeat = "tipo_doc in tipo_docs ">
             - <b> {{tipo_doc.id}} </b> para {{tipo_doc.descrip_doc_salida}}
            </p>

          </td>
       </tr>
       <tr>
          <td>Autor</td>
          <td>
          -El formato para cualquier tipo de autor es el siguiente: La inicial del tipo de autor(Personal: <b>P</b>, Conferencia: <b>C</b>, Institucional: <b>I</b>) seguido de dos puntos "<b>:</b>" y el nombre del autor. En caso de que sea de tipo personal debe ir en el formato: Apellido, Nombre. 
          <br>
          <b>Ejemplo:</b> <i> P: Pérez, Pedro. </i> 
          <br>
          -Si es mas de un autor se deben separar por el símbolo pipe: "<b>|</b>". 
          <br>
          <b>Ejemplo:</b> <i> P: Perez, Pedro |  P: Gonzales, Maria</i>
          <br>
           <b>-Nota:</b> El campo de autor principal es obligatorio para todos los tipos de recursos a excepción de las Publicaciones seriadas.
          </td>
                   
       </tr>
       <tr>
          <td>Titulo</td>
          <td>
          - Para cualquier tipo de título, si el recurso posee mas de un título se deben separar por el símbolo pipe: "<b>|</b>".
            <br>
          <b>Ejemplo:</b> <i> Título1 | Título2</i>
           <br>
           <b>-Nota:</b> El campo de titulo principal es obligatorio para todos los tipos de recursos.
          </td>
       </tr>

        <tr>
          <td>Editoriales</td>
          <td>
          - Válido solo para las monografías, si la monografía posee mas de una editorial se deben separar por el símbolo pipe"<b>|</b>".
            <br>
          <b>Ejemplo:</b> <i> Editorial1 | Editorial2</i>
          </td>
       </tr>
        <tr>
          <td>Año</td>
          <td>
          - Válido solo para los recursos que no poseen una fecha completa sino solamente el año.
            <br>
          <b>Ejemplo:</b> <i> 1994</i>
          </td>
       </tr>
        <tr>
          <td>Fecha</td>
          <td>
          -La fecha debe estar en formato dd/mm/aaaa
            <br>
          <b>Ejemplo:</b> <i> 17/05/1990</i>
          </td>
       </tr>
       <tr>
          <td>Edición</td>
          <td>
          -La edición debe ser solo un número correspondiente a la edición
            <br>
          <b>Ejemplo:</b> <i> 3</i>
          </td>
       </tr>
        <tr>
          <td>Volumen</td>
          <td>
          -El volumen debe ser solo un número correspondiente al volumen
            <br>
          <b>Ejemplo:</b> <i> 1</i>
          </td>
       </tr>
        <tr>
          <td>Resumen/ Notas / Datos adicionales</td>
          <td>
          -Solamente se debe rellenar uno de los 3 campos. 
            
          </td>
        </tr>
        <tr>
          <td>Descriptores</td>
          <td>
          -Para cualquier tipo de descriptor, si el recurso posee mas de un descriptor se deben separar por el símbolo pipe: "<b>|</b>".
            <br>
          <b>Ejemplo:</b> <i> Descriptor1 | Descriptor2</i>
          </td>
        </tr>
        <tr>
          <td>Descriptor Materia tematica</td>
          <td>
          -Se debe colocar el encabezamiento tematico, la subdivision general y la subdivision geográfica separadas por dos puntos ":"
           <br>
          <b>Ejemplo 1: </b> <i>Encabezamiento tem : Subdv general : Subdv geografica</i>
          <br>
           En caso de que no posea subdivision general o subdivisión geográfica se deben mantener los dos puntos ":" con el espacio vacío.
            <br>
          <b>Ejemplo 2:</b> Si solo posee encabezamiento temático se debe colocar: <i>Encabezamiento tem : : </i>
          <br>
          <b>Ejemplo 3:</b> Si solo posee encabezamiento temático y subdivisión general, se debe colocar: <i>Encabezamiento tem : Subdv general : </i>
          <br>
           <b>-Nota:</b> Si es mas de un descriptor temático se deben separar por el simbolo pipe: "<b>|</b>".
          <br>
          <b>Ejemplo 4:</b> Siguiendo el ejemplo 3: <i>Encabezamiento tem : Subdv general : | Encabezamiento tem2 : Subdv general2 : Subdv geografica2 </i>
          </td>
        </tr>
        <tr>
          <td>Nivel</td>
          <td>
          -El campo nivel se debe completar solo para los Trabajos académicos y debe ser estrictamente con uno de los siguientes campos:
            <br><i>
           GRADO, MAGISTER, DOCTORADO, MAESTRIA, ESPECIALISTA, POSTGRADO, PH.D.
          </i>
          <br>
           <b>-Nota:</b> En caso de no introducir uno de los campos anteriores el texto introducido se tomará como un nuevo nivel
          <br>
           <b>-Nota 2:</b> El campo es obligatorio para los Trabajos académicos.
          </td>
        </tr>
        <tr>
          <td>Tipo trabajo</td>
          <td>
          -El tipo trabajo se debe completar solo para los Trabajos académicos y debe ser estrictamente con uno de los siguientes campos:
            <br><i>
           INVESTIGACIoN, CAMPO, TESIS DOCTORADO, TESIS DE GRADO, TRABAJO DE ASCENSO, TESIS DE DOCTORADO, TESIS DE ESPECIALIZACION, TESIS DE MAESTRIA,TESIS DOCTORAL, NO DEFINIDO.

          </i>
          <br>
           <b>-Nota:</b> En caso de no introducir uno de los campos anteriores el texto introducido se tomará como un nuevo tipo de trabajo.
           <br>
           <b>-Nota 2:</b> El campo es obligatorio para los Trabajos académicos.
          </td>
        </tr>
        <tr>
          <td>Campos adicionales</td>
          <td>
          -Este campo no se puede completar si el recurso es de tipo Trabajo académico, Libro o Publicación seriada <br>
          - El formato para los campos adicionales es el siguiente: El nombre del campo seguido de dos puntos "<b>:</b>"  y la descripción del campo.
          <br>
          <b>Ejemplo:</b> <i> Idioma: Ingles </i> 
          <br>
          -Si es mas de un campo adicional se deben separar por el símbolo pipe: "<b>|</b>". 
          <br>
          <b>Ejemplo:</b> <i> Idioma: Ingles | Formato: pdf </i>
          </td>
       </tr>
         <tr>
          <td>Volumenes</td>
          <td>
          Este campo es válido para todos los recursos a excepción de las publicaciones seriadas.
          -Se debe colocar el Número del volumen, el subtítulo, el ISBN y el año separados por dos puntos ":" (Núm Vol : Subtitulo : ISBN : Año). 
           <br>
          <b>Ejemplo 1: </b> <i>2 : Subtítulo del recurso : 080501246X : 1995</i>
          <br>
           En caso de que no posea ISBN o Año se deben mantener los dos puntos ":" con el espacio vacío
            <br>
          <b>Ejemplo 2:</b>Si no posee ISBN se debe colocar los dos puntos dejando el espacio vacio<i>  1 : Subtitulo de Recurso : : 1995 </i>
          <br>
          <b>Ejemplo 3:</b> Si no posee año se deben colocar los dos puntos dejando el espacio final vacío: <i> 1 : Subtitulo de Recurso : 080501246X : </i>
          <br>
           <b>-Nota:</b> Si es mas de un volumen asociado al recurso se deben separar por el simbolo pipe: "<b>|</b>".
          <br>
          <b>Ejemplo 4:</b> <i> 2 : Subtitulo del recurso : 080501246X : 1995 | 3 : Subtitulo2 del recurso : 080501246X : 1998 </i>
          <br>
           <b>-Nota2:</b> Los campos número de volumen y subtítulo son obligatorios.
          <br>
          </td>
        </tr>

         <tr>
          <td>Volumenes series</td>
          <td>
           Se debe colocar el año, el número del volumen, el número inicial y el número final (opcional), separados por dos puntos ":". (Año : Volumen : Número inicial : Número final).
           <br>
          <b>Ejemplo 1:</b> <i>2017 : 1 : 1 : 10</i>
          <br>
           En caso de que no posea número final, no se coloca
          <br>
          <b>Ejemplo 2:</b> <i>2017 : 1 : 1 </i>
          <br>
           <b>-Nota:</b> Si la serie contiene más de un volumen asociado al recurso se deben separar por el simbolo pipe: "<b>|</b>".
          <br>
          <b>Ejemplo 4:</b> <i>2017 : 1 : 1 : 10 | 2017 : 1 : 1 : 10 </i>
          <br>
          <b>-Nota2:</b> Los campos: año, número del volumen y número inicial son obligatorios y deben ser numéricos.
          <br>
          </td>
        </tr>
         <tr>
          <td>Tipo de publicación</td>
          <td>
          -El tipo publicación se debe completar solo para las publicaciones seriadas y debe ser estrictamente con uno de los siguientes campos:
            <br><i>
            <b>S </b> para Publicación periódicas<br>
            <b>P </b> para Periódicos<br>
            <b>D </b> para Monografía seriadas<br>
            <b>N </b> para Ninguna de las anteriores  <br>  
          </i>
          <br>
           <b>-Nota:</b> El campo es obligatorio para las publicaciones seriadas.
          </td>
        </tr>
         <tr>
          <td>Periodicidad</td>
          <td>
          -La Periodicidad se debe completar solo para las publicaciones seriadas y debe ser estrictamente con uno de los siguientes campos:
            <br><i>
                 <b>- Diaria </b> <br>
                <b>- Semanal </b> <br>
                <b>- Quincenal </b> <br>
                 <b>- Mensual </b> <br>
                <b>- Bimestral </b> <br>
                <b>- Trimestral </b> <br>
                <b>- Cuatrimestral </b> <br>
                <b>- Semestral </b> <br>
                <b>- Anual </b> <br>
                <b>- Bianual </b> 
             
          </i>
          <br>
          </td>
        </tr>

         <tr>
          <td>Regularidad</td>
          <td>
          -La Regulariad se debe completar solo para las publicaciones seriadas y debe ser estrictamente con uno de los siguientes campos:
           <br><i>
	     
            <b>- R </b> para Regular<br>
            <b>- D </b> para Desconocida<br>
            <b>- N </b> para Normalmente Irregular<br>
            <b>- C </b> para Completamente Irregular
             
          </i>
          <br>
          </td>
        </tr>

         <tr>
          <td>ISSN</td>
          <td>
          -El ISSN se debe completar solo para las publicaciones seriadas.
          </td>
        </tr>
        <tr>
          <td>Diseminación</td>
          <td>
          -La diseminación se debe completar solo para las publicaciones seriadas.
          </td>
        </tr>
        <tr>
          <td>Existencia</td>
          <td>
          -La existencia se debe completar solo para las publicaciones seriadas.
          </td>
        </tr>

    </table>    
</div>

