
<h2 align="center">Contacto</h2>

<h4>Puede realizar sugerencias, solicitudes o consultas a la BAG a través de este formulario.</h4><br>

	<div class="col-md-2"></div>
	<div class="col-md-8">
    <form class="form-horizontal">

        <div class="form-group">

            <label class="col-xs-2 control-label" for="inputSuccess">Nombre y Apellido</label>

            <div class="col-xs-10">

                <input type="text" ng-model="nombres" id="inputSuccess" class="form-control" placeholder="Nombre y Apellido">

            </div>

        </div>

        <div class="form-group">

            <label class="col-xs-2 control-label" for="inputWarning">Correo eletrónico</label>

            <div class="col-xs-10">

                <input  ng-model="correo" type="email" id="inputWarning" class="form-control" placeholder="Correo eletrónico">

            </div>

        </div>

        <div class="form-group">

            <label class="col-xs-2 control-label" for="inputWarning">Contenido</label>

            <div class="col-xs-10">

                <textarea style="overflow:hidden" id="inputWarning" class="form-control" ng-model="contenido" placeholder=""></textarea>

            </div>

        </div>


        <div class="form-group">
            <div class="col-xs-6"></div>
            <div class="col-xs-6">

                <button ng-disabled="show_loading==true" ng-click="enviarConsulta()" title="Enviar" class="btn btn-primary"><i class="fa fa-envelope"></i></button>
                  <i ng-show="show_loading" class="glyphicon glyphicon-refresh fa-spin"></i>

            </div><br><br>
            <div class="col-md-12 alert alert-warning" ng-show="aviso">
				{{aviso}}
			</div>
        </div>


    </form>

	</div>
    <div class="col-md-2"></div>

