<footer class="footer">
	<div class="container">
		<p><br>Av. Los Ilustres, Los Chaguaramos, <a href="www.ciens.ucv.ve">Facultad de Ciencias</a>, <a href="www.ucv.ve">Universidad Central de Venezuela</a><br>Caracas ZP 1040, Apartado Postal 20513<br>(58212) 6051671/ 1665 / 2136 (FAX)<br><a href="https://creativecommons.org/licenses/by/4.0/"><img style="padding-bottom: 10px;" src="assets/images/cc88x31.png"></a>&nbsp;&nbsp;<a href="#/contacto"><i class="fa fa-envelope-o contactanos"></i></a></p>
	</div>
</footer>