 <div>  

    <div class="container">
            <div style="height: 10px"></div>
            <h2 align="center"><b>Catalogación de {{nombre_recurso}}</b></h2>
            <div class="row">
                <div class="col-xs-12" align="center" style="padding: 15px">
                    <div align="center" class="btn-group" role="group"  aria-label="...">
                        <a type="button" href="#/catalogacion/{{redirect}}" data-target="#{{redirect}}" class="btn btn-primary" >Principal</a>
                        <a ng-if = "tipo_recurso == 'serie'" type="button" href="#/catalogacion/numeros" class="btn btn-primary" >Números</a>
                        <a type="button" href="#/catalogacion/autores" class="btn btn-primary" >Autores</a>  
                        <a type="button" href="#/catalogacion/titulos" class="btn  btn-primary"  >Títulos</a>
                        <a type="button" href="#/catalogacion/ejemplares" class="btn btn-primary " >Ejemplares</a>
                        <a type="button" href="#/catalogacion/descriptores" class="btn  btn-primary" >Descriptores</a>
                        <a type="button" href="#/catalogacion/soporte" class="btn btn-primary" >Soporte</a>
                        <a type="button" href="#/catalogacion/conferencias" class="btn btn-cat-opc" ><b>Conferencia</b></a>
                        <a ng-if = "tipo_recurso != 'serie'" type="button" href="#/catalogacion/volumenes" class="btn  btn-primary" >Volúmenes</a>
                    </div>
                </div>
            </div>

       <form class= " recuadro" ng-submit="submitFormluarioConferencia()">
            <div class="row ">
                    <div class="col-xs-12 col-md-5"></div>
                    <div class="col-xs-12 col-sm-6 col-md-3"></div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mtb-2px" align="right">
                        <button type="submit" class="btn btn-default mr-5px" title="Agregar" ng-click="msjConfirmacion= '¿Está seguro que desea agregar esta conferencia?'; esAgregarConferencia = true" ng-disabled="botonAgregarConf">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-default mr-5px" title="Guardar" ng-click="msjConfirmacion= '¿Está seguro que desea modificar esta conferencia?'; esAgregarConferencia = false" ng-disabled="!botonAgregarConf">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default mr-5px"  title="Limpiar" ng-click="msjConfirmacion= '¿Está seguro que desea limpiar toda la información cargada en pantalla?'; msjInformacion= 'Se limpió la pantalla exitosamente'" data-toggle="modal" data-target="#confirmacion">
                             <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" title = "Eliminar" ng-click="msjConfirmacion= '¿Está seguro que desea eliminar esta conferencia?'; msjInformacion= 'Conferencia eliminado exitosamente'" data-toggle="modal" data-target="#confirmacionEliminar" ng-disabled="!botonAgregarConf">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
            </div>

            <div style="height: 20px"></div>


            <div class="row">
                <div class=" col-md-12 form-horizontal">
                    <h4><b>Detalles de la conferencia</b></h4>
                    <div class = "recuadro ">
                     
        
                        <div class="form-group" >
                            <label for="nombre-conferencia" class="control-label  col-sm-3 col-xs-12  " style="padding-right: 0px !important" >*Nombre:</label>

                            <div class="col-xs-11 col-sm-6">
                                 <input id = "nombre-conferencia" type="text" class="form-control" placeholder="Nombre" type="text"  ng-init="paste=false" typeahead="  state as state.nombre for state in loadingStates($viewValue) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="selecionarConferencia()" ng-model="nombreConf" autocomplete="off" required style="margin-right:10px !important;" ng-trim = "false" ng-change= "trimRequired('nombreConf')" ng-blur = "blurRequired('nombreConf')" ng-focus = "auxTrim = nombreConf">
                            </div>
                            <div class=" col-xs-1 col-md-1" style="padding-left: 10px !important; top: 8px !important">
                                <i ng-show="loading" class="glyphicon glyphicon-refresh fa-spin"></i>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="ciudad-conf" class="control-label  col-sm-3 col-xs-12 " style="padding-right: 0px !important">*Ciudad:</label>
                            <div class="col-xs-12 col-sm-6">
                                <input id="ciudad-conf" type="text" class="form-control" placeholder="Ciudad" ng-model="ciudadConf" required ng-trim = "false" ng-change= "trimRequired('ciudadConf')" ng-blur = "blurRequired('ciudadConf')" ng-focus = "auxTrim = ciudadConf">
                            </div>
                        </div>
                         <div class="form-group" >
                            <label for="pais-conf" class="control-label  col-sm-3 col-xs-12 " style="padding-right: 0px !important">*País:</label>
                            <div class="col-xs-12 col-sm-6">
                                <select id = "pais" class="form-control" ng-model="paisConf" required>
                                    <option value="" selected="selected">Seleccionar</option>
                                    <option 
                                        ng-repeat="option in paises"
                                        value="{{option.id}}">{{option.pais}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="fecha-conf" class="control-label  col-sm-3 col-xs-12 " style="padding-right: 0px !important">Fecha:</label>
                            <div class="col-xs-12 col-sm-6">
                                <p class="input-group">
                                  <input  type="text" disabled class="form-control" datepicker-popup="{{format}}" ng-change="orig_change(fechaConf)" ng-model="fechaConf" is-open="opened_orig" current-text="Hoy" clear-text="Limpiar" close-text="Cerrar" datepicker-options="dateOptions" placeholder="dd-mm-yyyy"/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open_orig($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="patro-conf" class="control-label  col-sm-3 col-xs-12 " style="padding-right: 0px !important">Patrocinador:</label>
                            <div class="col-xs-12 col-sm-6">
                                <input id="patro-conf" type="text" class="form-control" placeholder="Patrocinador" ng-model="patrocinadorConf">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- Modal Confirmacion submitt-->
            <div id="confirmacionSub" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmación</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{msjConfirmacion}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-show = "esAgregarConferencia" ng-click="agregar_conferencia()" class="btn btn-primary">Aceptar</button>
                            <button type="button" ng-show = "!esAgregarConferencia" ng-click="guardar_conferencia()" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Confirmacion eliminar-->
            <div id="confirmacionEliminar" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmación</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{msjConfirmacion}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-click="eliminar_conferencia()" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="informacion" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Información</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{msjInformacion}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Confirmacion-->
            <div id="confirmacion" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmación</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{msjConfirmacion}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" ng-click= "limpiar_conferencia()" >Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="loader" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header"><h3 style="margin:0;">Cargando...</h3></div>
                        <div class="modal-body">

                            <div class="progress progress-striped active" style="margin-bottom:0;">
                                <div class="progress-bar" style="width: 100%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

