
<h3>Mis Préstamos</h3>

<br>

<div id="datos-usuario">
  <h3>Mis Datos:</h3>
  <table class="table table-bordered table-hover">
    <tr class="tr_header_table header_field">
      <th><h2></h2>Nombre</h2></th>
      <th><h2>Apellido</h2></th>
      <th><h2>Tipo</h2></th>
      <th><h2>Dependencia</h2></th>
      <th><h2>Estado</h2></th>
    </tr>
    <tr>
      <td>{{answer.name}}</td>
      <td>{{answer.lastname}}</td>
      <td>{{answer.type}}</td>
      <td>{{answer.dependencia}}</td>
      <td>{{answer.status}}</td>
    </tr> 
  </table>

</div>

<div id="prestamos">
  <h3>Mis Préstamos: </h3>
  <table class="table table-bordered table-hover">
    <tr class="tr_header_table header_field">
      <th><h2>Id Ejemplar</h2></th>
      <th><h2>Préstamo</h2></th>
      <th><h2>Fecha préstamo</h2></th>
      <th><h2>Fecha expiración</h2></th>
      <th><h2>Periodos renovación</h2></th>
    </tr>


    <tr ng-repeat="registro in answer.prestamos.data" >
              

      <td>{{registro.id_ejemplar}}</td>
      <td>{{registro.prestamo}}</td>
      <td>{{registro.fecha_pre | asDate }}</td>
      <td>{{registro.fecha_exp | asDate }}</td>
      <td>{{registro.periodos_renov}} </td> 
      
    </tr> 

  </table>

</div>

<div id="devoluciones">
  <h3>Mis Devoluciones: </h3>
  <table class="table table-bordered table-hover">
    <tr class="tr_header_table header_field">
  		<th><h2>Id Ejemplar</h2></th>
          <th><h2>Préstamo</h2></th>
  		<th><h2>Fecha préstamo</h2></th>
  		<th><h2>Fecha expiración</h2></th>
          <th><h2>Fecha devolución</h2></th>
  	</tr>


  	<tr ng-repeat="registro in answer.devolucion.data" >
  						

  		<td>{{registro.id_ejemplar}}</td>
          <td>{{registro.prestamo}}</td>
  		<td>{{registro.fecha_prestamo | asDate }}</td>
  		<td>{{registro.fecha_expiracion | asDate }}</td>
  		<td>{{registro.fecha_devolucion | asDate }} </td> 
  		
  	</tr>	

  </table>

  <pagination id="devoluciones-paginator"  total-items="totalItems_d" ng-model="currentPage_d" ng-change="pageChanged_d()" max-size="maxSize_d" class="pagination-sm" num-pages="numPages_d"></pagination>

  <pre>Página devoluciones: {{currentPage_d}} / {{numPages_d}}</pre>
</div>

<div id="suspensiones">
  <h3>Mis Suspensiones: </h3>
  <table class="table table-bordered table-hover">
    <tr class="tr_header_table header_field">
      <th><h2>Id Ejemplar</h2></th>
      <th><h2>Préstamo</h2></th>
      <th><h2>Fecha Suspensión</h2></th>
      <th><h2>Dias Suspensión</h2></th>
      <th><h2>Observación</h2></th>
    </tr>


    <tr ng-repeat="registro in answer.suspension.data" >
              

      <td>{{registro.id_ejemplar}}</td>
          <td>{{registro.prestamo}}</td>
      <td>{{registro.fecha | asDate }}</td>
      <td>{{registro.dias}}</td>
      <td>{{registro.observacion}} </td> 
      
    </tr> 
 
  </table>

  <pagination id="suspensiones-paginator"  total-items="totalItems_s" ng-model="currentPage_s" ng-change="pageChanged_s()" max-size="maxSize_s" class="pagination-sm" num-pages="numPages_s"></pagination>

  <pre>Página suspensiones: {{currentPage_s}} / {{numPages_s}}</pre>
</div>

