  <div class="col-md-2"></div>
  <div ng-if="user_found" class="panel panel-default col-md-6">
  <div class="panel-heading pointer-hand" data-toggle="collapse" ng-click="cambiar_icono_despliegue('sus')" data-target="#suspensiones">
    <span class="table-panel-header">Suspensiones</span>
    <span class="right-info" >
      <i ng-show="!despliegue_sus" class="fa fa-chevron-down" title="Clic para expandir"></i>
      <i ng-show="despliegue_sus"  class="fa fa-chevron-up" title="Clic para contraer"></i>
    </span>
  </div>
<div ng-if="user_found" id="suspensiones" class="collapse in">
  <span ng-if="es_administrador">&nbsp;Acciones: </span>
  <div ng-if="es_administrador" role="group" class="btn-group vertical-space" id="acciones-prestamos">
    <button  title="Editar suspensiones seleccionadas" type="button" class="btn btn-primary" >
    <i class="fa fa-pencil-square-o"></i>
    </button>
    <button class="btn btn-danger" title="Eliminar suspensiones seleccionadas" type="button"><i class="fa fa-trash-o"></i></button>
  </div>
  <table class="table table-bordered table-hover">
        
    <tr class="tr_header_table header_field">
      <th>
        <input type="checkbox" title="Seleccionar Todos">
      </th>
      <th><h2>Cota</h2></th>
      <th><h2>Préstamo</h2></th>
      <th><h2>Fecha Suspensión</h2></th>
      <th><h2>Dias Suspensión</h2></th>
      <th><h2>Observación</h2></th>
      <th><h2>Acciones</h2></th>
    </tr>


    <tr ng-repeat="registro in answer.suspension.data" >
              
      <td>
        <input type="checkbox">
      </td>
      <td>{{registro.cota}}</td>
      <td ng-if="registro.prestamo == 'E' ">Circulante</td>
      <td ng-if="registro.prestamo == 'I' ">Sala</td>
      <td ng-if="registro.prestamo != 'I' && registro.prestamo != 'E'" style="color:#aaaaaa">No definido</td>
      <td>{{registro.fecha | asDate }}</td>
      <td>{{registro.dias}}</td>
      <td>{{registro.observacion}} </td> 
      <td>
        <div class="actions_row_2_extern">
        <div role="group" class="btn-group actions_row_btn_group_2">
        <button title="Detalles" type="button" ng-click="desplegar_recurso(registro.id_ejemplar, 1)" class="btn btn-primary" data-toggle="modal" data-target="#pcmodal">
        <i class="fa fa-file"></i>
        </button>
        <button ng-if="es_administrador" title="Editar" type="button" class="btn btn-primary" >
        <i class="fa fa-pencil-square-o"></i>
        </button>
        <button ng-if="es_administrador" class="btn btn-danger" title="Eliminar" type="button"><i class="fa fa-trash-o"></i></button>
        </div>
        </div>
      </td>
    </tr> 
 
  </table>

  <pagination id="suspensiones-paginator"  total-items="totalItems_s" ng-model="currentPage_s" ng-change="pageChanged_s(currentPage_s)" max-size="maxSize_s" class="pagination-sm" num-pages="numPages_s"></pagination>

  <pre>Página suspensiones: {{currentPage_s}} / {{numPages_s}}</pre>
</div>
</div>
<div class="col-md-2"></div>