  <div ng-if="user_found" class="panel panel-default">
  <div class="panel-heading pointer-hand" data-toggle="collapse" ng-click="cambiar_icono_despliegue('dev')" data-target="#devoluciones">
    <span class="table-panel-header">Devoluciones</span>
    <span class="right-info" >
      <i ng-show="!despliegue_dev" class="fa fa-chevron-down" title="Clic para expandir"></i>
      <i ng-show="despliegue_dev"  class="fa fa-chevron-up" title="Clic para contraer"></i>
    </span>
  </div>
<div  ng-if="user_found" id="devoluciones" class="collapse in">
  <span ng-if="es_administrador">&nbsp;Acciones: </span>
  <div ng-if="es_administrador" role="group" class="btn-group vertical-space" id="acciones-devoluciones">
    <button title="Deshacer seleccionados" type="button" class="btn btn-primary" >
    <i class="fa fa-undo"></i>
    </button>
  </div>
  <table class="table table-bordered table-hover">
  			
  	<tr class="tr_header_table header_field">
      <th>
        <input type="checkbox" title="Seleccionar Todos">
      </th>
  		<th><h2>Cota</h2></th>
      <th><h2>Préstamo</h2></th>
  		<th><h2>Fecha Préstamo</h2></th>
  		<th><h2>Fecha Expiración</h2></th>
      <th><h2>Fecha Devolución</h2></th>
      <th><h2>Acciones</h2></th>
  	</tr>


  	<tr ng-repeat="registro in answer.devolucion.data" >
  						
      <td>
        <input type="checkbox">
      </td>
  		<td>{{registro.cota}}</td>
      <td ng-if="registro.prestamo == 'E' ">Circulante</td>
      <td ng-if="registro.prestamo == 'I' ">Sala</td>
  		<td>{{registro.fecha_prestamo | asDate }}</td>
  		<td>{{registro.fecha_expiracion | asDate }}</td>
  		<td>{{registro.fecha_devolucion | asDate }} </td> 
  		<td>
        <div class="actions_row_2_extern">
          <button title="Detalles" type="button" ng-click="desplegar_recurso(registro.id_ejemplar, 1)" class="btn btn-primary" data-toggle="modal" data-target="#pcmodal">
          <i class="fa fa-file"></i>
          </button>
          <button title="Deshacer" type="button" class="btn btn-primary" >
          <i class="fa fa-undo"></i>
          </button>
        </div>
      </td>
  	</tr>	

  </table>

  <pagination id="devoluciones-paginator"  total-items="totalItems_d" ng-model="currentPage_d" ng-change="pageChanged_d(currentPage_d)" max-size="maxSize_d" class="pagination-sm" num-pages="numPages_d"></pagination>

  <pre>Página devoluciones: {{currentPage_d}} / {{numPages_d}}</pre>
</div>
</div>