<!-- Modal -->
<div class="modal fade" id="pcmodal" tabindex="-1" role="dialog" aria-labelledby="pcmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="pcmodalLabel">Recurso</h4>
      </div>
      <div class="modal-body">
        <div>
            <div class="btn-group" role="group" aria-label="...">
              <a  target="_blank" ng-href="{{detailModalData.pdfurl}}" class="btn btn-primary"><i class="fa fa-file-pdf-o" ></i></a>
               <button type="button" ng-click='div_correo()' class="btn btn-primary"><i class="fa fa-envelope" ></i></button>
               <button type="button" ng-click='div_qr()' class="btn btn-primary"><i class="fa fa-qrcode" ></i></button> 
            </div>
        </div>
        <br>
        <div ng-show='div_pdf.show'>
            <img eight="200" width="200" src="http://librospdfepub.com/wp-content/uploads/2014/09/icono-de-p_1351163655399.png">
        </div>

        <div ng-show='div_correo.show'>

            <div id="correo">
                
                <b>Enviar Correo Electrónico </b>
          
                <div ng-repeat="correo in correos">
                      <input type="text"  ng-model="correo['email']"  placeholder="Correo">
                      <input type="text"  ng-model="correo['name']" placeholder="Nombre y Apellido">
                      <br>
                </div>

                <br>

                <!--{{correos}} -->
                <button type="button" class="btn btn-primary" ng-click="add_correo()"> <i class="fa fa-plus"> Añadir Correo </i></button>
            
                <button type="button" class="btn btn-primary" ng-click="enviar_correo()"><i class="fa fa-envelope">  Enviar recursos</i> </button>
                <img src="http://kundanpura.yn.lt/images/uploading.gif" ng-style="carga"> 

                <p style="color:green" ng-style="carga_respuesta">    {{respuesta}} </p>

            </div>

        </div>

        <div ng-show = "div_qr.show" align="center">
          <b><h4 class="text_center">Código QR</b> </h4>
          <br>

          <div class = "div_qr" >
              <div class="container_qr">
                <div class="container_cota">
                    <p><b>{{detailModalData.cota}}</b></p>
                </div>
                 <qr  size="180" text=ruta_index_recurso></qr>
              </div>
              <br>
              <br>
          </div>
          <br>
          </div>
        <br>
        <br>
        <table id="table_modal" class="table table-bordered">

          <tr>
              <th class="header_table white_header" > Tipo de recurso </th>

              <td> {{detailModalData.tipo_recurso}}
              </td>

          </tr>
          <tr>
              <th class="header_table  white_header"> Dependencia </th>

              <td> {{detailModalData.dependencia}}
              </td>

          </tr>

          <tr>
              <th class="header_table  white_header"> Título </th>
              <td> 
                  {{detailModalData.titulo}}
              </td>
          </tr>     

          <tr>
              <th class="header_table  white_header"> Autores </th>
              <td>
                <div ng-if="detailModalData.autores == 'no disponible'">No disponible</div>
                <div ng-if="detailModalData.autores != 'no disponible'" ng-repeat="autor in detailModalData.autores">
                  {{autor.tipo}}: {{autor.nombre}}
                </div>
              </td>
          </tr>      


            <tr>
                    <th class="header_table  white_header">Isbn</th>
                    <td> {{detailModalData.isbn}} </td>
            </tr>
            
            <tr>
                    <th class="header_table  white_header">Cota</th>
                    <td> {{detailModalData.cota}} </td>
            </tr>       

          <tr>
              <th class="header_table  white_header"> Año </th>
              <td> {{detailModalData.anio}} </td>
          </tr>     

          <tr>
              <th class="header_table white_header"> Páginas </th>
              <td> {{detailModalData.paginas}} </td>
          </tr>   

          <tr>
              <th class="header_table  white_header"> Editorial </th>
              <td> {{detailModalData.editorial}} </td>
          </tr>    


        </table>  

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>