<div ng-include src="'app/views/prestamos/prestamosConsultaModal.tpl.html'"></div>

   <br><br>
  <div class="panel panel-default">
  <div class="panel-heading pointer-hand" ng-click="cambiar_icono_despliegue('pres')" data-toggle="collapse" data-target="#prestamos">
    <span class="table-panel-header">Préstamos</span>
    <span class="right-info" >
      <i ng-show="!despliegue_pres" class="fa fa-chevron-down" title="Clic para expandir"></i>
      <i ng-show="despliegue_pres"  class="fa fa-chevron-up" title="Clic para contraer"></i>
    </span>
  </div>
  
<div id="prestamos" class="collapse in">

  <span ng-if="es_administrador">&nbsp;Acciones: </span>
  <div ng-if="es_administrador" role="group" class="btn-group vertical-space" id="acciones-prestamos">
    <button ng-disabled="registro.periodos_renov<1" title="Renovar" type="button" class="btn btn-primary" ng-click="preRenovarPrestamos()" data-toggle="modal" data-target="#dialog2">
    <i class="fa fa-share"></i>
    </button>
    <button title="Devolver" type="button" class="btn btn-primary" ng-click="preDevolverPrestamos()" data-toggle="modal" data-target="#dialog2">
    <i class="fa fa-reply"></i>
    </button>
  </div>
  <table class="table table-bordered table-hover">
        
    <tr class="tr_header_table header_field">
      <th>
        <input type="checkbox" 
          ng-click="select_all_pres()"
          ng-model = "all_pres" title="Seleccionar Todos">
      </th>
      <th><h2>Cota</h2></th>
      <th><h2>Préstamo</h2></th>
      <th><h2>Fecha Préstamo</h2></th>
      <th><h2>Fecha Expiración</h2></th>
      <th title="Periodos renovación restantes"><h2>Periodos Renovación</h2></th>
      <th><h2>Acciones</h2></th>
    </tr>


    <tr ng-repeat="registro in answer.prestamos.data" >
              
      <td>
        <input type="checkbox" ng-model="pres_model[registro.id_ejemplar]" ng-click="updateSelectionPres(registro)">
      </td>
      <td>{{registro.cota}}</td>
      <td ng-if="registro.prestamo == 'E' ">Circulante</td>
      <td ng-if="registro.prestamo == 'I' ">Sala</td>
      <td>{{registro.fecha_pre | asDate }}</td>
      <td>{{registro.fecha_exp | asDate }}</td>
      <td>{{registro.periodos_renov}}</td>
      <td>
        <div class="actions_row_2_extern">
        <div role="group" class="btn-group actions_row_btn_group_2">
          <button title="Detalles" type="button" ng-click="desplegar_recurso(registro.id_ejemplar, 1)" class="btn btn-primary" data-toggle="modal" data-target="#pcmodal">
          <i class="fa fa-file"></i>
          </button>
          <button ng-if="es_administrador" ng-disabled="registro.periodos_renov<1" title="Renovar" type="button" class="btn btn-primary" ng-click="pre_renovar_un_pres(registro)" data-toggle="modal" data-target="#dialog1">
          <i class="fa fa-share"></i>
          </button>
          <button ng-if="es_administrador" title="Devolver" type="button" class="btn btn-primary"  ng-click="pre_devolver_un_pres(registro)" data-toggle="modal" data-target="#dialog1">
          <i class="fa fa-reply" ></i>
          </button>
        </div>
        </div>
      </td>
      
    </tr> 

  </table>

  <pagination id="prestamos-paginator"  total-items="totalItems_p" ng-model="currentPage_p" ng-change="pageChanged_p()" max-size="maxSize_p" class="pagination-sm" num-pages="numPages_p" ></pagination>

  <pre>Página prestamos: {{currentPage_p}} / {{numPages_p}}</pre>
</div>
</div>