
<h3>Consulte sus Datos</h3>
<br>
<p>Introduzca su Cedula para conocer su estado en la Biblioteca.</p>


<div class="row">
  <div class="col-md-4">
    
    <form class="simple_search">
      <input name="ci_field" class="form-control" type="text" style=" width:200px" ng-model="requestData.ci" placeholder="CI: ejemplo: 99888777"  required autofocus>
      <button title="Buscar" class="btn btn-primary fa fa-search" type="submit" ng-click="buscar_ci()"></button>
    </form>  <br>
  </div>
  <div ng-if="user_found" class="col-md-8">
    <h4>Datos del usuario:</h4>
    <h4>Nombres: {{answer.name}} &nbsp;&nbsp;&nbsp; Estado: {{answer.status}}</h4>
    <h5>Apellidos: {{answer.lastname}}</h5>
    <h5>Tipo: {{answer.type}}</h5>
    <h5>Dependencia: {{answer.dependencia}}</h5>
  </div>
  <div class="col-md-12 alert alert-danger" ng-show="errorMessage">
    {{errorMessage}}
  </div>
</div>

<div ng-include src="'app/views/prestamos/prestamosConsultaModal.tpl.html'"></div>

<div ng-if="user_found" id="prestamos">
  <h3>Préstamos: </h3>
  <table class="table table-bordered table-hover">
        
    <tr class="tr_header_table header_field">
      <th><h2>Cota</h2></th>
      <th><h2>Préstamo</h2></th>
      <th><h2>Fecha Préstamo</h2></th>
      <th><h2>Fecha Expiración</h2></th>
      <th><h2>Periodos Renovación</h2></th>
      <th><h2>Acciones</h2></th>
    </tr>


    <tr ng-repeat="registro in answer.prestamos.data" >
              

      <td>{{registro.cota}}</td>
      <td ng-if="registro.prestamo == 'E' ">Circulante</td>
      <td ng-if="registro.prestamo == 'I' ">Sala</td>
      <td>{{registro.fecha_pre | asDate }}</td>
      <td>{{registro.fecha_exp | asDate }}</td>
      <td>{{registro.periodos_renov}}</td>
      <td>
        <button title="Detalles" type="button" ng-click="desplegar_recurso(registro)" class="btn btn-primary" data-toggle="modal" data-target="#pcmodal">
        <i class="fa fa-file"></i>
        </button>
      </td>
      
    </tr> 

  </table>

  <!--<pagination id="prestamos-paginator"  total-items="totalItems_p" ng-model="currentPage_p" ng-change="pageChanged_p()" max-size="maxSize_p" class="pagination-sm" num-pages="numPages_p" ></pagination>

  <pre>Página prestamos: {{currentPage_p}} / {{numPages_p}}</pre>-->
</div>

<div  ng-if="user_found" id="devoluciones">
  <h3>Devoluciones: </h3>
  <table class="table table-bordered table-hover">
  			
  	<tr class="tr_header_table header_field">
  		<th><h2>Cota</h2></th>
      <th><h2>Préstamo</h2></th>
  		<th><h2>Fecha Préstamo</h2></th>
  		<th><h2>Fecha Expiración</h2></th>
      <th><h2>Fecha Devolución</h2></th>
      <th><h2>Acciones</h2></th>
  	</tr>


  	<tr ng-repeat="registro in answer.devolucion.data" >
  						

  		<td>{{registro.cota}}</td>
      <td ng-if="registro.prestamo == 'E' ">Circulante</td>
      <td ng-if="registro.prestamo == 'I' ">Sala</td>
  		<td>{{registro.fecha_prestamo | asDate }}</td>
  		<td>{{registro.fecha_expiracion | asDate }}</td>
  		<td>{{registro.fecha_devolucion | asDate }} </td> 
  		<td>
        <button title="Detalles" type="button" ng-click="desplegar_recurso(registro)" class="btn btn-primary" data-toggle="modal" data-target="#pcmodal">
        <i class="fa fa-file"></i>
        </button>
      </td>
  	</tr>	

  </table>

  <pagination id="devoluciones-paginator"  total-items="totalItems_d" ng-model="currentPage_d" ng-change="pageChanged_d()" max-size="maxSize_d" class="pagination-sm" num-pages="numPages_d"></pagination>

  <pre>Página devoluciones: {{currentPage_d}} / {{numPages_d}}</pre>
</div>

<div ng-if="user_found" id="suspensiones">
  <h3>Suspensiones: </h3>
  <table class="table table-bordered table-hover">
        
    <tr class="tr_header_table header_field">
      <th><h2>Cota</h2></th>
      <th><h2>Préstamo</h2></th>
      <th><h2>Fecha Suspensión</h2></th>
      <th><h2>Dias Suspensión</h2></th>
      <th><h2>Observación</h2></th>
      <th><h2>Acciones</h2></th>
    </tr>


    <tr ng-repeat="registro in answer.suspension.data" >
              

      <td>{{registro.cota}}</td>
      <td ng-if="registro.prestamo == 'E' ">Circulante</td>
      <td ng-if="registro.prestamo == 'I' ">Sala</td>
      <td>{{registro.fecha | asDate }}</td>
      <td>{{registro.dias}}</td>
      <td>{{registro.observacion}} </td> 
      <td>
        <button title="Detalles" type="button" ng-click="desplegar_recurso(registro)" class="btn btn-primary" data-toggle="modal" data-target="#pcmodal">
        <i class="fa fa-file"></i>
        </button>
      </td>
    </tr> 
 
  </table>

  <pagination id="suspensiones-paginator"  total-items="totalItems_s" ng-model="currentPage_s" ng-change="pageChanged_s()" max-size="maxSize_s" class="pagination-sm" num-pages="numPages_s"></pagination>

  <pre>Página suspensiones: {{currentPage_s}} / {{numPages_s}}</pre>
</div>

