
<style type="text/css">

.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {background-color: #5cb85c; color: white;}

</style>

<script type="text/javascript">

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>


<h2 align="center">Buscador Recursos</h2>




<br>
<br>

<div class="row" style="text-align:center">
  <div class="col-md-4"></div>
  <div class="col-md-4">

  <div align="center" class="btn-group" role="group"  aria-label="...">
    <a  class="btn btn-primary" href="#/buscador_simple"><i class="" ></i>Buscador Básico</a> 
    <a  class="btn" style="background-color:#CC8548" href="#/buscador_avanzado"><i class="" ></i><b style="color:white;">Buscador Avanzado</b></a>
  </div>


  </div>
  <div class="col-md-4"></div>
</div>



<style type="text/css">

.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {background-color: #5cb85c; color: white;}

</style>

<script type="text/javascript">

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

<br>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div style="text-align:center;">
      <div class="btn-group" role="group"  aria-label="..." >
      <button type="button" ng-click='setType("todo")' class="btn btn-primary"  style="{{style_todo}}"><i class="" ></i><b>Todos</b></button>  
      <button type="button" ng-click='setType("tesis")' class="btn btn-primary" style="{{style_tesis}}"><i class="" ></i> <b style="color:white;">Tesis</b></button>
      <button type="button" ng-click='setType("monografia")' class="btn btn-primary" style="{{style_monografia}}" ><i class=""></i>Libros</button>
      <button type="button" ng-click='setType("publicacion_seriada")' class="btn btn-primary" style="{{style_publicacion_seriada}}"><i class="" ></i>Publicaciones Seriadas</button> 
    </div>
    </div>

  <br>
  <br>  
<div >
  
<div ng-repeat="input in inputs">
  <form class="form-inline">
  <div class="form-group" >
    <select class="form-control multiple input-xsmall"  ng-model='input.opt1.select_model'
      ng-options='opt as opt.label for opt in options[selected].opciones1' ng-change = "colocar_typeahead($index,input.opt1.select_model.value)">
    </select>



    <input type="text"  ng-init="paste=false" typeahead="state for state in loadingStates($viewValue, input.opt1.select_model.value) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched" ng-model="input.opt1.text_model" >


    <select  ng-disabled="$last" ng-class="{ form_sin_y: $last}" class="form-control multiple input-xsmall"  ng-model='input.opt2.select_model'
        ng-options='opt as opt.label for opt in options[selected].opciones2'>
    </select>


    <button  type="button" ng-click="delete($index)" class="btn btn-danger" data-toggle="{{mytooltips[$index].tooltip}}" data-placement="{{mytooltips[$index].position}}" title="{{mytooltips[$index].title}}">
      <i class="fa fa-trash"></i>           
    </button>

  <!--  <div ng-if = "$index == 0" >
       * campo opcional
    </div>
  -->

  </div>

  </form>
</div>
</div>
<br>

<form class="form-inline">
   <div class="form-group">
      <input ng-show = "bool_add_button" type="number" ng-model="anios.anio_origen" placeholder = "Año origen ej: 1991" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
      <input ng-show = "bool_add_button" type="number" ng-model="anios.anio_destino" placeholder= "Año destino ej: 2000" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
  </div>
</form>


<br>
<form class="form-inline">
  <div class="form-group" >
    <label ng-show="bool_add_button" for="exampleInputEmail2"> Ubicación </label>
    <select ng-show="bool_add_button" class="form-control multiple input-xsmall"  ng-model='options_bibliotecas_seleccionado'
      ng-options='opt as opt.label for opt in options_bibliotecas'>
    </select>
  </div>
</form>  
<br>
<form class="form-inline">
  <div class="form-group" >
    <label ng-show="bool_add_button" for="exampleInputEmail2"> Dependencias: </label>
    <select ng-show="bool_add_button" class="form-control multiple input-xsmall"  ng-model='options_dependencias_seleccionado'
      ng-options='opt as opt.label for opt in options_dependencias'>
    </select>
  </div>
</form>  




<br>
<form class = "form-inline">
  <div class="form-group">  
        <label ng-show="bool_add_button" for="exampleInputEmail2">Nro de recursos</label>
      <input ng-show="bool_add_button" type="number" ng-model="num_items_pagina" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched" data-toggle="tooltip" data-placement="rigth" title="Cantidad de recursos por página">
  </div>
</form>
<br>

<form class= "form-inline">
      <div class="form-group">      
        <label  ng-show="bool_add_button" for="exampleInputEmail2">Orden</label>
        <select  ng-show="bool_add_button"  ng-model='orden_seleccionado' ng-change="consulta_buscador_avanzado()" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched"
            ng-options='opt as opt.label for opt in options_orden'>
        </select>
      </div>
</form>

<br>
<br>



<form class="form-inline">
   <div class="form-group" >
    <button  type="button" ng-show = "bool_add_button"  ng-click="add_option()" class="btn btn-success" title="Añadir nuevos campos de búsqueda">
      <i class="fa fa-plus-square"></i>           
    </button>
    <button title="Buscar recursos" type="button" ng-show = "bool_add_button"   ng-click="consulta_buscador_avanzado()" class="btn btn-primary" title="Buscar recursos">
      <i class="fa fa-search"></i>            
    </button>

  </div>
  <i ng-show="loading" class="glyphicon glyphicon-refresh fa-spin"></i>
</form>


  </div>
  <div class="col-md-3"></div>
</div>




<br>
<br>


<div ng-if="totalItems > 0" class="alert alert-success">
    <strong>Se han encontrado {{totalItems}} recursos!</strong>
</div>



<div ng-if="totalItems == 0" class="alert alert-warning">
    <strong>Se han encontrado {{totalItems}} recursos!</strong>
</div>



<div ng-if="bool_acciones" class="btn-group" role="group" aria-label="..." ng-click="generar_ids_recursos_seleccionados()">
    <a target="iframe1" ng-disabled="bool_disable_acciones"  ng-href="{{ruta_ids_recursos}}"  class="btn btn-primary"><i class="fa fa-file-pdf-o"></i></a>
    <button type="button" ng-disabled="bool_disable_acciones" data-toggle="modal" ng-click="verficar_usuario()" data-target="#myModal_correos" class="btn btn-primary"><i class="fa fa-envelope" ></i></button>
    <button type="button" ng-disabled="bool_disable_acciones" data-toggle="modal" ng-click='generar_ids_recursos_seleccionados()' data-target="#myModal_qr" class="btn btn-primary"><i class="fa fa-qrcode" ></i></button> 
</div>

<br>
<br>
<iframe style="visibility:hidden; height:0px;" name="iframe1" ></iframe>

            <table  ng-show="bool_table_recursos" class="table table-bordered table-hover" data-pattern="priority-columns">
          
              <tr class="tr_header_table">
                <th class="header_table"> 
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-change="seleccionar_todos()" ng-model="recurso.model_checkbox">
                        </label>
                    </div>
                <!--  <button class = "{{class_check_seleccionar_todos}}" ng-click = "seleccionar_todos()"> <i class="fa fa-check-square-o"></i> </button> 
                -->
                </th>
                <th class="header_table"> <h2>Cota</h2></th>
                <th class="header_table"> <h2>Título</h2></th>
                <th class="header_table"> <h2>Autor</h2></th>                
                <th class="header_table"> <h2>Tipo de Recurso</h2></th>
                <th class="header_table"> <h2>Año</h2></th>
          <!--      <th>Acciones</th> -->
              </tr>
<!--  ng-style="{'background-color': '#dff0d8'}" -->

           <tr ng-repeat="recurso in recursos">
     
                <td>  
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-change="recurso_seleccionado()" ng-model="recurso.model_checkbox">
                        </label>
                    </div>
                </td>
                <td ng-click ="desplegar_recurso(recurso.id,$index)" data-toggle="modal" data-target="#myModal">{{recurso.ubicacion}}</td>
                <td  ng-click ="desplegar_recurso(recurso.id,$index)" data-toggle="modal" data-target="#myModal" >
                    <div ng-repeat="titulo in recurso.titulos">
                      <div ng-if="titulo.tipo_tit == 'OP' ">
                         {{titulo.titulo_salida}}
                      </div>
                    </div>
                </td>

              <td ng-click ="desplegar_recurso(recurso.id,$index)" data-toggle="modal" data-target="#myModal" >
                <div ng-repeat="autor in recurso.autores">
                  <div ng-if="autor.tipo_autor=='P' ">
                    {{autor.autor_salida}}
                  </div>  
                </div>
              </td>


                <td ng-click ="desplegar_recurso(recurso.id,$index)" data-toggle="modal" data-target="#myModal"  >{{recurso.tipo_doc}}</td>
       

                <td ng-click ="desplegar_recurso(recurso.id,$index)" data-toggle="modal" data-target="#myModal" >{{recurso.fecha_pub}} </td> 

        <!--      <td ng-click ="desplegar_recurso(recurso.id,$index)" data-toggle="modal" data-target="#myModal" > 
                  <button  type="button" ng-click="desplegar_recurso(recurso.id,$index)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-file"> Mostrar recurso</i>
                  
                  </button>
                </td>
        -->
              </tr> 

            </table>

<br>
<br>




<pagination id="mypage" ng-if="bool_table_recursos"  total-items="totalItems" ng-model="currentPage" ng-change="pageChanged(currentPage)" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="num_items_pagina" num-pages="numPages"></pagination>


    <pre ng-if="bool_table_recursos"> Página: {{currentPage}} / {{numPages}}</pre>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title" id="myModalLabel">Recurso</h4>
      </div>
      <div class="modal-body">

        <!--   Titulo: {{page.data[index_titulo].recursos[index_recurso]['titulos']}}  -->

    <!--    {{page.data[index_titulo]['recursos'][index_recurso]}}
    -->

    
<div>
    <div class="btn-group" role="group" aria-label="..." >

 
      <a type="button" target="iframe1" ng-href={{ruta_index_recurso}} class="btn btn-primary"><i class="fa fa-file-pdf-o"   ></i></a>



       <button type="button" ng-click='div_correo_modal()' class="btn btn-primary" ng-disabled="bool_disable" ><i class="fa fa-envelope" ></i></button>
       <button type="button" ng-click='div_qr()' class="btn btn-primary" ng-disabled="bool_disable"><i class="fa fa-qrcode"  ></i></button>

      <a ng-if="recursos[index_recurso].url != null" type="button"  target="_blank"  download="tesis" title="descargar en texto completo" ng-href={{recursos[index_recurso].url}} class="btn btn-success"><i class="fa fa-download"></i></a>
      <button ng-if="autenticado" title="Agregar a preferencias" class="btn btn-primary fa fa-plus-square" title="agregar a preferencias de préstamos" ng-click="preferencial()" type="button"></button>

    </div>
    <i ng-show="loading_acciones" class="glyphicon glyphicon-refresh fa-spin"></i>
</div>

<iframe style="visibility:hidden; height:0px;" name="iframe1" ></iframe>



<div ng-show='div_correo_modal.show'>

    <div id="correo">
        
        <b><h4 class="text_center">Enviar recurso por correo electrónico </b> </h4>
        <br>
          
            <div ng-repeat="correo in correos">
              <form class="form-inline">
                  <div class="form-group" >
                    <div class="form-group input-group">
                      <span class="input-group-addon"><i>@</i></span>
                      <input type="text" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched ng-untouched ng-valid" ng-model="correo['email']"  placeholder="Correo">
                    </div>
                    <div class="form-group input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                      <input type="text" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched ng-untouched ng-valid" ng-model="correo['name']" placeholder="Nombre y Apellido">
                    </div>
                    <button  type="button" ng-click="delete_correos($index)" title="borrar correo" class="btn btn-danger">
                        <i class="fa fa-trash"> </i>            
                    </button>
                  </div>
                </form>
                <br>
            </div>
               


            <form class="form-inline">

             <div class="form-group" >
              <button  type="button"  ng-click="add_correo()" class="btn btn-success" title="agregar nuevo correo" ng-disabled="bool_disable">
                <i class="fa fa-plus-square"></i>         
              </button>
              <button  type="button" ng-click="enviar_recursos_seleccionados()" title="enviar recurso" class="btn btn-primary" ng-disabled="bool_disable">
                <i class="fa fa-envelope"></i>           
              </button>
              <i ng-show="loading_correo" class="glyphicon glyphicon-refresh fa-spin"></i>
            </div>
            </form>


    </div>


</div>

<br>

<div ng-show="bool_correo_exitoso" class="alert alert-success">
  <strong>Correo electrónico enviado con Exito!</strong>
</div>     


  <div ng-show="bool_correo_error" class="alert alert-danger">
      <strong>Error! Uno de los correos no es correcto</strong>
  </div>



<div ng-show = "div_qr.show" align="center">
          <b><h4 class="text_center">Código QR</b> </h4>
          <br>
          <div class = "div_qr">
              <div class="container_qr">
                <div class="container_cota">
                    <p><b>{{recursos[index_recurso].ubicacion}}</b></p>
                </div>
                 <qr  size="180" text=ruta_index_recurso></qr>
              </div>
              <br>
              <br>
          </div>
  





</div>


     <div ng-show="bool_preferencia_exitoso" class="alert alert-success">
          <strong>Su preferencia ha sido agregada con Exito!</strong>
     </div>



  <br>

      <table id="table_modal" class="table table-bordered">

        <tr ng-if="recursos[index_recurso].dependencias!=[]">
              <th class="header_table"> <h2>Dependencia <h2> </th>
              <td> 
                <!--  {{recursos[index_recurso].dependencia.siglas}} -->
                  <div ng-repeat="dependencia in recursos[index_recurso].dependencias">
                      {{dependencia.dependencia_salida}}
                  </div>
              </td>
        </tr>  

        <tr>
              <th class="header_table"> <h2>Ubicación <h2> </th>
              <td> 
                <!--  {{recursos[index_recurso].dependencia.siglas}} -->
                  <div ng-repeat="biblioteca in recursos[index_recurso].bibliotecas">
                      {{biblioteca.biblioteca_salida}}
                  </div>
              </td>
        </tr>  


        <tr>
              <th class="header_table"><h2> Cota  </h2></th>
              <td> 
                  {{recursos[index_recurso].ubicacion}}
              </td>
        </tr>

        <tr>
              <th class="header_table"><h2>  Título</h2> </th>
              <td> 
                 <div ng-repeat="titulo in recursos[index_recurso].titulos">
                    <div ng-if="titulo.tipo_tit == 'OP' ">
                      {{titulo.titulo_salida}}
                    </div>
                  </div>
               </td>
          </tr>   

          <tr>
              <th class="header_table"><h2> Tipo de Recurso</h2> </th>
              <td> {{recursos[index_recurso].tipo_doc}}</td>
          </tr>   

          <tr  ng-if='recursos[index_recurso].tipo_liter == "M" '>
                  <th class="header_table"><h2>Isbn</h2></th>
                  <td> {{recursos[index_recurso].isbn}} </td>
          </tr>
          
          <tr  ng-if='recursos[index_recurso].tipo_liter == "S" '>
                  <th class="header_table"><h2>Issn</h2></th>
                  <td> {{recursos[index_recurso].issn}} </td>
          </tr>    

          <tr>
              <th class="header_table"><h2> Año </h2> </th>
              <td> {{recursos[index_recurso].fecha_pub}} </td>
          </tr>     

          <tr>
              <th class="header_table"><h2> Páginas </h2> </th>
              <td> {{recursos[index_recurso].paginas}} </td>
          </tr>  
   
   

          <tr ng-repeat="(key, value) in recursos[index_recurso]['autores'] | groupBy: 'nombre'  ">
              <th class="header_table"><h2> {{ key }} </h2> </th>
              <td>     
              
                    <div ng-repeat="autor in value | orderBy:orden">
                       {{ autor.autor_salida}}
                    </div>
                    <br>
              </td>
          </tr> 


          <tr ng-repeat="(key, value) in recursos[index_recurso]['descriptores'] | groupBy: 'descrip_desc' ">
              <th class="header_table"><h2> {{ key }} </h2> </th>
              <td>       
                    <div ng-repeat="descriptor in value ">
                       {{ descriptor.descriptor_salida}}
                    </div>
                    <br>
              </td>
          </tr>               

  <!--        <tr>
              <th> Título </th>
              <td> 
                 <div ng-repeat="titulo_recurso in page.data[index_titulo].recursos[index_recurso]['titulos']">
                    <div ng-if="titulo_recurso.tipo_tit == 'OP' ">
                       Titulo: {{titulo_recurso.titulo_salida}}
                    </div>
                  </div>
               </td>
          </tr>     

          <tr>
              <th> Tipo de Recurso </th>
              <td> {{page.data[index_titulo]['recursos'][index_recurso].tipo_doc}}</td>
          </tr>      


          {{page.data[index_titulo]['recursos'][index_recurso].tipo_liter}}

            <tr  ng-if='page.data[index_titulo]["recursos"][index_recurso].tipo_liter == "M" '>
                    <th>Isbn</th>
                    <td> {{page.data[index_titulo]['recursos'][index_recurso].isbn}} </td>
            </tr>
            
            <tr  ng-if='page.data[index_titulo]["recursos"][index_recurso].tipo_liter == "S" '>
                    <th>Issn</th>
                    <td> {{page.data[index_titulo]['recursos'][index_recurso].issn}} </td>
            </tr>       

          <tr>
              <th> Año </th>
              <td> {{page.data[index_titulo]['recursos'][index_recurso].fecha_pub}} </td>
          </tr>     

          <tr>
              <th> Páginas </th>
              <td> {{page.data[index_titulo]['recursos'][index_recurso].paginas}} </td>
          </tr>      



          <tr ng-repeat="(key, value) in page.data[index_titulo].recursos[index_recurso]['autores'] | groupBy: 'nombre' | orderBy:orden">
              <th> {{ key }} </th>
              <td>     
              
                    <div ng-repeat="autor in value">
                       {{ autor.autor_salida}}
                    </div>
                    <br>
              </td>
          </tr> 

          <tr ng-repeat="(key, value) in page.data[index_titulo].recursos[index_recurso]['descriptores'] | groupBy: 'descrip_desc' ">
              <th> {{ key }} </th>
              <td>     
              
                    <div ng-repeat="descriptor in value">
                       {{ descriptor.descriptor_salida}}
                    </div>
                    <br>
              </td>
          </tr> 

-->

        </table>  


  <!--          <b>Enviar Correo Electrónico </b>
      

            <div ng-repeat="correo in correos">
                  <input type="text"  ng-model="correo['email']"  placeholder="Correo">
                  <input type="text"  ng-model="correo['name']" placeholder="Nombre y Apellido">
                  <br>
            </div>

            <br>

       <!--     {{correos}} -->
  <!--          <button type="button" class="btn btn-primary" ng-click="add_correo()"> <i class="fa fa-plus"> Añadir Correo </i></button>
    
            <button type="button" class="btn btn-primary" ng-click="enviar_correo()"><i class="fa fa-envelope">  Enviar recursos</i> </button>
           <!-- {{mensaje_email}} -->
       <!--    {{hola}}-->
       <br>
       <br>
   <!--     <img src="http://kundanpura.yn.lt/images/uploading.gif" ng-style="carga"> 

 <!--      <img width="70px" heigth="70px"  src="http://www.greensystems.cl/media/loading.gif" ng-style="carga">
-->


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>






<!-- Modal -->
<div class="modal fade" id="myModal_correos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Enviar recursos por correo electrónico</h4>
      </div>
      <div class="modal-body">


            <div ng-repeat="correo in correos">
              <form class="form-inline">
                  <div class="form-group">
                    <div class="form-group input-group">
                      <span class="input-group-addon"><i>@</i></span>
                    <input type="text" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched ng-untouched ng-valid" ng-model="correo['email']"  placeholder="Correo">
                    </div>
                    <div class="form-group input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched ng-untouched ng-valid" ng-model="correo['name']" placeholder="Nombre y Apellido">
                    </div>
                    <button  type="button" ng-click="delete_correos($index)" title="borrar correo" class="btn btn-danger">
                        <i class="fa fa-trash"></i>            
                    </button>
                  </div>
                </form>
                <br>
            </div>

        

            <form class="form-inline">

             <div class="form-group">
              <button  type="button"  ng-click="add_correo()" class="btn btn-success" title="agregar correo" ng-disabled="bool_disable">
                <i class="fa fa-plus-square"></i>         
              </button>
              <button  type="button" ng-click="enviar_recursos_seleccionados()" class="btn btn-primary" title="enviar recursos" ng-disabled="bool_disable">
                <i class="fa fa-envelope"></i>           
              </button>
              <i ng-show="loading_correo" class="glyphicon glyphicon-refresh fa-spin"></i>
            </div>
            </form>


      </div>

      <div ng-show="bool_correo_exitoso" class="alert alert-success">
        <strong>Correo electrónico enviado con Exito!</strong>
      </div>     

      <div ng-show="bool_correo_error" class="alert alert-danger">
          <strong>Error! Uno de los correos no es correcto</strong>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar </button>
   
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal_qr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Código QR de los recursos seleccionados</h4>
      </div>
      <div class="modal-body">


    <!--      <div ng-repeat="ruta in rutas_ids_recursos_seleccionados">
              <p>{{id_recurso}}</p>
       
             <qr text=ruta></qr>
             <br>
             <br>
          </div>

    -->
          <div class = "div_qr" ng-repeat="dato in datos_qr">
              <div class="container_qr">
                <div class="container_cota">
                    <p><b>{{dato.cota}}</b></p>
                </div>
                <qr size="180" text=dato.ruta_qr> </qr>
              </div>
              <br>
              <br>
          </div>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>





