


<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><h2 align="center">Buscador Recursos </h2></div>
  <div class="col-md-4"></div>
</div>

<script type="text/ng-template" id="customTemplate.html">
  <a>
      <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>




<!--{{respuesta_buscador_simple}} -->

<!--{{states}} -->

 <!--   <pre>Model: {{selected | json}}</pre> -->
<br>




<!--{{recursos}}-->

<!--
{{qrcodeString}}
<qr text="qrcodeString"></qr>
-->

<!--
 
<i class="fa fa-check-square-o"></i>

    <button type="button" ng-click='descargar_pdf()' class="btn btn-primary"></button>


<a class="gwt-Anchor Response_View_copyClipboardBody" href="blob:chrome-extension%3A//hgmloofddffdnphfgcellkdfbfbjeloo/29fa8435-8880-4875-b201-aa52fc8ec107" download="arc-response-2015 Mar 1 15:38:17.pdf" data-downloadurl="application/pdf:arc-response-2015 Mar 1 15:38:17.pdf:blob:chrome-extension%3A//hgmloofddffdnphfgcellkdfbfbjeloo/29fa8435-8880-4875-b201-aa52fc8ec107">Download</a>
-->

<style type="text/css">
    ul.dropdown-menu {
    background-color: #eee;
    }
</style>


<style type="text/css">

.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {background-color: #5cb85c; color: white;}

</style>

<script type="text/javascript">

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>


<!--
<button type="button"  class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Buscar Recurso">Prueba Tooltip</button>
-->
<br>






<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

  <div align="center" class="btn-group" role="group"  aria-label="...">
    <a  class="btn" style="background-color:#CC8548" href="#/buscador_simple"><i class="" ></i><b style="color:white;">Buscador Básico </b></a> 
    <a  class="btn btn-primary" href="#/buscador_avanzado"><i class="" ></i>Buscador Avanzado</a>
  </div>


  </div>
  <div class="col-md-4"></div>
</div>
<br>
<br>



<div class="row">



        <form class="simple_search" class="form-inline" ng-submit="consultar_buscador_simple(selected)">   
         <!--<i id="myicon" class="fa fa-search"></i> --> <!-- ng-change="iniciar_typeahead()"  typeahead-wait-ms="5500"  <!--ng-change="verificar_lector(selected)"  -->


      <div class="col-md-5">
        <div class="form-group">  
            <label for="exampleInputEmail2"> Campo de búsqueda</label> 
        <input id="buscador" type="text" ng-model="selected" ng-change="verificar_paste(selected)" placeholder="Buscar por: Cota | Título | Autor | Materia | Editorial..." ng-paste="paste=true" ng-init="paste=false"  typeahead-on-select='consultar_buscador_simple(selected)' typeahead="state for state in loadingStates($viewValue) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading" class="form-control">
        <button title="Buscar" class="btn btn-primary" type="submit" ng-click="buscar()" data-placement="rigth" modal-title="Buscar recurso" ng-disabled="bool_disable" > <i class = "fa  fa fa-search"  > </i>

        </button>
        <i ng-show="loading" class="glyphicon glyphicon-refresh fa-spin"></i>
       <!--<button ng-submit="consultar_buscador_simple()" style="display: inline;" ng-click="consultar_buscador_simple()" class="btn btn-primary"><i class="fa fa-search"> </i></button> 
      -->
      </div>
    </div>

  <div class="col-md-2">
      <div class="form-group">
          <label for="exampleInputEmail2">Nro de recursos</label>
          <input type="number" style="width:70px;" ng-model="num_items_pagina" ng-change="actualizar_perpage(num_items_pagina)"     class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched"  title="Cantidad de recursos por página">
      </div>    
  </div>

  <div class="col-md-4">
      <div class="form-group">      
        <label for="exampleInputEmail2">Orden</label>
        <select   ng-model='orden_seleccionado' ng-change="consultar_buscador_simple(selected)" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched"
            ng-options='opt as opt.label for opt in options_orden'>
        </select>
      </div>
  </div>    

        </form>

</div>


<br>


    <div ng-if="totalItems > 0" class="alert alert-success">
          <strong>Se han encontrado {{totalItems}} recursos!</strong>
    </div>



    <div ng-if="totalItems == 0" class="alert alert-warning">
          <strong>Se han encontrado {{totalItems}} recursos!</strong>
    </div>



<div ng-if="bool_acciones" ng-disabled="bool_disable_acciones" class="btn-group" role="group" aria-label="..." ng-click="generar_ids_recursos_seleccionados()">
    <a target="iframe1"  title="descargar en pdf" ng-disabled="bool_disable_acciones" ng-href="{{ruta_ids_recursos}}"  class="btn btn-primary"><i class="fa fa-file-pdf-o"  ></i></a>
    <button type="button" title="enviar por correo electrónico" ng-disabled="bool_disable_acciones" data-toggle="modal" ng-click="verficar_usuario()" data-target="#myModal_correos" class="btn btn-primary" ng-disabled="bool_disable"><i class="fa fa-envelope" ></i></button>
    <button type="button" title="generar código QR"  ng-disabled="bool_disable_acciones" data-toggle="modal" ng-click='' data-target="#myModal_qr" class="btn btn-primary" ng-disabled="bool_disable"><i class="fa fa-qrcode" ></i></button> 
</div>

<iframe style="visibility:hidden; height:0px;" name="iframe1" ></iframe>

<br>


</div>








 <div ng-if="bool_loged">

        <p>Enviar a Usuario Autenticado</p>
        {{correos}}
  </div>
  
<!--
<div align="center" ng-show = "div_qr.show">

  <img eight="200" width="200"  src="http://blog.netizen-online.es/wp-content/uploads/2013/10/codigo-qr.jpg">

</div>
-->

<br>



            <table  ng-if="bool_table_recursos" class="table table-bordered table-hover" data-pattern="priority-columns">
          
              <tr class="tr_header_table">
                <th class="header_table"> 
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-change="seleccionar_todos()" ng-model="recurso.model_checkbox">
                        </label>
                    </div>

                  <!--<button class = "{{class_check_seleccionar_todos}}" ng-click = "seleccionar_todos()"> <i class="fa fa-check-square-o"></i> </button> 
                --></th>
                <th class="header_table"> <h2>Cota</h2></th>
                <th class="header_table"> <h2>Título</h2></th>
                <th class="header_table"> <h2>Autor</h2></th>
                <th class="header_table"> <h2>Tipo de Recurso</h2></th>
                <th class="header_table"> <h2>Año</h2></th>
          <!--      <th>Acciones</th> -->
              </tr>
<!--  ng-style="{'background-color': '#dff0d8'}" -->

           <tr ng-repeat="recurso in recursos">
     
                <td>  
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-change="recurso_seleccionado()" ng-model="recurso.model_checkbox">
                        </label>
                    </div>
                </td>
                <td ng-click ="desplegar_recurso(recurso.id,$index)" data-toggle="modal" data-target="#myModal">{{recurso.ubicacion}}</td>
                <td  ng-click ="desplegar_recurso(recurso.id,$index)" data-toggle="modal" data-target="#myModal" >
                    <div ng-repeat="titulo in recurso.titulos">
                      <div ng-if="titulo.tipo_tit == 'OP' ">
                         {{titulo.titulo_salida}}
                      </div>
                    </div>
                </td>


              <td ng-click ="desplegar_recurso(recurso.id,$index)" data-toggle="modal" data-target="#myModal" >
                <div ng-repeat="autor in recurso.autores">
                  <div ng-if="autor.tipo_autor=='P' ">
                    {{autor.autor_salida}}
                  </div>  
                </div>
              </td>

                <td ng-click ="desplegar_recurso(recurso.id,$index)" data-toggle="modal" data-target="#myModal"  >{{recurso.tipo_doc}}</td>
       

                <td ng-click ="desplegar_recurso(recurso.id,$index)" data-toggle="modal" data-target="#myModal" >{{recurso.fecha_pub}} </td> 

        <!--      <td ng-click ="desplegar_recurso(recurso.id,$index)" data-toggle="modal" data-target="#myModal" > 
                  <button  type="button" ng-click="desplegar_recurso(recurso.id,$index)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-file"> Mostrar recurso</i>
                  
                  </button>
                </td>
        -->
              </tr> 

            </table>



<!--<div ng-repeat="recurso in recursos" >
  <p>{{recurso.id}}</p>

   <div ng-repeat="titulo_recurso in recurso.titulos">
    <div ng-if="titulo_recurso.tipo_tit == 'OP' ">
       {{titulo_recurso.titulo_salida}}
    </div>
  </div>
   
  <br>
</div>

-->




<!--<table class="table table-bordered">
    <tr>
      <th>Cota</th>
      <th>Título</th>
      <th>Letra del tipo de recurso</th>
      <th>Tipo de Recurso</th>
      <th>Año</th>
      <th></th>
    </tr>

    <tr ng-repeat="recurso in recursos">
        <td>{{recurso.ubicacion}}</td>
        <td>{{recurso.titulo_salida}}</td>
        <td>{{recurso.tipo_liter}}</td>
        <td>{{recurso.descrip_doc}}</td>
        <td>{{recurso.fecha_iso}}</td>
        <td>
              <button  type="button" ng-click="desplegar_recurso(recurso.id,$index,titulo.id)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-file"> Mostrar recurso</i>
        </td>
    </tr>     

</table>
-->



<pagination id="mypage" ng-if="bool_table_recursos"  total-items="totalItems" ng-model="currentPage" ng-change="pageChanged(currentPage)" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="num_items_pagina" num-pages="numPages"></pagination>


    <pre ng-if="bool_table_recursos"> Página: {{currentPage}} / {{numPages}}</pre>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title" id="myModalLabel">Recurso</h4>
      </div>
      <div class="modal-body">

        <!--   Titulo: {{page.data[index_titulo].recursos[index_recurso]['titulos']}}  -->

    <!--    {{page.data[index_titulo]['recursos'][index_recurso]}}
    -->
    <br>
    <br>

    
<div>
    <div class="btn-group" role="group" aria-label="...">

      <a type="button" target="iframe1" title="descargar en pdf"  ng-href={{ruta_index_recurso}} class="btn btn-primary"><i class="fa fa-file-pdf-o"  ></i></a>



       <button type="button" title="enviar por correo electrónico" ng-click='div_correo_modal()' class="btn btn-primary" ng-disabled="bool_disable" ><i class="fa fa-envelope" ></i></button>
       <button type="button" title="generar código QR" ng-click='div_qr()' class="btn btn-primary" ng-disabled="bool_disable" ><i class="fa fa-qrcode" ></i></button> 

      <a ng-if="recursos[index_recurso].url != null" type="button"  target="_black"  download="tesis" title="descargar en texto completo" ng-href={{recursos[index_recurso].url}} class="btn btn-success"><i class="fa fa-download"></i></a>
      <button ng-if="autenticado" title="Agregar a preferencias" class="btn btn-primary fa fa-plus-square" title="agregar a preferencias de préstamos" ng-click="preferencial()" type="button"></button>


    </div>
    <i ng-show="loading_acciones" class="glyphicon glyphicon-refresh fa-spin"></i>
</div>

<iframe style="visibility:hidden; height:0px;" name="iframe1" ></iframe>




<div ng-show='div_correo_modal.show'>

    <div id="correo">
        
            <b><h4 class="text_center">Enviar recurso por correo electrónico </b> </h4>
            <br>
          


            <div ng-repeat="correo in correos">
              <form class="form-inline">
                  <div class="form-group">

                    <div class="form-group input-group">
                      <span class="input-group-addon"><i>@</i></span>
                      <input type="text" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched ng-untouched ng-valid" ng-model="correo['email']"  placeholder="Correo">
                    </div>  
                    <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched ng-untouched ng-valid" ng-model="correo['name']" placeholder="Nombre y Apellido">
                  </div>
                    <button  type="button" ng-click="delete_correos($index)" title="borrar campos" class="btn btn-danger">
                        <i class="fa fa-trash"></i>            
                    </button>
                  </div>
                </form>
                <br>
            </div>
               

            <form class="form-inline">

             <div class="form-group">
              <button  type="button"  ng-click="add_correo()" class="btn btn-success" title="agregar nuevo correo" ng-disabled="bool_disable">
                <i class="fa fa-plus-square"></i>         
              </button>
              <button  type="button" ng-click="enviar_recursos_seleccionados()" title="enviar recurso" class="btn btn-primary" ng-disabled="bool_disable">
                <i class="fa fa-envelope"></i>           
              </button>
              <i ng-show="loading_correo" class="glyphicon glyphicon-refresh fa-spin"></i>
            </div>
            </form>




    </div>

    <br>

    <div ng-show="bool_correo_exitoso" class="alert alert-success">
          <strong>Correo electrónico enviado con Exito!</strong>
     </div>

     <div ng-show="bool_correo_error" class="alert alert-danger">
                  <strong>Error! Uno de los correos no es correcto</strong>
     </div>

</div>

<div ng-show = "div_qr.show" align="center">
          <b><h4 class="text_center">Código QR</b> </h4>
          <br>

          <div class = "div_qr" >
              <div class="container_qr">
                <div class="container_cota">
                    <p><b>{{recursos[index_recurso].ubicacion}}</b></p>
                </div>
                 <qr  size="180" text=ruta_index_recurso></qr>
              </div>
              <br>
              <br>
          </div>
          <br>
</div>


     <div ng-show="bool_preferencia_exitoso" class="alert alert-success">
                  <strong>Su preferencia ha sido agregada con Exito!</strong>
     </div>

  <br>
  <br>

      <table id="table_modal" class="table table-bordered">


        <tr>
              <th class="header_table"> <h2>Cantidad de ejemplares <h2> </th>
              <td> 
                  {{recursos[index_recurso].cantidad}}
              
              </td>
        </tr>  

        <tr>
              <th class="header_table"> <h2>Cantidad de ejemplares disponibles <h2> </th>
              <td> 
                  {{recursos[index_recurso].cantidad_disponible}}
              
              </td>
        </tr>  



        <tr ng-if="recursos[index_recurso].dependencias!= ''">
              <th class="header_table"> <h2>Dependencia <h2> </th>
              <td> 
                <!--  {{recursos[index_recurso].dependencia.siglas}} -->
                  <div ng-repeat="dependencia in recursos[index_recurso].dependencias">
                      {{dependencia.dependencia_salida}}
                  </div>
              </td>
        </tr>  

        <tr>
              <th class="header_table"> <h2>Ubicación <h2> </th>
              <td> 
                <!--  {{recursos[index_recurso].dependencia.siglas}} -->
                  <div ng-repeat="biblioteca in recursos[index_recurso].bibliotecas">
                      {{biblioteca.biblioteca_salida}}
                  </div>
              </td>
        </tr>  

        <tr>
              <th class="header_table"><h2> Cota  </h2></th>
              <td> 
                  {{recursos[index_recurso].ubicacion}}
              </td>
        </tr>

        <tr>
              <th class="header_table"><h2>  Título</h2> </th>
              <td> 
                 <div ng-repeat="titulo in recursos[index_recurso].titulos">
                    <div ng-if="titulo.tipo_tit == 'OP' ">
                      {{titulo.titulo_salida}}
                    </div>
                  </div>
               </td>
          </tr>   


          <tr ng-repeat="(key, value) in recursos[index_recurso]['autores'] | groupBy: 'nombre'  ">
              <th class="header_table"><h2> {{ key }} </h2> </th>
              <td>     
              
                    <div ng-repeat="autor in value | orderBy:orden">
                       {{ autor.autor_salida}}
                    </div>
                    <br>
              </td>
          </tr> 


          <tr>
              <th class="header_table"><h2> Tipo de Recurso</h2> </th>
              <td> {{recursos[index_recurso].tipo_doc}}</td>
          </tr>   


          <tr  ng-if='recursos[index_recurso].tipo_liter == "T" '>
                  <th class="header_table"><h2>Grado Académico</h2></th>
                  <td> {{recursos[index_recurso].grado_academico}} </td>
          </tr>    


          <tr  ng-if='recursos[index_recurso].tipo_liter == "M" '>
                  <th class="header_table"><h2>Isbn</h2></th>
                  <td> {{recursos[index_recurso].isbn}} </td>
          </tr>
          
          <tr  ng-if='recursos[index_recurso].tipo_liter == "S" '>
                  <th class="header_table"><h2>Issn</h2></th>
                  <td> {{recursos[index_recurso].issn}} </td>
          </tr>    

          <tr>
              <th class="header_table"><h2> Año </h2> </th>
              <td> {{recursos[index_recurso].fecha_pub}} </td>
          </tr>     

          <tr>
              <th class="header_table"><h2> Páginas </h2> </th>
              <td> {{recursos[index_recurso].paginas}} </td>
          </tr>  
   
  

          <tr ng-if="recursos[index_recurso].tipo_liter == 'M' ">
              <th class="header_table"><h2> Editorial </h2> </th>
              <td>     
              
                    <div ng-repeat="editorial in recursos[index_recurso]['editoriales']">
                        {{ editorial.editorial_salida}}
                    </div>
                    <br>
              </td>
          </tr> 



          <tr ng-repeat="(key, value) in recursos[index_recurso]['descriptores'] | groupBy: 'descrip_desc' ">
              <th class="header_table"><h2> {{ key }} </h2> </th>
              <td>       
                    <div ng-repeat="descriptor in value ">
                       {{ descriptor.descriptor_salida}} 
                    </div>
                    <br>
              </td>
          </tr>               

  <!--        <tr>
              <th> Título </th>
              <td> 
                 <div ng-repeat="titulo_recurso in page.data[index_titulo].recursos[index_recurso]['titulos']">
                    <div ng-if="titulo_recurso.tipo_tit == 'OP' ">
                       Titulo: {{titulo_recurso.titulo_salida}}
                    </div>
                  </div>
               </td>
          </tr>     

          <tr>
              <th> Tipo de Recurso </th>
              <td> {{page.data[index_titulo]['recursos'][index_recurso].tipo_doc}}</td>
          </tr>      


          {{page.data[index_titulo]['recursos'][index_recurso].tipo_liter}}

            <tr  ng-if='page.data[index_titulo]["recursos"][index_recurso].tipo_liter == "M" '>
                    <th>Isbn</th>
                    <td> {{page.data[index_titulo]['recursos'][index_recurso].isbn}} </td>
            </tr>
            
            <tr  ng-if='page.data[index_titulo]["recursos"][index_recurso].tipo_liter == "S" '>
                    <th>Issn</th>
                    <td> {{page.data[index_titulo]['recursos'][index_recurso].issn}} </td>
            </tr>       

          <tr>
              <th> Año </th>
              <td> {{page.data[index_titulo]['recursos'][index_recurso].fecha_pub}} </td>
          </tr>     

          <tr>
              <th> Páginas </th>
              <td> {{page.data[index_titulo]['recursos'][index_recurso].paginas}} </td>
          </tr>      



          <tr ng-repeat="(key, value) in page.data[index_titulo].recursos[index_recurso]['autores'] | groupBy: 'nombre' | orderBy:orden">
              <th> {{ key }} </th>
              <td>     
              
                    <div ng-repeat="autor in value">
                       {{ autor.autor_salida}}
                    </div>
                    <br>
              </td>
          </tr> 

          <tr ng-repeat="(key, value) in page.data[index_titulo].recursos[index_recurso]['descriptores'] | groupBy: 'descrip_desc' ">
              <th> {{ key }} </th>
              <td>     
              
                    <div ng-repeat="descriptor in value">
                       {{ descriptor.descriptor_salida}}
                    </div>
                    <br>
              </td>
          </tr> 

-->

        </table>  


  <!--          <b>Enviar Correo Electrónico </b>
      

            <div ng-repeat="correo in correos">
                  <input type="text"  ng-model="correo['email']"  placeholder="Correo">
                  <input type="text"  ng-model="correo['name']" placeholder="Nombre y Apellido">
                  <br>
            </div>

            <br>

       <!--     {{correos}} -->
  <!--          <button type="button" class="btn btn-primary" ng-click="add_correo()"> <i class="fa fa-plus"> Añadir Correo </i></button>
    
            <button type="button" class="btn btn-primary" ng-click="enviar_correo()"><i class="fa fa-envelope">  Enviar recursos</i> </button>
           <!-- {{mensaje_email}} -->
       <!--    {{hola}}-->
       <br>
       <br>
   <!--     <img src="http://kundanpura.yn.lt/images/uploading.gif" ng-style="carga"> 

 <!--      <img width="70px" heigth="70px"  src="http://www.greensystems.cl/media/loading.gif" ng-style="carga">
-->
     <p style="color:green" ng-style="carga_respuesta">    {{respuesta}} </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>






<!-- Modal -->
<div class="modal fade" id="myModal_correos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Enviar recursos por correo electrónico</h4>
      </div>
      <div class="modal-body">




            <div ng-repeat="correo in correos">
              <form class="form-inline">
                  <div class="form-group">
                    <div class="form-group input-group">
                      <span class="input-group-addon"><i>@</i></span>
                    <input type="text" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched ng-untouched ng-valid" ng-model="correo['email']"  placeholder="Correo">
                  </div>
                  <div class="form-group input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched ng-untouched ng-valid" ng-model="correo['name']" placeholder="Nombre y Apellido">
                  </div>  
                    <button  type="button" ng-click="delete_correos($index)" title="borrar campos" class="btn btn-danger">
                        <i class="fa fa-trash"></i>            
                    </button>

                  </div>
                </form>
                <br>
            </div>
               
         

            <form class="form-inline">

             <div class="form-group">
              <button  type="button"  ng-click="add_correo()" class="btn btn-success" title="agregar nuevo correo" ng-disabled="bool_desible">
                <i class="fa fa-plus-square"></i>         
              </button>
              <button  type="button" ng-click="enviar_recursos_seleccionados()" class="btn btn-primary" title="enviar recurso" ng-disabled="bool_desible">
                <i class="fa fa-envelope"></i>           
              </button>
              <i ng-show="loading_correo" class="glyphicon glyphicon-refresh fa-spin"></i>
            </div>
            </form>
            <br>
            <div ng-show="bool_correo_exitoso" class="alert alert-success">
                  <strong>Correo electrónico enviado con Exito!</strong>
            </div>

            <div ng-show="bool_correo_error" class="alert alert-danger">
                  <strong>Error! Uno de los correos no es correcto</strong>
            </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal_qr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Código QR de los recursos seleccionados</h4>
      </div>
      <div class="modal-body">

<!--
          <div ng-repeat="ruta in rutas_ids_recursos_seleccionados">
              <p>{{id_recurso}}</p>
    
             <qr text=ruta></qr>
             <br>
             <br>
          </div>
-->

          <div class = "div_qr" ng-repeat="dato in datos_qr">
              <div class="container_qr">
                <div class="container_cota">
                    <p><b>{{dato.cota}}</b></p>
                </div>
                <qr size="180" text=dato.ruta_qr> </qr>
              </div>
              <br>
              <br>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


