<div class="row">
  <div class="col-md-1" ></div>
  <div class="col-md-10 divBorderGray" >
    <form class="form-inline">
      <select class="form-control  input-xsmall">
        <option>Palabra</option>
        <option>Etiqueta</option>
      </select>

      <input type="text" class="form-control">
      <button type="button" class="btn btn-default">
       <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>

      <button type="button" class="btn btn-default">
       Búsqueda Avanzada </span>
      </button>
      <button type="button" class="btn btn-default pull-right" >
       <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default pull-right mr-5px" >
       <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default pull-right mr-5px" >
       <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default pull-right mr-5px" >
       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>      
    </form>
  </div>
  <div class="col-md-1" ></div>
</div>


<style type="text/css">

.mr-5px {
  margin-right: 5px !important;
}

.divBorderGray {
    outline: 1px solid #ccc;
    padding: 15px;
}

</style>

<div class="form-group">
                
                 <div class="col-xs-4 btn-group btn-group-primary">
                      <button class="btn btn-primary btn-md" type="button">Colección</button>
                      <button data-toggle="dropdown" class="btn btn-primary btn-md dropdown-toggle" type="button">
                          <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                      </ul>
                  </div>
                  
                  <div class="col-xs-7">
                     <input id="colacion" type="text" class="form-control" placeholder="Colección">
                  </div>
            </div>
