



<style type="text/css">

.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {background-color: #5cb85c; color: white;}

</style>

<script type="text/javascript">

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>





<h2 align="center">Índices</h2>


<br>
<br>




<!-- Button trigger modal -->

<div class="row">
  <div class="col-md-3">

        <div class="form-group">
          <label for="exampleInputName2">Tipo de índice</label>

        <select class="form-control multiple input-xsmall"  ng-model='indice_seleccionado'
          ng-change='value_indice_seleccionado = indice_seleccionado.value'
          ng-options='opt as opt.label for opt in options_indice'>
        </select>
        </div>
  </div>
  <div class="col-md-2">

      <div class="form-group">
        <label for="exampleInputEmail2">Tipo de Recurso</label>
        <select class="form-control" ng-model='doc_seleccionado'
          ng-change='value_doc_seleccionado = doc_seleccionado.value'
        ng-options='optt as optt.label for optt in options_doc'>
      </select>
      </div>
  </div>
  <div class="col-md-2">

      <div class="form-group">
        <label for="exampleInputEmail2">Letra</label>
      <select class="form-control" ng-model='letra_seleccionada'
        ng-change='value_letra_seleccionada = letra_seleccionada.value'
        ng-options='opt as opt.label for opt in options_letra'>
      </select>
    </div>

  </div>


    <div class="col-md-2">

      <div class="form-group">
          <label for="exampleInputEmail2">Nro de {{indice_seleccionado.label}}</label>
          <input type="number" ng-model="num_items_pagina" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
      </div>

    </div>



     <div class="col-md-2">
         <label for="exampleInputEmail2"><br></label>
        <div class="form-group">
          <button ng-click="paginate()" class="btn btn-primary" title="Buscar índice" ng-disabled="bool_disable"><i class="fa fa-search" ></i></button>
          <i ng-show="loading" class="glyphicon glyphicon-refresh fa-spin"></i>
        </div>

     </div>

</div>
<br>

<div ng-if="totalItems > 0" class="alert alert-success">
    <strong>Se han encontrado {{totalItems}} títulos!</strong>
</div>



<div ng-if="totalItems == 0" class="alert alert-danger">
    <strong>Se han encontrado {{totalItems}} títulos!</strong>
</div>



<!--
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
        <label for="exampleInputEmail2">Orden</label>
        <select class="form-control" ng-model='orden_seleccionado'
            ng-change='value_orden_seleccionado = orden_seleccionado.value'
            ng-options='optt as optt.label for optt in options_orden'>
        </select>
    </div>

  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="exampleInputEmail2">Años</label>
      <input type="number" ng-model="anio_origen" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">

    </div>

  </div>
  <div class="col-md-3">
        <div class="form-group" >

               <label for="exampleInputEmail2"><br></label>
        <input type="number" ng-model="anio_destino" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
        </div>

  </div>


     <div class="col-md-3">
         <label for="exampleInputEmail2"><br></label>
        <div class="form-group">
          <button ng-click="paginate()" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Mostrar Índice"><i class="fa fa-bars"></i></button>
          <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>
        </div>

 
     </div>


</div>
-->


<!--
<form>
  <div class="form-group">
    <label for="exampleInputName2">Tipo de índice</label>

  <select class="form-control multiple input-xsmall"  ng-model='indice_seleccionado'
    ng-change='value_indice_seleccionado = indice_seleccionado.value'
    ng-options='opt as opt.label for opt in options_indice'>
  </select>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail2">Tipo de Documento</label>
    <select class="form-control" ng-model='doc_seleccionado'
      ng-change='value_doc_seleccionado = doc_seleccionado.value'
    ng-options='optt as optt.label for optt in options_doc'>
  </select>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail2">Letra</label>
  <select class="form-control" ng-model='letra_seleccionada'
    ng-change='value_letra_seleccionada = letra_seleccionada.value'
    ng-options='opt as opt.label for opt in options_letra'>
  </select>
</div>

<div class="form-group">
    <label for="exampleInputEmail2"># recursos</label>
    <input type="number" ng-model="num_items_pagina" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
</div>

<div class="form-group">
    <label for="exampleInputEmail2">Orden</label>
    <select class="form-control" ng-model='orden_seleccionado'
        ng-change='value_orden_seleccionado = orden_seleccionado.value'
        ng-options='optt as optt.label for optt in options_orden'>
    </select>
</div>






  <div class="form-group">
    <label for="exampleInputEmail2">Años</label>
    <input type="number" ng-model="anio_origen" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
    <input type="number" ng-model="anio_destino" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
  </div>

  <div class="form-group">
    <button ng-click="paginate()" class="btn btn-primary"><i class="fa fa-bars">  Mostrar Índice</i></button>
  </div>


</form>

-->


<br>

<!--

<form class="form-inline">
  <div class="form-group" style="padding-right: 15px; padding-left: 15px;">
    <label for="exampleInputName2">Tipo de índice</label>
	<select  class="form-control multiple input-xsmall"  ng-model='indice_seleccionado'
		ng-change='value_indice_seleccionado = indice_seleccionado.value'
		ng-options='opt as opt.label for opt in options_indice'>
	</select>
  </div>
  <div class="form-group" style="padding-right: 15px; padding-left: 15px;">

    <label for="exampleInputEmail2">Tipo de Documento</label>
   	<select class="form-control" ng-model='doc_seleccionado'
   		ng-change='value_doc_seleccionado = doc_seleccionado.value'
		ng-options='optt as optt.label for optt in options_doc'>
	</select>
  </div>

  <div class="form-group" style="padding-right: 15px; padding-left: 15px;">
    <label for="exampleInputEmail2">Letra</label>
	<select class="form-control" ng-model='letra_seleccionada'
		ng-change='value_letra_seleccionada = letra_seleccionada.value'
		ng-options='opt as opt.label for opt in options_letra'>
	</select>
  </div>

  <div class="form-group" width="20"  style="padding-right: 15px; padding-left: 15px;">
    <label for="exampleInputEmail2"># recursos</label>
    <input type="number" ng-model="num_items_pagina" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
  </div>

  <br>
  <br>




  <div class="form-group" style="padding-right: 15px; padding-left: 15px;">
    <label for="exampleInputEmail2">Orden</label>
    <select class="form-control" ng-model='orden_seleccionado'
        ng-change='value_orden_seleccionado = orden_seleccionado.value'
        ng-options='optt as optt.label for optt in options_orden'>
    </select>
  </div>




  <div class="form-group" width="20"  style="padding-right: 15px; padding-left: 15px;">
    <label for="exampleInputEmail2">Años</label>
    <input type="number" ng-model="anio_origen" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
    <input type="number" ng-model="anio_destino" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
  </div>


  <br>
  <br>


</form>
-->
<!--

  <div class="form-group" style="padding-right: 15px; padding-left: 15px; ">
    <button ng-click="paginate()" class="btn btn-primary"><i class="fa fa-bars">  Mostrar Índice</i></button>
  </div>
-->
<!-- Standard button -->

                                                                          <!-- generar_ids_recursos_seleccionados()  -->
<div ng-if="bool_acciones" class="btn-group" role="group" aria-label="..." ng-click="generar_ids_recursos_seleccionados()">

    <!-- http://localhost/bagtesis/backend/public/recursos/{{ids_recursos}}/pdf  -->
    <a  target="iframe1" ng-disabled="bool_disable_acciones"  ng-href={{ruta_ids_recursos}}  title="descargar recurso en pdf" class="btn btn-primary"><i class="fa fa-file-pdf-o"  ></i>

    </a>
    <button type="button" ng-disabled="bool_disable_acciones"  data-toggle="modal" title="enviar por correo electrónico" ng-click="verificar_usuario()" data-target="#myModal_correos" class="btn btn-primary"><i class="fa fa-envelope" ></i></button>
     <button type="button" ng-disabled="bool_disable_acciones"  data-toggle="modal" title="generar código QR" ng-click='clear_qr()' data-target="#myModal_qr" class="btn btn-primary"><i class="fa fa-qrcode" ></i></button> 
</div>


<br>
<br>


<iframe style="visibility:hidden; height:0px;" name="iframe1" ></iframe>


<table ng-show="show_table_paginate" id="mytable" class="table table-bordered table-hover">
		<tr  class="tr_header_table" >

      <th class="header_table"> 

                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-change="seleccionar_todos()" ng-model="recurso.model_checkbox">
                        </label>
                    </div>

                  <!--<button class = "{{class_check_seleccionar_todos}}" ng-click = "seleccionar_todos()"> <i class="fa fa-check-square-o"></i> </button> 
                -->
      </th>
			 <th class="header_table" ng-if="options_select.tipo_indice == 't' "><h2>Título</h2></th>

       <th class="header_table" ng-if="options_select.tipo_indice == 'a' "><h2>Autor</h2></th>

			<th  class="header_table"><h2>Número de Recursos</h2></th>
			
		</tr>

	
		<tr ng-repeat-start="titulo in page.data"  >
      <td>  
          <div class="checkbox">
              <label>
                <input type="checkbox" ng-change="titulo_seleccionado()" ng-model="titulo.model_checkbox">
              </label>
          </div>
      </td>
			<td ng-if="options_select.tipo_indice == 't' " ng-click="desplegar_recursos(titulo.id, $index)" data-toggle="collapse" data-target="#{{titulo.id}}">{{ titulo.titulo_salida }} </td>
          <td ng-if="options_select.tipo_indice == 'a' " ng-click="desplegar_recursos(titulo.id, $index)" data-toggle="collapse" data-target="#{{titulo.id}}">{{ titulo.autor_salida }} </td>
			<td ng-click="desplegar_recursos(titulo.id, $index)" data-toggle="collapse" data-target="#{{titulo.id}}">{{ titulo.num_recursos }} </td>
		<!--	<td> -->



	<!--			<button class="btn btn-primary"  type="button"  ng-click="desplegar_recursos(titulo.id, $index)" data-toggle="collapse" data-target="#{{titulo.id}}" aria-expanded="false" aria-controls="{{titulo.id}}" >
      	<i class="fa fa-list"></i>
  -->


<!--</button> </td> -->
		</tr>


</div>
			<tr class="collapse" id={{titulo.id}} ng-repeat-end="titulo in page.data">
			<td colspan="4"> 
				<div class="well">
				  	<p ng-show="indice_seleccionado.value == 't'">
                Recursos con este Título     
            </p>


            <p ng-show="indice_seleccionado.value == 'a'">
                Recursos con este Autor    
            </p>


				   	<table class="table table-bordered table-hover">
					


							<tr>

								<th>Cota</th>
                <th ng-show="indice_seleccionado.value == 't' ">Título</th>
                <th ng-show="indice_seleccionado.value == 'a' ">Autor</th>
								<th>Tipo de Recurso</th>
                <th>Año</th>
             <!--   <th>Acciones</th> -->
							</tr>

							<tr ng-repeat="recurso in titulo.recursos" >


								<td ng-click ="desplegar_recurso(recurso.id,$index,titulo.id)" data-toggle="modal" data-target="#myModal" >{{recurso.ubicacion}}</td>
                <td ng-show="indice_seleccionado.value == 't' "  ng-click ="desplegar_recurso(recurso.id,$index,titulo.id)" data-toggle="modal" data-target="#myModal" >
               <!--   <div  ng-repeat="titulo in recurso.titulos"> -->
                  <!--  <div  ng-if="titulo.tipo_tit == 'OP' "> -->


                       {{titulo.titulo_salida}}

                  <!--  </div>  -->
                   
                <!--  </div > -->
                </td>

                <td ng-show="indice_seleccionado.value == 'a' "  ng-click ="desplegar_recurso(recurso.id,$index,titulo.id)" data-toggle="modal" data-target="#myModal" >
               <!--   <div  ng-repeat="titulo in recurso.titulos"> -->
                  <!--  <div  ng-if="titulo.tipo_tit == 'OP' "> -->


                       {{titulo.autor_salida}}

                  <!--  </div>  -->
                   
                <!--  </div > -->
                </td>


								<td ng-click ="desplegar_recurso(recurso.id,$index,titulo.id)" data-toggle="modal" data-target="#myModal" >{{recurso.tipo_doc}}</td>
       
          
                <td ng-click ="desplegar_recurso(recurso.id,$index,titulo.id)" data-toggle="modal" data-target="#myModal" > {{recurso.fecha_pub}} </td> 

                  <br>



							<!--	<td> 
									<button  type="button" ng-click="desplegar_recurso(recurso.id,$index,titulo.id)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
										<i class="fa fa-file"> </i>
									
									</button></td>
                -->
							</tr>	
						</table>
				</div>
			</td> 
		</tr>  	
</table>




  <pagination ng-show="show_table_paginate" id="mypage"  total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="num_items_pagina" num-pages="numPages"></pagination>


    <pre ng-show="show_table_paginate">Página: {{currentPage}} / {{numPages}}</pre>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Recurso</h4>
      </div>
      <div class="modal-body">

        <!--   Titulo: {{page.data[index_titulo].recursos[index_recurso]['titulos']}}  -->

    <!--    {{page.data[index_titulo]['recursos'][index_recurso]}}
    -->

 <!--   
<div>
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" ng-click='div_pdf()' class="btn btn-primary"><i class="fa fa-file-pdf-o" ></i></button>
       <button type="button" ng-click='div_correo()' class="btn btn-primary"><i class="fa fa-envelope" ></i></button>
       <button type="button" ng-click='div_qr()' class="btn btn-primary"><i class="fa fa-qrcode" ></i></button> 
    </div>
</div>
    <br>
-->

<div ng-show='div_pdf.show'>
    <img eight="200" width="200" src="http://librospdfepub.com/wp-content/uploads/2014/09/icono-de-p_1351163655399.png">

</div>
<!--
<div ng-show='div_correo.show'>

    <div id="correo">
        
            <b>Enviar Correo Electrónico </b>
      
            <div ng-repeat="correo in correos">
                  <input type="text"  ng-model="correo['email']"  placeholder="Correo">
                  <input type="text"  ng-model="correo['name']" placeholder="Nombre y Apellido">
                  <br>
            </div>

            <br>


            <button type="button" class="btn btn-primary" ng-click="add_correo()"> <i class="fa fa-plus"> Añadir Correo </i></button>
    
            <button type="button" class="btn btn-primary" ng-click="enviar_correo()"><i class="fa fa-envelope">  Enviar recursos</i> </button>
        <img src="http://kundanpura.yn.lt/images/uploading.gif" ng-style="carga"> 

         <p style="color:green" ng-style="carga_respuesta">    {{respuesta}} </p>

    </div>

</div>
-->


    
<div>
    <div class="btn-group" role="group" aria-label="...">  
       <a type="button" target="iframe1"  ng-href={{ruta_index_recurso}} title="descargar recurso en pdf" class="btn btn-primary"><i class="fa fa-file-pdf-o" ></i></a>
       <button type="button" ng-click='div_correo_modal()' class="btn btn-primary" title="enviar por correo electrónico" ng-disabled="bool_disable"><i class="fa fa-envelope" ></i></button>
       <button type="button" ng-click='div_qr()' class="btn btn-primary" title="generar código QR"  ng-disabled="bool_disable"><i class="fa fa-qrcode" ></i></button> 
    </div>
</div>


<iframe style="visibility:hidden; height:0px;" name="iframe1" ></iframe>
<div ng-show='correo_modal'>
    <div id="correo">

            <b><h4 class="text_center">Enviar recurso por correo electrónico </b> </h4>
            <br>
 

            <div ng-repeat="correo in correos">
              <form class="form-inline">
                  <div class="form-group">
                    <div class="form-group input-group">
                      <span class="input-group-addon"><i>@</i></span>
                      <input type="text" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched ng-untouched ng-valid" ng-model="correo['email']"  placeholder="Correo">
                    </div>
                    <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched ng-untouched ng-valid" ng-model="correo['name']" placeholder="Nombre y Apellido">
                    </div>
                    <button  type="button" ng-click="delete_correos($index)" title="borrar correo" class="btn btn-danger">
                        <i class="fa fa-trash"></i>            
                    </button>

                  </div>
                </form>
                <br>
            </div>
      
         
            <form class="form-inline">

             <div class="form-group">
              <button  type="button"  ng-click="add_correo()" title="agregar correo" class="btn btn-success" ng-disabled="bool_disable">
                <i class="fa fa-plus-square"></i>         
              </button>
              <button  type="button" ng-click="enviar_recurso_seleccionado()" title="enviar recurso" class="btn btn-primary" ng-disabled="bool_disable">
                <i class="fa fa-envelope"></i>           
              </button>
             <i ng-show="loading_correo" class="glyphicon glyphicon-refresh fa-spin"></i>
            </div>
            </form>

    </div>

</div>


    <div ng-show="bool_correo_exitoso" class="alert alert-success">
          <strong>Correo electrónico enviado con Exito!</strong>
     </div>

    <div ng-show="bool_correo_error" class="alert alert-danger">
         <strong>Error! Uno de los correos no es correcto</strong>
     </div>

<div ng-show = "div_qr_show" align="center">

          <b><h4 class="text_center">Código QR</b> </h4>
          <br>

          <div class = "div_qr">
              <div class="container_qr">
                <div class="container_cota">
                    <p><b>{{page.data[index_titulo]['recursos'][index_recurso].ubicacion}}</b></p>
                </div>
                 <qr  size="180" text=ruta_index_recurso></qr>
              </div>
              <br>
              <br>
          </div>

</div>
<br>
<br>

        <table id="table_modal" class="table table-bordered">


        <tr ng-if="page.data[index_titulo]['recursos'][index_recurso].dependencias!=[]">
              <th class="header_table"> <h2>Dependencia  <h2> 

              </th>
              <td> 
                <!--  {{recursos[index_recurso].dependencia.siglas}} -->
                  <div ng-repeat="dependencia in page.data[index_titulo]['recursos'][index_recurso].dependencias">
                      {{dependencia.dependencia_salida}}
                  </div>
              </td>
        </tr>  

        <tr>
              <th class="header_table"> <h2>Ubicación <h2> </th>
              <td> 
                <!--  {{recursos[index_recurso].dependencia.siglas}} -->
                  <div ng-repeat="biblioteca in page.data[index_titulo]['recursos'][index_recurso].bibliotecas">
                      {{biblioteca.biblioteca_salida}}
                  </div>
              </td>
        </tr>  


          <tr>
              <th class="header_table"><h2>Cota</h2> </th>

              <td> {{page.data[index_titulo]['recursos'][index_recurso].ubicacion}}
              </td>

          </tr>

          <tr>
              <th class="header_table"> <h2>Título</h2> </th>
              <td> 
                 <div ng-repeat="titulo_recurso in page.data[index_titulo].recursos[index_recurso]['titulos']">
                    <div ng-if="titulo_recurso.tipo_tit == 'OP' ">
                       {{titulo_recurso.titulo_salida}}
                    </div>
                  </div>
               </td>
          </tr>     

          <tr>
              <th class="header_table"> <h2>Tipo de Recurso</h2> </th>
              <td> {{page.data[index_titulo]['recursos'][index_recurso].tipo_doc}}</td>
          </tr>      


            <tr  ng-if='page.data[index_titulo]["recursos"][index_recurso].tipo_liter == "M" '>
                    <th class="header_table"><h2>Isbn</h2></th>
                    <td> {{page.data[index_titulo]['recursos'][index_recurso].isbn}} </td>
            </tr>
            
            <tr  ng-if='page.data[index_titulo]["recursos"][index_recurso].tipo_liter == "S" '>
                    <th class="header_table"><h2>Issn</h2></th>
                    <td> {{page.data[index_titulo]['recursos'][index_recurso].issn}} </td>
            </tr>       

          <tr>
              <th class="header_table"><h2>Año</h2> </th>
              <td> {{page.data[index_titulo]['recursos'][index_recurso].fecha_pub}} </td>
          </tr>     

          <tr>
              <th class="header_table"><h2>Páginas</h2></th>
              <td> {{page.data[index_titulo]['recursos'][index_recurso].paginas}} </td>
          </tr>      



          <tr ng-repeat="(key, value) in page.data[index_titulo].recursos[index_recurso]['autores'] | groupBy: 'nombre' | orderBy:orden">
              <th class="header_table"><h2>{{ key }}</h2></th>
              <td>     
              
                    <div ng-repeat="autor in value">
                       {{ autor.autor_salida}}
                    </div>
                    <br>
              </td>
          </tr> 

          <tr ng-repeat="(key, value) in page.data[index_titulo].recursos[index_recurso]['descriptores'] | groupBy: 'descrip_desc' ">
            
     
              <th class="header_table"><h2>{{ key }}</h2> </th>
              <td>     
              
                    <div ng-repeat="descriptor in value">
                       {{ descriptor.descriptor_salida}}
                    </div>
                    <br>
              </td>
        
          </tr> 



        </table>  

<!--
            <b>Enviar Correo Electrónico </b>
      

            <div ng-repeat="correo in correos">
                  <input type="text"  ng-model="correo['email']"  placeholder="Correo">
                  <input type="text"  ng-model="correo['name']" placeholder="Nombre y Apellido">
                  <br>
            </div>

            <br>


            <button type="button" class="btn btn-primary" ng-click="add_correo()"> <i class="fa fa-plus"> Añadir Correo </i></button>
    
            <button type="button" class="btn btn-primary" ng-click="enviar_correo()"><i class="fa fa-envelope">  Enviar recursos</i> </button>
       
       <br>
       <br>
        <img src="http://kundanpura.yn.lt/images/uploading.gif" ng-style="carga"> 

     <p style="color:green" ng-style="carga_respuesta">    {{respuesta}} </p>
-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal_correos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Enviar recursos por correo electrónico</h4>
      </div>
      <div class="modal-body">



            <div ng-repeat="correo in correos">
              <form class="form-inline">
                  <div class="form-group">
                   <div class="form-group input-group">
                      <span class="input-group-addon"><i>@</i></span> 
                    <input type="text" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched ng-untouched ng-valid" ng-model="correo['email']"  placeholder="Correo">
                   </div> 
                    <div class="form-group input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched ng-untouched ng-valid" ng-model="correo['name']" placeholder="Nombre y Apellido">
                    </div>  
                    <button  type="button" ng-click="delete_correos($index)" title="borrar correo" class="btn btn-danger">
                        <i class="fa fa-trash"> </i>            
                    </button>
                  </div>
                </form>
                <br>
            </div>

            <form class="form-inline">

             <div class="form-group">
              <button  type="button"  ng-click="add_correo()" title="agregar correo" class="btn btn-success" ng-disabled = "bool_disable">
                <i class="fa fa-plus-square"> </i>         
              </button>
              <button  type="button" ng-click="enviar_recursos_seleccionados()" title="enviar recursos" class="btn btn-primary" ng-disabled = "bool_disable" >
                <i class="fa fa-envelope"></i>           
              </button>
              <i ng-show="loading_correo" class="glyphicon glyphicon-refresh fa-spin"></i>
            </div>
            </form>


      </div>
    <br>
    <div ng-show="bool_correo_exitoso" class="alert alert-success">
          <strong>Correo electrónico enviado con Exito!</strong>
     </div>

      <div ng-show="bool_correo_error" class="alert alert-danger">
          <strong>Error! Uno de los correos no es correcto</strong>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal_qr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Código QR de los recursos seleccionados</h4>
      </div>
      <div class="modal-body">

          <div class = "div_qr" ng-repeat="dato in datos_qr">
              <div class="container_qr">
                <div class="container_cota">
                    <p><b>{{dato.cota}}</b></p>
                </div>
                <qr size="180" text=dato.ruta_qr> </qr>
              </div>
              <br>
              <br>
          </div>

          <br>
          <br>



    <!--      <div ng-repeat="(key, value) in datos_qr | groupBy: 'titulo'">




                <div ng-repeat="dato in value">
                         {{dato.cota}}
                         <qr size="180" correction-level="'M'" text=dato.ruta_qr></qr>
                </div>

             <br>
             <br>
          </div>

  -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
