
<h2 align="center">Panel de control</h2>

<h4>Opciones</h4><br>

    <div ng-include src="'app/views/adminPrestamos/modalDialog1.tpl.html'"></div>
    <div ng-include src="'app/views/adminPrestamos/modalDialog2.tpl.html'"></div>

    <form class="form-horizontal">

        <div class="form-group">

            <label class="col-xs-2 control-label" for="inputSuccess">Dias de préstamo para usuarios docentes</label>

            <div class="col-xs-10">

                <input type="text" id="inputSuccess" class="form-control" value="{{dias_prestamos_docentes}}">

            </div>

        </div>

        <div class="form-group">

            <label class="col-xs-2 control-label" for="inputSuccess">Dias de préstamo para usuarios no docentes</label>

            <div class="col-xs-10">

                <input type="text" id="inputSuccess" class="form-control" value="{{dias_prestamos_no_docentes}}">

            </div>

        </div>

        <div class="form-group">

            <label class="col-xs-2 control-label" for="inputSuccess">Dias de suspensión por retardo de cada recurso en modalidad circulante</label>

            <div class="col-xs-10">

                <input type="text" id="inputSuccess" class="form-control" value="{{dias_suspension_retardo_circulante}}">

            </div>

        </div>

        <div class="form-group">

            <label class="col-xs-2 control-label" for="inputSuccess">Dias de suspensión por retardo de cada recurso en modalidad sala</label>

            <div class="col-xs-10">

                <input type="text" id="inputSuccess" class="form-control" value="{{dias_suspension_retardo_sala}}">

            </div>

        </div>

        <div class="form-group">

            <label class="col-xs-2 control-label" for="inputSuccess">Tiempo de sesión de usuario (en horas >= 1)</label>

            <div class="col-xs-10">

                <input type="text" id="inputSuccess" class="form-control" value="{{tiempo_sesion_horas}}">

            </div>

        </div>


        <div class="form-group">
            <div class="col-xs-6"></div>
            <div class="col-xs-6">

                <button data-toggle="modal" data-target="#dialog1" ng-click="preGuardarCambios()" title="guardar cambios" class="btn btn-primary"><i class="fa fa-floppy-o"></i></button>
                  <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>

            </div>

        </div>


    </form>

