    <div class="container"> 
        
            <div style="height: 10px"></div>
            <h2 align="center"><b>Catalogación de {{nombre_recurso}}</b></h2>
            <div class="row">
                <div class="col-xs-12" align="center" style="padding: 15px">
                    <div align="center" class="btn-group" role="group"  aria-label="...">
                        <a type="button" href="#/catalogacion/{{redirect}}" data-target="#{{redirect}}" class="btn btn-primary" >Principal</a>
                        <a ng-show = 'tipo_recurso2 == "serie"' type="button" href="#/catalogacion/numeros" class="btn btn-primary" >Números</a>
                        <a type="button" href="#/catalogacion/autores" class="btn btn-primary" >Autores</a>
                        <a type="button" href="#/catalogacion/titulos" class="btn  btn-primary"  >Títulos</a>
                        <a type="button" href="#/catalogacion/ejemplares" class="btn btn-primary " >Ejemplares</a>
                        <a type="button" href="#/catalogacion/descriptores" class="btn  btn-cat-opc" ><b>Descriptores</b></a>
                        <a type="button" href="#/catalogacion/soporte" class="btn btn-primary" >Soporte</a>
                        <a type="button" href="#/catalogacion/conferencias" class="btn btn-primary" >Conferencia</a>
                        <a ng-if = "tipo_recurso2 != 'serie'"  type="button" href="#/catalogacion/volumenes" class="btn  btn-primary" >Volúmenes</a>
                    </div>
                </div>
            </div>

       <form class= " recuadro" ng-submit="submitFormluarioDescriptor()">
            <div class="row ">
                    <div class="col-xs-12 col-md-5"></div>
                    <div class="col-xs-12 col-sm-6 col-md-3"></div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mtb-2px" align="right">
                        <button type="submit" class="btn btn-default mr-5px" title="Agregar" ng-disabled = "botonAgregarDescriptor" ng-click="msjConfirmacion= '¿Está seguro que desea agregar este descriptor?'">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                        <button type="submit" class="btn btn-default mr-5px" title="Guardar" ng-click="msjConfirmacion= '¿Está seguro que desea guardar este descriptor?'" ng-disabled = "!botonAgregarDescriptor">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default mr-5px"  title="Limpiar" ng-click="msjConfirmacion= '¿Está seguro que desea limpiar toda la información cargada en pantalla?'; msjInformacion= 'Se limpió la pantalla exitosamente'" data-toggle="modal" data-target="#confirmacion">
                             <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" title = "Eliminar" ng-click="msjConfirmacion= '¿Está seguro que desea eliminar este descriptor?'; msjInformacion= 'Recurso eliminado exitosamente'" data-toggle="modal" data-target="#confirmacionEliminar" ng-disabled = "descSisSel == -1;">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
            </div>

            <div style="height: 20px"></div>


            <div class="row">
                <div class=" col-md-12 form-horizontal">
                    <h4><b>Detalles del descriptor</b></h4>
                    <div class = "recuadro ">
                     
                        <div class="form-group " >
                            <label for="titulo-descriptor" class="control-label  col-sm-3 col-xs-12  " style="padding-right: 0px !important">*Tipo:</label>
                            <div class=" col-xs-12 col-sm-6 " >
                                <select id = "tipoDescriptor" class="form-control" ng-change="seleccionarTipoDesc()" ng-model="tipoDescriptor" required>
                                    <option value="" selected="selected">Seleccionar</option>
                                    <option 
                                        ng-repeat="option in tipoDescriptores"
                                        value="{{option.id}}">{{option.descrip_desc}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    
                        <div class="form-group" ng-show = '!esMateriaTematica'>
                            <label for="nombre-descriptor" class="control-label  col-sm-3 col-xs-12 " style="padding-right: 0px !important">*Nombre:</label>
                            <div class="col-xs-10 col-sm-6" >
                                <input id="nombre-descriptor" type="text" class="form-control" placeholder="Nombre" ng-model="nombreDescriptor" ng-required = '!esMateriaTematica'  ng-init="paste=false" typeahead="  state as state.descriptor_salida for state in loadingStatesDescriptor($viewValue) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="onselectDescriptor()" autocomplete="off" ng-trim = "false" ng-change= "trimRequired('nombreDescriptor')" ng-blur = "blurRequired('nombreDescriptor')" ng-focus = "auxTrim = nombreDescriptor">
                            </div>
                            <div class=" col-xs-1 col-md-1" style="padding-left: 10px !important; top: 8px !important">
                                <i ng-show="loadingDescriptor" class="glyphicon glyphicon-refresh fa-spin"></i>
                            </div>
                        </div>
                         <div class="form-group" ng-show = '!esMateriaTematica'>
                            <label for="descripcion-descriptor" class="control-label  col-sm-3 col-xs-12 " style="padding-right: 0px !important">Descripción:</label>
                            <div class="col-xs-12 col-sm-6">
                                 <textarea id = "descripcion-descriptor" class="form-control" rows="2" ng-model="descDescriptores" placeholder"Descripción"  ></textarea>
                            </div>
                        </div>
                            <div class="form-group" ng-show = '!esMateriaTematica'>
                            <label for="codigo-descriptor" class="control-label  col-sm-3 col-xs-12 " style="padding-right: 0px !important">Código externo:</label>
                            <div class="col-xs-12 col-sm-6">
                                <input id="codigo-descriptor" type="text" class="form-control" ng-model="codDescriptores" placeholder="Código externo">
                            </div>
                        </div>

                        <div class="form-group" ng-show = 'esMateriaTematica' style="padding-top:6px;">
                            <label for="encabezamiento-descriptor" class="control-label  col-sm-3 col-xs-12 " style="padding-right: 0px !important">*Encabezamiento temático:</label>
                            <div class="col-xs-10 col-sm-6">
                                
                                <input id="encabezamiento-descriptor" type="text" class="form-control" placeholder="Encabezamiento temático" ng-model="temDesc" ng-required = 'esMateriaTematica'  ng-init="paste=false" typeahead="  state as state.descriptor_salida for state in loadingStatesDescriptor($viewValue) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="onselectDescriptor()" autocomplete="off">
                            </div>
                            <div class=" col-xs-1 col-md-1" style="padding-left: 10px !important; top: 8px !important">
                                <i ng-show="loadingDescriptor" class="glyphicon glyphicon-refresh fa-spin"></i>
                            </div>
                        </div>
                         <div class="form-group" ng-show = 'esMateriaTematica' style="padding-top:6px;">
                            <label for="general-descriptor" class="control-label  col-sm-3 col-xs-12 " style="padding-right: 0px !important">Subdivisión general:</label>
                            <div class="col-xs-12 col-sm-6">
                                 <input id="general-descriptor" type="text" class="form-control" placeholder="Subdivisión general" ng-model="genDesc" >
                            </div>
                        </div>
                            <div class="form-group" ng-show = 'esMateriaTematica' style="padding-top:6px;">
                            <label for="geografico-descriptor" class="control-label  col-sm-3 col-xs-12 " style="padding-right: 0px !important">Subdivisión geográfica:</label>
                            <div class="col-xs-12 col-sm-6">
                                <input id="geografico-descriptor" type="text" class="form-control" ng-model="geoDesc" placeholder="Subdivisión geográfica">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
            <div class="row">
                <div class=" col-md-12">
                    <h4><b>Descriptores existentes</b></h4>
                  
                    <div class = "recuadro col-xs-12 ">
                        <select id = "tipoDescriptorSis" class="form-control" ng-change= "busqueda_descriptores_tipo()" ng-model="tipoBusqueda">
                                    <option value="" selected="selected">Seleccionar</option>
                                    <option
                                        ng-repeat="option in tipoDescriptores"
                                        value="{{option.id}}">{{option.descrip_desc}}
                                    </option>
                                </select>
                        <br>

                        <form ng-submit="busqueda_descriptores_sistema()">
                            <div class="col-xs-12 col-md-7 " style="margin-left:0 px !important; padding-left: 0px !important; margin-bottom: 15px !important">
                                <div class="input-group">
									<input  type="text" class="form-control" ng-model= "textoBusqueda" placeholder="Buscar por Descriptor">
										<span class="input-group-btn">
											<button type="submit" class="btn btn-primary">
										  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									</button>
									</span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4" >
                                 <button type="text" class="btn btn-primary" ng-click="limpiarBusqueda()" >Limpiar búsqueda</button>
                            </div>
                        </form>

                        <table class=" table table-responsive table-striped table-bordered" style="height: 190px !important;">
	                         <thead>
	                            <tr>
	                                <th class="col-xs-5">Tipo</th>
	                                <th class="col-xs-6">Nombre</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="desc in desSistemaMostrar " ng-class = "{'seleccionFila':$index == descSisSel}" ng-click = "seleccionarDescSis(desc, $index)" ng-dblclick = "agregarDescDocumento()">
	                                <td >{{ desc.descrip_desc }}</td>
	                                <td >{{ desc.descriptor_salida }}</td>
	                            </tr>
	                        </tbody>
                        </table> 
                        <div style="text-align:center;">
	                        <pagination id="mypage"  ng-if ="numPagesDesc > 1" total-items="totalItemsDesc" ng-model="currentPageDesc" ng-change="pageChangedDesc(currentPageDesc)" max-size="12" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="15" num-pages="numPages"></pagination>                                
	                    </div>
	                    <pre> Página: {{currentPageDesc}} / {{numPagesDesc}}</pre>
                                
 
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-12 mtb-2px" align="center">
                        <button ng-disabled = "!esDelRecurso" type="button" class="btn btn-primary mr-5px" ng-click = "agregarDescSistema()" ng-class = "claseFlecha2"  >
                        <b>Eliminar del documento</b>
                        </button>
                        <button ng-disabled = "!esDelSistema" type="button" class="btn btn-primary mr-5px"  ng-click = "agregarDescDocumento()" ng-class = "claseFlecha">
                       <b>Agregar al documento</b>
                        </button>
                    </div>
                </div>
            </div>

             <div class="row">
                <div class=" col-md-12">
                    <h4><b>Descriptores del documento</b></h4>
                    <div class = "recuadro col-xs-12">
                        <table class=" table table-responsive table-striped table-bordered" style="height: 320px !important;">
	                         <thead>
	                            <tr>
	                                <th class="col-xs-5">Tipo</th>
	                                <th class="col-xs-6">Nombre</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr ng-repeat="desc in descriptoresMostrar " ng-class = "{'seleccionFila':$index == descSel}" ng-click = "seleccionarDesc(desc, $index)">
	                                <td >{{ desc.descrip_desc }}</td>
	                                <td >{{ desc.descriptor_salida }}</td>
	                            </tr>
	                        </tbody>
                        </table> 
                        
                    </div>
                </div>
            </div>
            <!-- Modal Confirmacion submit-->
            <div id="confirmacionSub" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmación</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{msjConfirmacion}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-click="agregar_descriptor()" class="btn btn-primary" ng-hide = "botonAgregarDescriptor">Aceptar</button>
                            <button type="button" ng-click="guardar_descriptor()" class="btn btn-primary" ng-hide = "!botonAgregarDescriptor">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Confirmacion eliminar-->
            <div id="confirmacionEliminar" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmación</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{msjConfirmacion}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-click="eliminarDescriptor()" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>

    </div>

    <!-- Modal Confirmacion-->
    <div id="confirmacion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjConfirmacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click= "limpiar_todo();">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Informacion-->
    <div id="informacion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Información</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjInformacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="loader" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header"><h3 style="margin:0;">Cargando...</h3></div>
                <div class="modal-body">

                    <div class="progress progress-striped active" style="margin-bottom:0;">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>