
<div ng-controller="LoginController">
<form ng-if="!userLogged" class="navbar-form navbar-right" id="loginform" method="post" name="loginform" ng-submit="loginform.$valid && submit()" role="form">
  <div class="form-group input-group">
  	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input ng-model="user.username" placeholder="Correo Electrónico" class="form-control"  id="login-username" type="email"  name="username" value=""  required>
  </div>
  <div class="form-group input-group">
  	<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input ng-model="user.password" id="login-password" type="password" class="form-control" name="password" placeholder="Contraseña" required>
  </div>
  <button  class="btn btn-success" id="btn-login" type="submit">Iniciar Sesión</button>
</form>

</div>


