<div ng-controller="PoliticasController">
	<h3>Politicas</h3>
	<p>Sección para el administrador.<br>Este gestionara
		las distintas politicas del sistema en cuanto a los prestamos
		y otras caracteristicas especificas.</p>
</div>