
<style type="text/css">

.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {background-color: #5cb85c; color: white;}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;    
}

</style>

<script type="text/javascript">

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>

 <div>
    <div class="container" >
       
            <div style="height: 10px"></div>
            <h2 align="center"><b>Catalogación de Publicaciones Seriadas</b></h2>
            <div class="row">
                <div class="col-xs-12" align="center" style="padding: 15px">
                    <div align="center" class="btn-group" role="group"  aria-label="...">
                        <a type="button" href="#/catalogacion/publicacionesSeriadas" data-target="#libros" class="btn btn-cat-opc" ><b>Principal</b></a>
                        <a ng-if = "tipo_recurso == 'serie'" ng-class = "deshabilitarOpcionNumeros()" type="button" href="#/catalogacion/numeros" class="btn  btn-primary" >Números</a>
                        <a ng-class = "deshabilitarOpcion()" type="button" href="#/catalogacion/autores" class="btn btn-primary" >Autores</a>
                        <a ng-class = "deshabilitarOpcion()"  type="button" href="#/catalogacion/titulos" class="btn  btn-primary"  >Títulos</a>
                        <a ng-class = "deshabilitarOpcion()" type="button" href="#/catalogacion/ejemplares" class="btn btn-primary " >Ejemplares</a>
                        <a ng-class = "deshabilitarOpcion()" type="button" href="#/catalogacion/descriptores" class="btn  btn-primary" >Descriptores</a>
                        <a ng-class = "deshabilitarOpcion()" type="button" href="#/catalogacion/soporte" class="btn btn-primary" >Soporte</a>
                        <a ng-class = "deshabilitarOpcion()" type="button" href="#/catalogacion/conferencias" class="btn btn-primary" >Conferencia</a>
                    </div>
                </div>
            </div>
            <div class="row divBorderGray">
                <div class=" col-xs-11 col-md-4 mtb-2px" style="padding-right: 0px !important">
                    <div class="input-group">
                      <input typeahead-on-select='abrirPopUpBusqueda(selectedBuscadorSimple2)'  ng-keydown="$event.which === 13 && abrirPopUpBusqueda(selectedBuscadorSimple2)" autocomplete = "off" id="buscador" type="text" ng-model="selectedBuscadorSimple2" ng-change="verificar_paste(selectedBuscadorSimple2)" placeholder="Buscar por: Título | Editorial" ng-paste="paste=true" ng-init="paste=false" typeahead="state for state in loadingStates3($viewValue) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loadingBusquedaSimple" class="form-control">
                      <span class="input-group-btn">
                        <button ng-click = "abrirPopUpBusqueda(selectedBuscadorSimple2)" type="button" class="btn btn-primary" title="Buscar" >
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div>
                </div>
                <div class=" col-xs-2 col-md-1" style="padding-left: 10px !important; top: 8px !important">
                    <i ng-show="loadingBusquedaSimple" class="glyphicon glyphicon-refresh fa-spin"></i>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2 mtb-2px " >
                    <button type="button" class="btn btn-default" ng-click = "initBuscadorAvanzado()" title="Búsqueda Avanzada">
                    Búsqueda avanzada
                    </button>
                </div>
                <div class="col-xs-6 col-sm-2 mtb-2px " >
                  <!--  
                  <button type="button" class="btn btn-default " style="margin-right:7px;" data-toggle="modal" data-target="#importarZ3950" title = "Importar mediante Z39.50">
                    Z39.50
                    </button>
                    -->
                   <button type="button" class="btn btn-default " style="margin-right:7px; font-size: 20px; padding-top:3px; padding-bottom:2px;" data-toggle="modal" data-target="#mostrarQR" title = "Mostrar código QR" ng-disabled = 'recursoAgregado'>
                        <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default " style="margin-right:7px; font-size: 20px; padding-top:3px; padding-bottom:2px;" title = "Buscar por código de Barra" ng-click="mostrarModalCodigoBarra()">
                        <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                    </button>

                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 mtb-2px" align="right">
                    <button form = "formularioMonografia" type="submit" class="btn btn-default mr-5px" ng-click="msjConfirmacion= '¿Está seguro que desea catalogar esta publicación seriada?'" title="Agregar" ng-disabled = '!recursoAgregado'  >
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <button form = "formularioMonografia" type="submit"  class="btn btn-default mr-5px" ng-click="msjConfirmacion= '¿Está seguro que desea modificar esta publicación seriada?'" title="Guardar" ng-disabled = 'recursoAgregado'>
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default mr-5px"  ng-click="msjConfirmacion= '¿Está seguro que desea limpiar toda la información cargada en pantalla?'; msjInformacion= 'Se limpió la pantalla exitosamente'" data-toggle="modal" data-target="#confirmacion" title="Limpiar" >
                    <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="msjConfirmacion= '¿Está seguro que desea eliminar esta publicación seriada?'; msjInformacion= 'Recurso eliminado exitosamente'" data-toggle="modal" data-target="#confirmacionEliminar" title = "Eliminar" ng-disabled = 'recursoAgregado'>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>

                </div>
            </div>

            
        <form id="formularioMonografia" ng-submit="submitFormluarioPrincipal()">
            <div style="height: 20px"></div>
            <div class="row">
                <div class=" col-md-12 form-horizontal">
                    <h4><b>Título</b></h4>
                    <div class = "recuadro ">
                        <div class="form-group">
                            <label for="titulo" class="control-label col-xs-12 col-sm-2">*Título:</label>
                            <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important">
                                <input id = "titulo" type="text" class="form-control" placeholder="Título" type="text"  ng-init="paste=false"  typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="onselect()" ng-model="nombreTitulo" autocomplete="off" required ng-trim = "false" ng-change= "trimRequired('nombreTitulo')" ng-blur = "blurRequired('nombreTitulo')" ng-focus = "auxTrim = nombreTitulo">
                            </div>
                            <div class=" col-xs-2 col-sm-1" style="padding-left: 10px !important; top: 5px !important">
                                <i ng-show="loadingTitulos" class="glyphicon glyphicon-refresh fa-spin "></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-md-6 form-horizontal">
                    <h4><b>Datos de edición</b></h4>
                    <div class = "recuadro ">
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-2 ">
                                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#editorial" ng-disabled = 'recursoAgregado'>Editorial</button>
                            </div>
                            <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important">
                                <input type="text" class="form-control" placeholder="Editorial" ng-model="editorialPrincipal" autocomplete="off" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="control-label col-xs-12 col-sm-2">País:</label>
                            <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important" >
                                <input type="text" class="form-control" placeholder="País" ng-model="paisPrincipal" autocomplete="off" disabled>
                            </div>
                        </div>
                        <div class="form-group">
	                        <label for="tipo" class="control-label col-xs-12 col-sm-2">*Tipo:</label>
	                        <div class="col-xs-10 col-sm-9"  style="padding-right: 0px !important">
	                            <select id = "tipo" class="form-control" ng-model = "tipoSerie" >
	                                <option value="S" selected="selected">Publicación periódica</option>
	                                <option value="P" >Periódico</option>
	                                <option value="D" >Monografía seriada</option>
	                                <option value="N" >Ninguna de las anteriores</option>
	                            </select>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label for="tipo" class="control-label col-xs-12 col-sm-2">Periodicidad:</label>
	                        <div class="col-xs-10 col-sm-9"  style="padding-right: 0px !important">
	                            <select id = "tipoAutor" class="form-control" ng-model = "periodicidad" >
	                                <option value="" selected="selected">Seleccionar</option>
                                    <option value="Diaria">Diaria</option>
	                                <option value="Semanal" >Semanal</option>
	                                <option value="Quincenal" >Quincenal</option>
	                                <option value="Mensual" >Mensual</option>
	                                <option value="Bimestral" >Bimestral</option>
	                                <option value="Trimestral" >Trimestral</option>
	                                <option value="Cuatrimestral" >Cuatrimestral</option>
	                                <option value="Semestral" >Semestral</option>
	                                <option value="Anual" >Anual</option>
	                                <option value="Bianual" >Bianual</option>
	                            </select>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label for="tipo" class="control-label col-xs-12 col-sm-2">Regularidad:</label>
	                        <div class="col-xs-10 col-sm-9"  style="padding-right: 0px !important">
	                            <select id = "tipoAutor" class="form-control" ng-model = "regularidad" >
	                                <option value="" selected="selected" >Seleccionar</option>
                                    <option value="R" >Regular</option>
	                                <option value="D" >Desconocida</option>
	                                <option value="N" >Normalmente Irregular</option>
	                                <option value="C" >Completamente Irregular</option>
	                            </select>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label for="url" class="control-label col-xs-12 col-sm-2">Nros./Años:</label>
	                        <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important" >
	                            <input id = "url" type="text" class="form-control" placeholder="Nros./Años" ng-model="nros" autocomplete="off" >
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label for="url" class="control-label col-xs-12 col-sm-2">Vols./Años:</label>
	                        <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important" >
	                            <input id = "url" type="text" class="form-control" placeholder="Vols./Años" ng-model="vols" autocomplete="off" >
	                        </div>
	                    </div>
                    </div>

                    <h4><b>Biblioteca de ubicación</b></h4>
                    <div class = "recuadro ">
                        <select id = "pais" class="form-control" ng-model="bibliotecaSelect" >
                                <option
                                    ng-repeat="option in bibliotecas "
                                    value="{{option.id}}" ng-selected="option.id == 1">{{option.biblioteca_salida}}
                                </option>
                        </select>
                    </div>
                </div>
                <div class=" col-md-6 form-horizontal">
                    <h4><b>Otros datos</b></h4>
                    <div class = "recuadro ">
                        <div class="form-group">
                            <label for="url" class="control-label col-xs-12 col-sm-2">URL:</label>
                            <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important" >
                                <input id = "url" type="text" class="form-control" placeholder="URL" ng-model="url" autocomplete="off" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="disemina" class="control-label col-xs-12 col-sm-2">Diseminación:</label>
                            <div class="col-xs-10 col-sm-9"  style="padding-right: 0px !important">
	                             <input id = "disemina" type="text" class="form-control" placeholder="Diseminación" ng-model="diseminacion" autocomplete="off" >
	                        </div>
                        </div>
                        <div class="form-group">
                            <label for="isbn" class="control-label col-xs-12 col-sm-2">ISSN:</label>
                            <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important" >
                                <input id="isbn" type="text" class="form-control" placeholder="ISSN" ng-model="issn" autocomplete="off">
                            </div>
                        </div>
              
                        <div class="form-group">
                            <label  class="control-label col-xs-12 col-sm-2">Impresión:</label>
                            <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important" >
                                <select id = "impresion" class="form-control" ng-model="impresion">
                                    <option value="" selected="selected">Seleccionar</option>
                                    <option value="Impreso" >Impreso</option>
                                    <option value="Mimeografiado" >Mimeografiado</option>
                                    <option value="Fotocopiado" >Fotocopiado</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">Existencia:</label>
                            <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important" >
                                <textarea ng-model = "existencia" class="form-control" placeholder="Existencia"  ></textarea> 
                            </div>
                        </div>
                    </div>
                    <h4><b>Contenido</b></h4>
                    <div class = "recuadro ">
                        <div class="form-group">
                            <div class="col-xs-11" style="padding-right: 0px !important" >
                                <select id = "tipoContenidoo" class="form-control"  ng-model = "tipoContenido" ng-options= " option for option in contenidoSeleccion">
                                    <option value="" selected="selected">Seleccionar</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-11" style="padding-right: 0px !important">
                                <textarea id = "contenidoData" class="form-control" rows="4" id="comment" ng-model="contenidoData" autocomplete="off" ></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--
            <div class="row">
             
                <div class=" col-md-6 form-horizontal">
                    <h4><b>Datos de colección o serie</b></h4>
                    <div class = "recuadro ">
                        <div class="form-group">
                            <div class="col-sm-4 col-xs-8" >
                                <select ng-model = "coleccion" id = "tipo " class="form-control" ng-model="coleccionSerie" autocomplete="off"  ng-change="selectedColeccionSerie()">
                                    <option value="" selected="selected">Seleccionar</option>
                                    <option value = "coleccion">Colección</option>
                                    <option  value = "serie">Serie</option>
                                </select>
                            </div>
                            <div class="col-sm-1"  style="padding-left:0px !important;">
                                <button data-toggle="modal" data-target="#{{coleccion}}" type="button" class="btn btn-default" title="Agregar" ng-disabled = 'recursoAgregado'>
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-11"  style="padding-right: 0px !important">
                                <input type="text" class="form-control" placeholder="{{placeholderColeccion}}" ng-model="nombreColeccionSerie" autocomplete="off" ng-disabled = 'recursoAgregado'>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numero" class="control-label RE col-xs-12 col-sm-2">Número:</label>
                            <div class="col-xs-10 col-sm-9" style="padding-right: 0px !important" >
                                <input id="numero" type="text" class="form-control" placeholder="Número" ng-model="numeroColeccionSerie" autocomplete="off" ng-disabled = 'recursoAgregado'>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
            -->

            <!-- Modal Confirmacion submitt-->
            <div id="confirmacionSub" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmación</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{msjConfirmacion}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-show = "recursoAgregado" ng-click="agregarMonografia()" class="btn btn-primary">Aceptar</button>
                            <button type="button" ng-show = "!recursoAgregado" ng-click="guardarMonografia()" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Confirmacion eliminar-->
            <div id="confirmacionEliminar" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmación</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{msjConfirmacion}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" ng-click="eliminarLibro()" class="btn btn-primary">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>  


    <!-- Modal Confirmacion-->
    <div id="confirmacion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjConfirmacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click= "limpiarLibro()" data-dismiss="modal" >Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Informacion-->
    <div style = "z-index: 30000" id="informacion" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Información</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjInformacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Confirmacion-->
    <div style = "z-index:10000" id="confirmacionEditorial" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjConfirmacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" ng-if = "msjConfirmacion== '¿Está seguro que desea eliminar la editorial?'" ng-click="eliminarEditorial()" class="btn btn-primary">Aceptar</button>
                    <button type="button" ng-if = "msjConfirmacion== '¿Está seguro que desea limpiar toda la información cargada en pantalla?'" ng-click="limpiarEditorial()" class="btn btn-primary">Aceptar</button>
                    <button type="button" ng-if = "msjConfirmacion== '¿Está seguro que desea agregar esta editorial?'" ng-click="agregarEditorial()" class="btn btn-primary">Aceptar</button>
                    <button type="button" ng-if = "msjConfirmacion== '¿Está seguro que desea modificar esta editorial?'" ng-click="guardarEditorial()" class="btn btn-primary">Aceptar</button>
                   
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Editorial-->
    <div style = " z-index:9000; overflow-y: auto;" data-backdrop="static" class="modal fade" id="editorial" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"  ng-click="limpiarEditorial()" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><b>Editorial</b></h3>
                </div>
                <div class="modal-body">
                    <form ng-submit="submitEditoriales()">
                        <div class="row ">
                            <div class="col-xs-12 col-md-5"></div>
                            <div class="col-xs-12 col-sm-6 col-md-3"></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 mtb-2px" align="right">
                                <button  ng-disabled = "auxClaseFlecha != '' || claseFlecha2 != '' || claseFlecha != ''" type ="submit"  class="btn btn-default mr-5px" ng-click="msjConfirmacion= '¿Está seguro que desea agregar esta editorial?'" title = "Agregar">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                                 <button  ng-disabled = "claseFlecha == '' && claseFlecha2 == '' && auxClaseFlecha == ''" type = "submit"  class="btn btn-default mr-5px" ng-click="msjConfirmacion= '¿Está seguro que desea modificar esta editorial?'" title = "Guardar">
                                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                                </button>
                               
                                <button  type="button" class="btn btn-default mr-5px" ng-click="msjConfirmacion= '¿Está seguro que desea limpiar toda la información cargada en pantalla?';  " data-toggle="modal" data-target="#confirmacionEditorial"  title = "Eliminar" >
                                    <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                                </button>
                                <button type="button" ng-disabled = "auxClaseFlecha == ''" class="btn btn-default" ng-click="msjConfirmacion= '¿Está seguro que desea eliminar la editorial?'; msjInformacion= 'Se limpió la pantalla exitosamente'" data-toggle="modal" data-target="#confirmacionEditorial" title = "Limpiar" >
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class=" col-md-12 form-horizontal">
                                <h4 style="margin-top: -20px !important"><b>Detalles de la editorial</b></h4>
                                <div class = "recuadro ">
                                    <div class="form-group">
                                        <label for="nombre-editorial" class="control-label col-xs-11 col-sm-2">*Nombre:</label>
                                        <div class="col-xs-11 col-sm-9" style="padding-right: 0px !important">
                                              <input id = "nombreEditorial" type="text" class="form-control" placeholder="Nombre editorial" type="text"  ng-init="paste=false" typeahead="  state as state.editorial_salida for state in loadingStatesEditorial($viewValue, 'editorial','publicacion_seriada') | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading"  typeahead-on-select="onselectEditorial()" ng-model="nombreEditorial"  autocomplete="off" style="margin-right:10px !important;" ng-trim = "false" ng-change= "trimRequired('nombreEditorial')" ng-blur = "blurRequired('nombreEditorial')" ng-focus = "auxTrim = nombreEditorial" required>
                                        </div>
                                        <div class=" col-xs-1 col-md-1" style="padding-left: 10px !important; top: 8px !important">
                                            <i ng-show="loadingEditorial" class="glyphicon glyphicon-refresh fa-spin"></i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="edicion-editorial" class="control-label col-xs-11 col-sm-2">*Ciudad:</label>
                                        <div class="col-xs-11 col-sm-5">
                                            <input required ng-model = "nombreCiudad" id="edicion-editorial" type="text" class="form-control" placeholder="Ciudad" ng-trim = "false" ng-change= "trimRequired('nombreCiudad')" ng-blur = "blurRequired('nombreCiudad')" ng-focus = "auxTrim = nombreCiudad">
                                        </div>
                                        <label class="control-label col-xs-11 col-sm-1">País:</label>
                                        <div class="col-xs-11 col-sm-3" style="padding-right: 0px !important">
                                            <select id = "pais" class="form-control" ng-model="paisesSelect" >
                                                <option value="" selected="selected">Seleccionar</option>
                                                <option 
                                                    ng-repeat="option in paises"
                                                    value="{{option.id}}">{{option.pais}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-md-12 form-horizontal">
                                <h4><b>Detalles del fabricante</b></h4>
                                <div class = "recuadro ">
                                    <div class="form-group">
                                        <label  for="nombre-fabricante" class="control-label col-xs-11 col-sm-2" >*Nombre:</label>
                                        <div class="col-xs-11 col-sm-9" style="padding-right: 0px !important">
                                            <input required ng-model = "nombreFabricante" id="nombre-fabricante" type="text" class="form-control" placeholder="Nombre" ng-trim = "false" ng-change= "trimRequired('nombreFabricante')" ng-blur = "blurRequired('nombreFabricante')" ng-focus = "auxTrim = nombreFabricante">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="lugar-fabricante" class="control-label col-xs-11 col-sm-2">Lugar de fabricación:</label>
                                        <div class="col-xs-11 col-sm-5">
                                            <input ng-model = "ciudadFabricacion" id="lugar-fabricante" type="text" class="form-control" placeholder="Lugar de fabricación">
                                        </div>
                                        <label class="control-label col-xs-11 col-sm-1">Fecha:</label>
                                          <div class="col-xs-11 col-sm-3" style="padding-right: 0px !important" >
                                             <p class="input-group">
                                              <input  placeholder="dd-mm-yyyy" type="text" disabled class="form-control" datepicker-popup="{{format}}" ng-change="orig_change2(dt_orig2)" ng-model="dt_orig2" is-open="opened_orig" min-date="minDate" max-date="today()" current-text="Hoy" clear-text="Limpiar" close-text="Cerrar" datepicker-options="dateOptions" ng-required="true" />
                                              <span class="input-group-btn">
                                                <button  type="button" class="btn btn-default" ng-click="open_orig($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                              </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class=" col-md-12">
                            <h4><b>Editoriales existentes</b></h4>
                                <div class = "recuadro col-xs-12">
                                    <form ng-submit="buscarEditorialesSistema()">
                                        <div class="col-xs-12 col-md-9" style="padding-left: 0px !important; margin-left: 0px !important">
                                            <div class=" input-group">
                                                <input type="text" class="form-control" ng-model = "busquedaEditorial" placeholder="Buscar por Editorial">
                                                <span class="input-group-btn">
                                                <button type ="submit" type="button" class="btn btn-primary">
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-3" style="margin-bottom: 15px !important" >
                                            <button ng-click = "obtenerEditorialesSistema()" type="button" class="btn btn-primary " ng-disabled = '!busquedaEditorialActiva'>Limpiar búsqueda</button>
                                        </div>
                                    </form>
                                <table style = "height:150px!important; margin-bottom: 0px!important" id = "tablaEditorial" class = "table table-responsive table-striped table-bordered tableScroll" style = "  height: 100px !important">
                                    <thead>
                                        <tr>
                                            <th  class="col-xs-6 thScroll">Editoriales</th>
                                            <th class="col-xs-3 thScroll">Ciudad</th>
                                            <th class="col-xs-3 thScroll">País</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="editorialSistema in editorialesSistema" ng-class = "agregarClaseFilaEditorialSistema(editorialSistema)" ng-click = "encenderFlechaAbajoEditorial(editorialSistema, $index)" ng-dblclick = "agregarEditorialDocumento()">
                                            <td >{{editorialSistema.editorial_salida}}</td>
                                            <td>{{editorialSistema.ciudad.replace(':',"")}}</td>
                                            <td>{{editorialSistema.pais}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="text-align: center !important" style="padding-top:0px !important; margin-top: 0px !important">
                                    <pagination id="mypage"  ng-if ="numPagesEditorial > 1" total-items="totalItemsEditorial" ng-model="currentPageEditorial" ng-change="pageChangedEditorial(currentPageEditorial)" max-size="12" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="15" num-pages="numPages"></pagination>            
                                    <pre> Página: {{currentPageEditorial}} / {{numPagesEditorial}}</pre>
                                </div>
                                  
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12 mtb-2px" align="center">
                                <button ng-disabled = "claseFlecha2 == ''" type="button" class="btn btn-primary mr-5px" ng-click = "agregarEditorialSistema()" ng-class="claseFlecha2"  >
                                    <bold>
                                        Eliminar del documento
                                    </bold>
                                </button>
                                <button ng-disabled = "claseFlecha == ''" type="button" class="btn btn-primary mr-5px"  ng-click = "agregarEditorialDocumento()" ng-class="claseFlecha">
                                    <bold>
                                        Agregar al documento
                                    </bold>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-11" >
                            <h4><b>Editoriales del documento</b></h4>
                            <b>Nota: La editoral ubicada en la primera posición, será la mostrada por defecto en la pantalla principal</b>
                            <div class = "recuadro col-xs-12">
                                <table style = "height: 150px!important" class=" table table-responsive table-striped table-bordered tableScroll">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-6 thScroll">Editoriales</th>
                                            <th class="col-xs-3 thScroll">Ciudad</th>
                                            <th class="col-xs-3 thScroll">País</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="editorialDocumento in editorialesDocumento" ng-class = "agregarClaseFilaEditorialDocumento(editorialDocumento)" ng-click = "encenderFlechaArribaEditorial(editorialDocumento, $index)">
                                            <td >{{editorialDocumento.editorial_salida}}</td>
                                            <td>{{editorialDocumento.ciudad.replace(':',"")}}</td>
                                            <td>{{editorialDocumento.pais}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-1" style="padding-left: 0px; text-align:center;">
                            <div class="hidden-xs">
                                <br>
                                <br>
                            </div>
                            <button type="button" class="btn btn-default mb-5px" ng-click= "moveUpEditorial(indiceEditorialDocumentoActual )">
                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default mb-5px" ng-click= "moveDownEditorial(indiceEditorialDocumentoActual)">
                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                            </button><br>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="limpiarEditorial()" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-default" ng-click="guardarEditorial(); guardarEditorialModal = true" data-dismiss="modal">Guardar</button>
                
                </div>
            </div>
        </div>
    </div>


    <!-- Modal coleeccion-->
    <div class="modal fade" id="coleccion" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><b>Colección a la que pertenece el documento</b></h3>
                </div>
                <div class="modal-body">
                    <div class="row ">
                        <div class="col-xs-12 col-md-5"></div>
                        <div class="col-xs-12 col-sm-6 col-md-3"></div>
                        <div class="col-xs-12 col-sm-6 col-md-4 mtb-2px" align="right">
                            <button type="button" class="btn btn-default mr-5px" >
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default mr-5px" >
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default mr-5px" >
                            <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-12 form-horizontal">
                            <h4><b>Detalles de la Colección</b></h4>
                            <div class = "recuadro ">
                                <div class="form-group">
                                    <label for="titulo-coleccion" class="control-label col-xs-11 col-sm-2">Título:</label>
                                    <div class="col-xs-11 col-sm-9">
                                        <input id="titulo-coleccion" type="text" class="form-control" placeholder="Título">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-12">
                            <h4><b>Colecciones registradas en el sistema</b></h4>
                            <div class = "recuadro col-xs-12">
                                <table class=" table table-responsive table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-6">Título de la colección</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>APPLIED MATEMATICAL SCIENCIES</td>
                                        </tr>
                                        <tr>
                                            <td>BOLETIN DE GEOLOGÍA PUBLICACION ESPECIAL</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="col-xs-12 col-md-6 col-md-offset-3 mtb-2px">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Buscar por Colección">
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12 mtb-2px" align="center">
                                <button type="button" class="btn btn-default mr-5px" >
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default mr-5px" >
                                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-12">
                            <h4><b>Colección asociada al documento</b></h4>
                            <div class = "recuadro col-xs-12">
                                <table class=" table table-responsive table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-6">Título de la colección</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Coleccion nuevo Ejecutivo</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Serie-->
    <div class="modal fade" id="serie" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><b>Serie a la que pertenece el documento</b></h3>
                </div>
                <div class="modal-body">
                    <div class="row ">
                        <div class="col-xs-12 col-md-5"></div>
                        <div class="col-xs-12 col-sm-6 col-md-3"></div>
                        <div class="col-xs-12 col-sm-6 col-md-4 mtb-2px" align="right">
                            <button type="button" class="btn btn-default mr-5px" >
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default mr-5px" >
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default mr-5px" >
                            <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" >
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-12 form-horizontal">
                            <h4><b>Serie asociada</b></h4>
                            <div class = "recuadro ">
                                <div class="form-group">
                                    <label for="titulo-serie" class="control-label col-xs-11 col-sm-2">Título:</label>
                                    <div class="col-xs-11 col-sm-9">
                                        <input id="titulo-serie" type="text" class="form-control" placeholder="Nombre">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-12">
                            <h4><b>Series Monográficas registradas en el sistema</b></h4>
                            <div class = "recuadro col-xs-12">
                                <table class=" table table-responsive table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-6">Título de la serie monográfica</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td >College Outline Series</td>
                                        </tr>
                                        <tr>
                                            <td>International Series in Pure and Applied Mathematics</td>
                                        </tr>
                                        <tr>
                                            <td>Mathematics and its applications Soviet Series</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="col-xs-12 col-md-6 col-md-offset-3 mtb-2px">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Buscar por Colección">
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-12 mtb-2px" align="center">
                                <button type="button" class="btn btn-default mr-5px" >
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default mr-5px" >
                                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-12">
                            <h4><b>Serie monigráfica asociada al documento</b></h4>
                            <div class = "recuadro col-xs-12">
                                <table class=" table table-responsive table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-6">Título de la serie monográfica</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Serie nuevo Ejecutivo</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Importar z39.50-->
    <div class="modal fade" id="importarZ3950" role="dialog">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><b>Importar mediante Z39.50</b></h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class=" col-md-12 form-horizontal">
                            <div class = "">
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-4">
                                        <select id = "tipoBusqueda" class="form-control">
                                            <option>Título</option>
                                            <option>Cota</option>
                                            <option>Autor</option>
                                            <option>Editorial</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-5 pl-0px">
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-xs-2 pl-0px">
                                        <select class="form-control">
                                            <option value="0" selected="selected" label="Y">Y</option>
                                            <option value="1" label="O">O</option>
                                            <option value="2" label="NO">NO</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-1 pl-0px" >
                                        <button  type="button" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>           
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fechaZ" class="control-label col-xs-11 col-sm-3" style="padding-left:0px;">Fecha:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <input id="fechaZ" type="text" class="form-control" placeholder ="Fecha">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-11 col-sm-3">País:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <select  class="form-control">
                                            <option>Venezuela</option>
                                            <option>Colombia</option>
                                            <option>México</option>
                                            <option>Panamá</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="isbnZ" class="control-label col-xs-11 col-sm-3" style="padding-left:0px;">ISBN:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <input id="isbnZ" type="text" class="form-control" placeholder ="ISBN">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="eanZ" class="control-label col-xs-11 col-sm-3" style="padding-left:0px;">EAN:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <input id="eanZ" type="text" class="form-control" placeholder="EAN">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="ordenB" class="control-label col-xs-11 col-sm-3">Servidor Z39.50:</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <select id = "ordenB" class="form-control">
                                            <option value="0" selected="selected" label="Library of Congress (LC)">Library of Congress (LC)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <div class="col-xs-12 text-center">
                                        <button  type="button"  class="btn btn-success" title="Añadir nuevos campos de búsqueda">
                                        <i class="fa fa-plus-square"></i>           
                                        </button>
                                        <button title="Buscar recursos" type="button" class="btn btn-primary" title="Buscar recursos">
                                        <i class="fa fa-search"></i>            
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal buscador simple-->
    <div style = " z-index:9000; overflow-y: auto;" class="modal fade" id="buscadorSimple" role="dialog">
       <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><b>Buscador simple</b></h3>
             </div>
             <div class="modal-body">
                <form class="simple_search" class="form-inline" ng-submit="consultar_buscador_simple(selectedBuscadorSimple)">
                   <div class="col-md-6">
                      <div class="form-group">  
                         <label for="exampleInputEmail2">Campo de búsqueda</label>
                         <input autocomplete = "off" style="width: 300px !important" id="buscador" type="text" ng-model="selectedBuscadorSimple" ng-change="verificar_paste(selectedBuscadorSimple)" placeholder="Buscar por: Título | Editorial" ng-paste="paste=true" ng-init="paste=true"  typeahead-on-select='consultar_buscador_simple(selectedBuscadorSimple)' typeahead="state for state in loadingStates3($viewValue) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading" class="form-control" >
                         <button title="Buscar" class="btn btn-primary" type="submit" ng-click="buscar()" data-placement="rigth" modal-title="Buscar recurso" ng-disabled="bool_disable" > <i class = "fa  fa fa-search"  > </i>
                         </button>
                         <i ng-show="loading" class="glyphicon glyphicon-refresh fa-spin"></i>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="form-group">      
                         <label for="exampleInputEmail2">Orden</label>
                         <select   ng-disabled="bool_disable" ng-model='orden_seleccionado' ng-change="consultar_buscador_simple(selectedBuscadorSimple)" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched"
                            ng-options='opt as opt.label for opt in options_orden'>
                         </select>
                      </div>
                   </div>
                </form>
                <br>
                <div  ng-if="totalItems > 0 &&  bool_table_recursos" class="col-md-12 alert alert-success">
                   <strong>Se han encontrado {{totalItems}} recursos!</strong>
                </div>
                <div ng-if="totalItems == 0 && bool_table_recursos" class=" col-md-12 alert alert-warning">
                   <strong>Se han encontrado {{totalItems}} recursos!</strong>
                </div>
                <table style = "height: 350px !important" ng-if="bool_table_recursos" class="table table-bordered table-hover" data-pattern="priority-columns">
                   <tr class="tr_header_table">
                     
                       <th class="header_table">
                         <h2>Título</h2>
                      </th>

                      <th class="header_table">
                         <h2>Tipo</h2>
                      </th>

                      <th class="header_table">
                         <h2>Periodicidad</h2>
                      </th>
                      <!--      <th>Acciones</th> -->
                   </tr>
                   <!--  ng-style="{'background-color': '#dff0d8'}" -->
                   <tr ng-if = "recurso.nivel_reg == 's'" ng-click ="desplegar_recurso(recurso.id,$index)" ng-repeat="recurso in recursosBuscador">
                     
                      <td >
                         <div ng-repeat="titulo in recurso.titulos">
                            <div ng-if="titulo.tipo_tit == 'OP'  ">
                               {{titulo.titulo_salida}}
                            </div>
                         </div>
                      </td>
                     
                      <td ng-if = "recurso.publicacion_seriada[0].tipo == 'S'">Publicación periódica </td>
                      <td ng-if = "recurso.publicacion_seriada[0].tipo == 'P'">Periódico </td>
                      <td ng-if = "recurso.publicacion_seriada[0].tipo == 'D'">Monografía seriada </td>
                      <td ng-if = "recurso.publicacion_seriada[0].tipo == 'N'">Ninguna de las anteriores </td>

                      <td >{{recurso.publicacion_seriada[0].periodo}} </td>

                   </tr>
                </table>
                <pagination id="mypage" ng-if="bool_table_recursos"  total-items="totalItems" ng-model="currentPage" ng-change="pageChanged(currentPage)" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="num_items_pagina" num-pages="numPages"></pagination>
                <pre ng-if="bool_table_recursos"> Página: {{currentPage}} / {{numPages}}</pre>
             </div>
             <div style="clear: both"></div>
             <div class="modal-footer">
                <button ng-click = "selectedBuscadorSimple = ''" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
             </div>
          </div>
       </div>
    </div>
    <!-- Modal Loader-->
    <div id="loader" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible; z-index:20000">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header"><h3 style="margin:0;">Cargando...</h3></div>
                <div class="modal-body">

                    <div class="progress progress-striped active" style="margin-bottom:0;">
                        <div class="progress-bar" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal QR-->
    <div class="modal fade" id="mostrarQR" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><b>Código QR del recurso</b></h3>
                </div>
                <div class="modal-body">
                    <div style="text-align:center; padding-right: 0px;padding-left: 0px">
                          <br>
                          <div class="container_qr" style="padding-right: 15%;padding-left: 15%">
                            <div data-ng-if="ruta_qr">
                                <qr size="180" text="ruta_qr"> </qr>
                            </div>
                          </div>
                          <br>
                      </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Busquedas avanzada-->
    <div style = " z-index:9000; overflow-y: auto;" class="modal fade" id="busquedaAvanzada" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><b>Búsqueda Avanzada de Publicaciones Seriadas</b></h3>
                </div>
                <div class="modal-body">  
                    <div class="row">
                        <div class=" col-md-12 form-horizontal">
                            <div ng-show = "mostrarBuscador" >
                                <div ng-repeat="input in inputs">
                                    <form >
                                        <div class="form-group" >
                                            <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                                                <select class="form-control multiple input-xsmall"  ng-model='input.opt1.select_model' ng-options='opt as opt.label for opt in options.opciones1' ng-change = "colocar_typeahead($index,input.opt1.select_model.value)">
                                                </select>
                                            </div>
                                            <div class="col-xs-12 col-sm-4 pl-0px">
                                                <input type="text"  ng-init="paste=false" typeahead="state for state in loadingStates4($viewValue, input.opt1.select_model.value) | limitTo:5  | filter:$viewValue" typeahead-wait-ms="500" typeahead-focus-first="false" typeahead-loading="loading" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched" ng-model="input.opt1.text_model" >
                                            </div>
                                            <div class="col-xs-2 col-sm-1 pl-0px">
                                                <select  ng-class="{ form_sin_y: $last}" ng-hide="$last"  class="form-control multiple input-xsmall"  ng-model='input.opt2.select_model'
                                             ng-options='opt as opt.label for opt in options.opciones2'>
                                                </select>
                                                 <button ng-hide="!$last"  type="button" ng-show = "bool_add_button"  ng-click="add_option()" class="btn btn-success" title="Añadir nuevos campos de búsqueda">
                                                <i class="fa fa-plus-square"></i>           
                                                </button>
                                            </div>

                                            <div class="col-xs-1 col-sm-1  pl-0px" style="margin-left: 0px !important">
                                                <button type="button" ng-click="delete($index)" class="btn btn-danger" data-toggle="{{mytooltips[$index].tooltip}}" data-placement="{{mytooltips[$index].position}}" title="{{mytooltips[$index].title}}">
                                                <i class="fa fa-trash"></i>           
                                                </button> 
                                            </div>                   
                                        </div>
                                    </form>
                                </div>
                                <form>
                                    <div class="form-group">
                                        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                                            <input  maxlength="4" ng-change="anios.anio_origen = validarInputAnio(anios.anio_origen)" ng-show = "bool_add_button" ng-model="anios.anio_origen" placeholder = "Año inicio ej: 1991" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
                                        </div>
                                        <div class="col-xs-12 col-sm-5 ">
                                            <input   maxlength="4" ng-change="anios.anio_destino = validarInputAnio(anios.anio_destino)" ng-show = "bool_add_button"  ng-model="anios.anio_destino" placeholder= "Año fin ej: 2000" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched">
                                        </div>
                                    </div>
                                </form>
                                <form>
                                    <div class="form-group" >
                                        <label  class="control-label col-xs-11 col-sm-3" ng-show="bool_add_button" for="exampleInputEmail2"> Ubicación </label>
                                        <div class="col-xs-12 col-sm-8">
                                            <select ng-show="bool_add_button" class="form-control multiple input-xsmall"  ng-model='options_bibliotecas_seleccionado'
                                                ng-options='opt as opt.label for opt in options_bibliotecas'>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                <!--
                                <form >
                                    <div class="form-group" >
                                        <label class="control-label col-xs-11 col-sm-3" ng-show="bool_add_button" for="exampleInputEmail2"> Dependencias: </label>
                                        <div class="col-xs-12 col-sm-8">
                                            <select ng-show="bool_add_button" class="form-control multiple input-xsmall"  ng-model='options_dependencias_seleccionado'
                                                ng-options='opt as opt.label for opt in options_dependencias'>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                                -->
                                <form >
                                    <div class="form-group">  
                                        <label class="control-label col-xs-11 col-sm-3" ng-show="bool_add_button" for="exampleInputEmail2">Nro. de recursos:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <input ng-show="bool_add_button" type="number" ng-model="num_items_pagina3" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched" data-toggle="tooltip" data-placement="rigth" title="Cantidad de recursos por página">
                                        </div>
                                    </div>
                                </form>
                                
                                <form >
                                    <div class="form-group">      
                                        <label   class="control-label col-xs-11 col-sm-3" ng-show="bool_add_button" for="exampleInputEmail2">Orden:</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <select  ng-disabled = "loading" ng-show="bool_add_button"  ng-model='orden_seleccionado' ng-change="consulta_buscador_avanzado()" class="form-control ng-pristine ng-scope ng-invalid ng-invalid-required ng-touched"
                                                ng-options='opt as opt.label for opt in options_orden'>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <form >
                                <div class="form-group" >
                                    <div class="col-xs-12 text-center">
                                       
                                        <button ng-disabled = "loading" title="Buscar recursos" type="button" ng-show = "mostrarBuscador"   ng-click="consulta_buscador_avanzado()" class="btn btn-primary" title="Buscar recursos">
                                        <i class="fa fa-search"></i>  Buscar Recursos          
                                        </button>
                                        <i ng-show="loading" class="glyphicon glyphicon-refresh fa-spin"></i>
                                        <button ng-disabled = "loading" title="Buscar recursos" type="button"  ng-show = "!mostrarBuscador"   ng-click="mostrarBuscador = true" class="btn btn-primary" title="Buscar recursos">
                                        <i class="glyphicon glyphicon-eye-open"></i>  Mostrar buscador          
                                        </button>
                                         <button ng-disabled = "loading" title="Buscar recursos" type="button"  ng-show = "mostrarBuscador && busquedaEncontrada"   ng-click="mostrarBuscador = false" class="btn btn-primary" title="Buscar recursos">
                                        <i class="glyphicon glyphicon-eye-close"></i>  Ocultar buscador          
                                        </button>
                                        
                                       
                                    </div>
                                </div>
                                
                            </form>
                            
                            <div>
                                <br>
                                 <div  ng-if="totalItems > 0 &&  bool_table_recursos" class="col-md-12 alert alert-success">
                                   <strong>Se han encontrado {{totalItems}} recursos!</strong>
                                </div>
                                <div ng-if="totalItems == 0 && bool_table_recursos" class=" col-md-12 alert alert-warning">
                                   <strong>No se encontró ningún resultado para la búsqueda</strong>
                                </div>
                                <table style = "height: 350px !important" ng-if="bool_table_recursos" class="table table-bordered table-hover" data-pattern="priority-columns">
                                   <tr class="tr_header_table">
                                 
                                      <th class="header_table">
                                         <h2>Título</h2>
                                      </th>
   
                                      <th class="header_table">
                                         <h2>Tipo</h2>
                                      </th>

                                      <th class="header_table">
                                         <h2>Periodicidad</h2>
                                      </th>
                                      <!--      <th>Acciones</th> -->
                                   </tr>
                                   <!--  ng-style="{'background-color': '#dff0d8'}" -->
                                   <tr ng-if="recurso.nivel_reg == 's'" ng-click ="desplegar_recurso(recurso.id,$index)" ng-repeat="recurso in recursosBuscador">
                                
                                      <td >
                                         <div ng-repeat="titulo in recurso.titulos">
                                            <div ng-if="titulo.tipo_tit == 'OP'  ">
                                               {{titulo.titulo_salida}}
                                            </div>
                                         </div>
                                      </td>
                                     
                                      <td ng-if = "recurso.publicacion_seriada[0].tipo == 'S'">Publicación periódica </td>
                                      <td ng-if = "recurso.publicacion_seriada[0].tipo == 'P'">Periódico </td>
                                      <td ng-if = "recurso.publicacion_seriada[0].tipo == 'D'">Monografía seriada </td>
                                      <td ng-if = "recurso.publicacion_seriada[0].tipo == 'N'">Ninguna de las anteriores </td>

                                      <td >{{recurso.publicacion_seriada[0].periodo}} </td>
                                   </tr>
                                </table>
                                <pagination id="mypage" ng-if="bool_table_recursos"  total-items="totalItems" ng-model="currentPage" ng-change="pageChangedAvanzado(currentPage)" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="num_items_pagina" num-pages="numPages"></pagination>
                                <pre ng-if="bool_table_recursos"> Página: {{currentPage}} / {{numPages}}</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Confirmacion eliminar archivo-->
    <div id="confirmacionCargarArchivo" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <p>{{msjConfirmacion}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" ng-click="eliminarArchivo()" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="mostrarBarras" class="modal fade" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header"><h4 style="margin:0;">Buscar por código de barra</h4></div>
                <form ng-submit="buscarRecursoId()">
                    <div class="modal-body">
                        <div >
                            <label type="text" class="control-label">Código de barra:</label>
                            <input id="enterBarcode" focus-me="true" type="text" class="form-control" placeholder="" ng-model="codigoBarra"  autocomplete="off">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" >Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

